.po-textarea {
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-color: var(--color-textarea-border, var(--color));
  background: var(--color-textarea-background-color, var(--background));
  color: var(--text-color);

  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  padding: var(--spacing-squish-sm);
  border-radius: var(--border-radius-md);
  border-width: var(--border-width-sm);
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  resize: both;
}

.po-textarea::placeholder {
  color: var(--text-color-placeholder);
}

.po-textarea:hover {
  border-color: var(--color-hover);
  background: var(--background-hover);
}

.po-textarea:focus-visible {
  border-color: var(--color-textarea-border-focusable, var(--color-focused));
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-textarea:read-only {
  color: var(--text-color-readonly);

  border-color: var(--color-disabled);
  background: var(--color-textarea-background-color, var(--background));
  cursor: text;
}

.po-textarea:disabled {
  border-color: var(--color-textarea-border-color-disabled, var(--color-disabled));
  background: var(--color-textarea-background-color-disabled, var(--background-disabled));

  color: var(--input-text);
  cursor: not-allowed;
}

po-textarea.ng-invalid.ng-dirty .po-textarea {
  border-color: var(--color-textarea-color-error, var(--color-error));

  background: var(--color-textarea-background-color, var(--background));
  cursor: text;
}
