:root {
  --font-textarea-text: {
    @apply --font-text-large;
  }

  --font-textarea-text-smaller: {
    @apply --font-text;
  }

  --font-textarea-error-message: {
    @apply --font-text-bold;
  }

  --font-textarea-error-text: {
    @apply --font-text-small;
  }

  --shadow-textarea-box-shadow: var(--shadow-input);
}

ani-textarea {
  --color: var(--color-textarea-border, var(--color-neutral-dark-70));
  --background: var(--color-textarea-background-color, var(--color-neutral-light-05));
  --color-hover: var(--color-brand-02-dark);
  --background-hover: var(--color-brand-02-lightest);
  --color-focused: var(--color-textarea-border-focusable, var(--color-brand-02-base));
  --color-disabled: var(--color-textarea-color-disabled, var(--color-action-disabled));
  --background-disabled: var(--color-textarea-background-color-disabled, var(--color-neutral-light-20));
}

po-textarea.ng-invalid.ng-dirty ani-textarea {
  --color: var(--color-textarea-color-error, var(--color-feedback-negative-base));
}
