.po-textarea {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  border-color: var(--color);
  background: var(--background);
  color: var(--text-color);

  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  padding: var(--spacing-squish-sm);
  border-radius: var(--border-radius-md);
  border-width: var(--border-width-sm);
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  resize: both;
}

[data-a11y='AA'] .po-textarea[p-size='small'] {
  font-size: var(--font-size, var(--font-size-sm));
  padding: var(--spacing-squish-xs);
}

.po-textarea::placeholder {
  color: var(--text-color-placeholder);
}

.po-textarea:hover {
  border-color: var(--color-hover);
  background: var(--background-hover);
}

.po-textarea:focus-visible {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width-focus-visible);
  outline-style: solid;
  outline-offset: 2px;
}

.po-textarea:read-only {
  color: var(--text-color-readonly);

  border-color: var(--color-disabled);
  background: var(--background);
  cursor: text;
}

.po-textarea:disabled {
  border-color: var(--color-disabled);
  background: var(--background-disabled);

  color: var(--input-text);
  cursor: not-allowed;
}

po-textarea.ng-invalid.ng-dirty .po-textarea {
  border-color: var(--color-error);

  background: var(--background);
  cursor: text;
}

po-textarea.ng-invalid.ng-dirty .po-textarea:disabled {
  border-color: var(--color-disabled);
  background: var(--background-disabled);
  cursor: not-allowed;
}

po-textarea .po-textarea-loading-container .po-loading-icon-container {
  display: flex;
}

.po-textarea-loading-container {
  position: absolute;
  top: 1.125rem;
  right: var(--spacing-2xs);
  pointer-events: none;
}

[data-a11y='AA'] .po-field-container-content[p-size='small'] .po-textarea-loading-container {
  top: 0.75rem;
}

po-textarea textarea.po-textarea.has-loading {
  padding-right: 44px;
}

[data-a11y='AA'] po-textarea textarea.po-textarea.has-loading[p-size='small'] {
  padding-right: 32px;
}

po-textarea textarea.has-loading.has-scroll + .po-textarea-loading-container {
  right: 20px;
}

[data-a11y='AA'] po-textarea textarea.has-loading.has-scroll[p-size='small'] + .po-textarea-loading-container {
  right: 16px;
}
