.po-textarea {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  border-color: var(--color);
  background: var(--background);
  color: var(--text-color);

  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  padding: var(--spacing-squish-sm);
  border-radius: var(--border-radius-md);
  border-width: var(--border-width-sm);
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  resize: both;
}

[data-a11y='AA'] .po-textarea[p-size='small'] {
  font-size: var(--font-size, var(--font-size-sm));
  padding: var(--spacing-squish-xs);
}

.po-textarea::placeholder {
  color: var(--text-color-placeholder);
}

.po-textarea:hover {
  border-color: var(--color-hover);
  background: var(--background-hover);
}

.po-textarea:focus-visible {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width-focus-visible);
  outline-style: solid;
  outline-offset: 2px;
}

.po-textarea:read-only {
  color: var(--text-color-readonly);

  border-color: var(--color-disabled);
  background: var(--background);
  cursor: text;
}

.po-textarea:disabled {
  border-color: var(--color-disabled);
  background: var(--background-disabled);

  color: var(--input-text);
  cursor: not-allowed;
}

po-textarea.ng-invalid.ng-dirty .po-textarea {
  border-color: var(--color-error);

  background: var(--background);
  cursor: text;
}
