.po-combo-input,
[data-a11y='AAA'] .po-combo-input-aa {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  color: var(--text-color);
  background-color: var(--background);
  padding-inline: var(--spacing-xs);
  border: 1px solid var(--color);
  border-radius: var(--border-radius);
  min-height: var(--target-size-aaa);
  box-sizing: border-box;
  width: 100%;
  min-width: var(--min-width);
}

.po-combo-input-aa {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
}

.po-combo-input:disabled,
.po-combo-input[disabled='true'] {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  color: var(--text-color);
  cursor: not-allowed;
}

.po-combo-input:focus {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-combo-input:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-combo-input:focus:hover,
.po-combo-input-focus:hover,
.po-combo-input:hover:not(:disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-combo-input::placeholder {
  color: var(--text-color-placeholder);
}

.po-combo-container {
  height: auto;
  position: fixed;
  z-index: 1000;
}

.po-combo-item-title {
  display: block;
  padding: 10px 16px;
  text-align: left;
  word-wrap: break-word;
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text-color);
  font-weight: bold;
}

[data-a11y='AA'] .po-listbox[p-size='small'] .po-combo-item-title {
  padding: var(--spacing-xxs) var(--spacing-xs);
}

li[aria-disabled='true']:has(.po-combo-item-title)
  ~ li.po-listbox-item:not([aria-disabled='true'])
  .po-item-list-label {
  padding: 0 8px;
}

po-combo .po-combo-container-wrapper {
  position: relative;
}

po-combo .po-combo-container-content .po-field-icon-container-right {
  inset-block: 0px;
  transform: translateY(0);
}

.po-combo-container-content .po-field-icon-container-left,
.po-combo-container-content .po-field-icon-container-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.po-combo-container-content .po-field-icon-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
}

.po-combo-container-content .po-combo-arrow .po-field-icon > i,
[data-a11y='AAA'] .po-combo-container-content .po-combo-arrow .po-field-icon-aa > i {
  height: var(--target-size-aaa);
  width: var(--target-size-aaa);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid var(--color);
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  font-size: var(--font-size-lg);
}

.po-combo-container-content .po-combo-arrow .po-field-icon-aa > i {
  height: var(--target-size-aa);
  width: var(--target-size-aa);
  font-size: var(--font-size-default);
}

.po-combo-input[disabled='true'] ~ .po-field-icon-container-right .po-field-icon-disabled i,
.po-combo-input:disabled ~ .po-field-icon-container-right .po-field-icon-disabled i,
[data-a11y='AAA'] .po-combo-input[disabled='true'] ~ .po-field-icon-container-right .po-field-icon-disabled-aa i,
.po-combo-input:disabled ~ .po-field-icon-container-right .po-field-icon-disabled-aa i {
  height: var(--target-size-aaa);
  width: var(--target-size-aaa);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid var(--color-disabled);
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.po-combo-input[disabled='true'] ~ .po-field-icon-container-right .po-field-icon-disabled-aa i,
.po-combo-input:disabled ~ .po-field-icon-container-right .po-field-icon-disabled-aa i {
  height: var(--target-size-aa);
  width: var(--target-size-aa);
}

.po-combo-clean:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
  z-index: 1;
}

.po-combo-clean:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-combo-clean:focus > i.po-field-icon,
.po-combo-clean:focus > i.po-field-icon:hover {
  border-color: var(--color);
}

.po-combo-input:focus ~ .po-field-icon-container-right .po-field-icon > i {
  border-color: var(--color-focused);
}

.po-combo-input:focus:hover ~ .po-field-icon-container-right .po-field-icon > i {
  border-color: var(--color-hover);
}

.po-combo-input:hover ~ .po-field-icon-container-right .po-field-icon > i {
  border-left-color: var(--color-hover);
}

.po-combo-container-content .po-field-icon > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color);
}

.po-combo-container-content .po-field-icon > i.po-icon-input:hover,
.po-combo-container-content
  .po-combo-input:focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color-focused);
}

.po-combo-container-content
  .po-combo-input-focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color-hover);
}

.po-combo-container-content .po-combo-clean .po-field-icon,
[data-a11y='AAA'] .po-combo-container-content .po-combo-clean-aa .po-field-icon {
  height: var(--target-size-aaa);
  width: var(--target-size-aaa);
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-combo-container-content .po-combo-clean-aa .po-field-icon {
  height: var(--target-size-aa);
  width: var(--target-size-aa);
  font-size: var(--font-size-default);
}

.po-combo-container-content:focus-within .po-combo-clean .po-field-icon {
  border-color: var(--color-focused);
}

.po-combo-clean .po-border-focused.po-field-icon:hover {
  border-color: var(--color-focused);
}

.po-combo-input:hover ~ .po-field-icon-container-right .po-field-icon > i.po-combo-default-border,
.po-combo-input:hover ~ .po-field-icon-container-right .po-combo-clean .po-field-icon {
  border-color: var(--color-hover);
}

.po-field-icon-container-right > .po-field-icon > i.po-combo-background-arrow-up {
  background: var(--background-hover);
  border-color: var(--color-focused);
}

.po-combo-clean .po-field-icon:hover {
  background: var(--background-hover);
  border-top: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.po-combo-input.po-input-icon-left,
[data-a11y='AAA'] .po-combo-input.po-input-icon-left-aa {
  padding-left: 44px;
}

.po-combo-input.po-input-icon-left-aa {
  padding-left: var(--target-size-aa);
}

.po-combo-input.po-input-icon-right,
[data-a11y='AAA'] .po-combo-input.po-input-icon-right-aa {
  padding-right: 52px;
}

.po-combo-input.po-input-icon-right-aa {
  padding-right: calc(var(--target-size-aa) + var(--spacing-xs));
}

.po-combo-input.po-input-double-icon-right,
[data-a11y='AAA'] .po-combo-input.po-input-double-icon-right-aa {
  padding-right: 96px;
}

.po-combo-input.po-input-double-icon-right-aa {
  padding-right: calc((var(--target-size-aa) * 2) + var(--spacing-xs));
}

po-combo.ng-invalid.ng-dirty .po-combo-input,
po-combo.ng-invalid.ng-dirty .po-combo-input:focus ~ .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty .po-combo-input:focus:hover ~ .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty
  .po-combo-container-content
  .po-combo-input:focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  border-color: var(--color-error);
  color: var(--color-error);
}

po-combo .po-field-container-content {
  display: inline-table;
}

.po-combo-field-wrapper,
.po-combo-flex-item {
  display: contents;
}

.po-combo-field-wrapper._active {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-xs);
  flex-wrap: nowrap;
  min-width: 0;
  padding-right: var(--spacing-xs);
}

.po-combo-field-wrapper._active .po-combo-flex-item {
  display: block;
  flex: 1 1 0;
  min-width: 0;
}

.po-combo-field-wrapper._active .po-field-container-content {
  display: block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.po-combo-field-wrapper._active .po-combo-container-content,
.po-combo-field-wrapper._active .po-combo-container-wrapper {
  min-width: 0;
}

.po-combo-field-wrapper._active .po-combo-input {
  min-width: 0;
  width: 100%;
}

.po-combo-field-wrapper._active po-helper {
  flex: 0 0 auto;
  position: relative;
  top: 4px;
}

.po-combo-field-wrapper._active po-helper:has(.po-helper-container[p-size='small']) {
  top: 2px;
}

po-combo .po-field-icon-container-right .po-loading-icon-container {
  display: flex;
}

.po-combo-container-content .po-field-icon-container-right po-loading-icon {
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-combo-container-content[p-size='small'] .po-field-icon-container-right po-loading-icon {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

po-combo[p-loading='true'].ng-dirty.ng-invalid .po-combo-input {
  background-color: var(--background-disabled);
  border-color: var(--color-disabled);
}

po-combo[p-loading='true'].ng-invalid.ng-dirty .po-field-icon {
  color: var(--color-neutral-light-30) !important;
}
