.po-combo-input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background);
  padding-inline: var(--spacing-xs);
  border: 1px solid var(--color);
  border-radius: var(--border-radius);
  min-height: 2.75em;
  box-sizing: border-box;
  width: 100%;
  min-width: var(--min-width);
}

.po-combo-input:disabled,
.po-combo-input[disabled='true'] {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  color: var(--text-color);
  cursor: not-allowed;
}

.po-combo-input:focus {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-combo-input:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-combo-input:focus:hover,
.po-combo-input-focus:hover,
.po-combo-input:hover:not(:disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-combo-input::placeholder {
  color: var(--text-color-placeholder);
}

.po-combo-container {
  height: auto;
  position: fixed;
  z-index: 1000;
}

.po-combo-item-title {
  display: block;
  padding: 10px 16px;
  text-align: left;
  word-wrap: break-word;
}

.po-combo-item-title {
  font-family: var(--font-family);
  background: var(--color-combo-background-color-group-title);
  color: var(--color-combo-color-group-title);
}

.po-combo-container-content .po-field-icon-container-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.po-combo-container-content .po-field-icon-container-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.po-combo-container-content .po-combo-arrow .po-field-icon > i {
  height: 2.75rem;
  width: 2.75rem;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid var(--color);
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-combo-input[disabled='true'] ~ .po-field-icon-container-right .po-field-icon-disabled i,
.po-combo-input:disabled ~ .po-field-icon-container-right .po-field-icon-disabled i {
  height: 2.75rem;
  width: 2.75rem;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid var(--color-disabled);
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.po-combo-clean:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
  z-index: 1;
}

.po-combo-clean:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-combo-clean:focus > i.po-field-icon,
.po-combo-clean:focus > i.po-field-icon:hover {
  border-color: var(--color);
}

.po-combo-input:focus ~ .po-field-icon-container-right .po-field-icon > i {
  border-color: var(--color-focused);
}

.po-combo-input:focus:hover ~ .po-field-icon-container-right .po-field-icon > i {
  border-color: var(--color-hover);
}

.po-combo-input:hover ~ .po-field-icon-container-right .po-field-icon > i {
  border-left-color: var(--color-hover);
}

.po-combo-container-content .po-field-icon > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color);
}

.po-combo-container-content .po-field-icon > i.po-icon-input:hover,
.po-combo-container-content
  .po-combo-input:focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color-focused);
}

.po-combo-container-content
  .po-combo-input-focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  background: var(--background-hover);
  border-color: var(--color-hover);
}

.po-combo-container-content .po-combo-clean .po-field-icon {
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-combo-container-content:focus-within .po-combo-clean .po-field-icon {
  border-color: var(--color-focused);
}

.po-combo-clean .po-border-focused.po-field-icon:hover {
  border-color: var(--color-focused);
}

.po-combo-input:hover ~ .po-field-icon-container-right .po-field-icon > i.po-combo-default-border,
.po-combo-input:hover ~ .po-field-icon-container-right .po-combo-clean .po-field-icon {
  border-color: var(--color-hover);
}

.po-field-icon-container-right > .po-field-icon > i.po-combo-background-arrow-up {
  background: var(--background-hover);
  border-color: var(--color-focused);
}

.po-combo-clean .po-field-icon:hover {
  background: var(--background-hover);
  border-top: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.po-combo-container-content .po-field-icon-container-right {
  right: 0px;
}

.po-combo-input.po-input-icon-left {
  padding-left: 44px;
}

.po-combo-input.po-input-icon-right {
  padding-right: 52px;
}

.po-combo-input.po-input-double-icon-right {
  padding-right: 96px;
}

po-combo.ng-invalid.ng-dirty .po-combo-input,
po-combo.ng-invalid.ng-dirty .po-combo-input:focus ~ .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty .po-combo-input:focus:hover ~ .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty .po-field-icon-container-right .po-field-icon > i,
po-combo.ng-invalid.ng-dirty
  .po-combo-container-content
  .po-combo-input:focus
  ~ .po-field-icon-container-right
  .po-field-icon
  > i.po-icon-input:hover {
  border-color: var(--color-error);
  color: var(--color-error);
}

po-combo .po-field-container-content {
  display: inline-table;
}

po-combo.po-md-1,
po-combo.po-md-2 {
  --min-width: 0px;
}

po-combo.po-md-1 .po-combo-input.po-input-icon-right {
  padding-right: 0px;
}

po-combo.po-md-1 .po-loading,
po-combo.po-md-2 .po-loading {
  width: calc(16.5rem / 4.75);
}

@media (min-width: 141px) and (max-width: 160px) {
  po-combo.po-md-1 .po-loading,
  po-combo.po-md-2 .po-loading,
  po-combo.po-md-3 .po-loading,
  po-combo.po-md-4 .po-loading,
  po-combo.po-md-5 .po-loading,
  po-combo.po-md-6 .po-loading,
  po-combo.po-md-7 .po-loading,
  po-combo.po-md-8 .po-loading,
  po-combo.po-md-9 .po-loading,
  po-combo.po-md-10 .po-loading,
  po-combo.po-md-11 .po-loading,
  po-combo.po-md-12 .po-loading {
    width: calc(16.5rem / 2.75);
  }
}

@media (min-width: 161px) and (max-width: 480px) {
  po-combo.po-md-1 .po-loading,
  po-combo.po-md-2 .po-loading,
  po-combo.po-md-3 .po-loading,
  po-combo.po-md-4 .po-loading,
  po-combo.po-md-5 .po-loading,
  po-combo.po-md-6 .po-loading,
  po-combo.po-md-7 .po-loading,
  po-combo.po-md-8 .po-loading,
  po-combo.po-md-9 .po-loading,
  po-combo.po-md-10 .po-loading,
  po-combo.po-md-11 .po-loading,
  po-combo.po-md-12 .po-loading {
    width: calc(16.5rem / 2);
  }
}

@media (min-width: 481px) and (max-width: 939px) {
  po-combo.po-md-1 .po-loading,
  po-combo.po-md-2 .po-loading {
    width: calc(16.5rem / 6.75);
  }
}

@media (min-width: 940px) and (max-width: 1200px) {
  po-combo.po-md-1 .po-loading,
  po-combo.po-md-2 .po-loading {
    width: calc(16.5rem / 4.75);
  }
}

@media (min-width: 426px) and (max-width: 1200px) {
  po-combo.po-md-1 .po-field-icon-container-left {
    display: none;
  }
}
