:root {
  --font-popover-font-title: {
    @apply --font-text-bold;
  }

  --popover-border-radius: 3px;

  --shadow-popover-box-shadow: var(--shadow-popover);
  --shadow-popover-box-shadow-arrow: -1px -1px 1px 0 var(--color-neutral-light-20);
}

.po-popover {
  background-color: var(--color-neutral-light-00);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-neutral-light-20);
  max-height: 800px;
  max-width: 800px;
  min-height: 172px;
  min-width: 240px;
  position: fixed;
  z-index: 1000;
}

.po-popover-arrow {
  background-color: var(--color-popover-background-color-arrow);
  box-shadow: var(--shadow-popover-box-shadow-arrow);
}

.po-popover-content {
  padding: var(--po-density-floating-padding, var(--default-spacing-squish-xs, var(--spacing-sm)));
  width: 100%;
  max-height: 768px;
  overflow: auto;
}

.po-popover-title {
  @apply --font-popover-font-title;
  color: var(--color-popover-color-text-title);
  display: block;
  line-height: var(--line-height-md);
  margin-bottom: 8px;
}

[data-default-size='small'][data-a11y='AA'] .po-popover-title,
[data-default-size='small'][data-a11y='AA'] .po-popover-content {
  font-size: var(--font-size-sm);
}
