$gridSystemPullMaxWidth: 480px;
$gridSystemOffsetMaxWidth: 480px;
$gridSystemSmMaxWidth: 480px;
$gridSystemMdMinWidth: 481px;
$gridSystemMdMaxWidth: 960px;
$gridSystemLgMinWidth: 961px;
$gridSystemLgMaxWidth: 1366px;
$gridSystemXlMinWidth: 1367px;

:root {
  --gridSystemSmMaxWidth: 480px;
  --gridSystemMdMinWidth: 481px;
  --gridSystemMdMaxWidth: 960px;
  --gridSystemLgMinWidth: 961px;
  --gridSystemLgMaxWidth: 1366px;
  --gridSystemXlMinWidth: 1367px;
  --gridSystemPullMaxWidth: 480px;
  --gidSystemOffsetMaxWidth: 480px;
  --border-radius-none: none;
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
  --border-radius-pill: 400px;
  --border-width-none: none;
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 4px;
  --border-width-xl: 8px;
  --color-feedback-info-lightest: #e3e9f7;
  --color-feedback-info-lighter: #b0c1e8;
  --color-feedback-info-light: #7996d7;
  --color-feedback-info-base: #23489f;
  --color-feedback-info-dark: #173782;
  --color-feedback-info-darker: #0f2557;
  --color-feedback-info-darkest: #081536;
  --color-feedback-negative-lightest: #f6e6e5;
  --color-feedback-negative-lighter: #e3aeab;
  --color-feedback-negative-light: #d58581;
  --color-feedback-negative-base: #be3e37;
  --color-feedback-negative-dark: #9b2d27;
  --color-feedback-negative-darker: #72211d;
  --color-feedback-negative-darkest: #4a1512;
  --color-feedback-positive-lightest: #def7ed;
  --color-feedback-positive-lighter: #7ecead;
  --color-feedback-positive-light: #41b483;
  --color-feedback-positive-base: #107048;
  --color-feedback-positive-dark: #0f5236;
  --color-feedback-positive-darker: #083a25;
  --color-feedback-positive-darkest: #002415;
  --color-feedback-warning-lightest: #fcf6e3;
  --color-feedback-warning-lighter: #f7dd97;
  --color-feedback-warning-light: #f1cd6a;
  --color-feedback-warning-base: #efba2a;
  --color-feedback-warning-dark: #d8a20e;
  --color-feedback-warning-darker: #705200;
  --color-feedback-warning-darkest: #473400;
  --color-caption-categorical-01: #004cff;
  --color-caption-categorical-02: #c25534;
  --color-caption-categorical-03: #792cc7;
  --color-caption-categorical-04: #008768;
  --color-caption-categorical-05: #d62793;
  --color-caption-categorical-06: #d44317;
  --color-caption-categorical-07: #4779a8;
  --color-caption-categorical-08: #ad6207;
  --color-caption-categorical-overlay-01: #739cfd;
  --color-caption-categorical-overlay-02: #f6b5a1;
  --color-caption-categorical-overlay-03: #c6a8e6;
  --color-caption-categorical-overlay-04: #69cab8;
  --color-caption-categorical-overlay-05: #f3afd9;
  --color-caption-categorical-overlay-06: #fca58b;
  --color-caption-categorical-overlay-07: #99bfe3;
  --color-caption-categorical-overlay-08: #e8b16e;
  --shadow-none: 0 0 0 var(--color-neutral-light-00);
  --shadow-sm: 0 1px 4px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent),
    0 0 3px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent);
  --shadow-md: 0 4px 8px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent),
    0 0 3px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent);
  --shadow-lg: 0 6px 12px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent),
    0 0 3px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent);
  --shadow-xl: 0 16px 24px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent),
    0 0 3px 0 color-mix(in srgb, var(--color-neutral-dark-95) 10%, transparent);
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-2xs: 0.625rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 3.5rem;
  --spacing-4xl: 4rem;
  --spacing-squish-2xs: 2px 4px;
  --spacing-squish-xs: 4px 8px;
  --spacing-squish-sm: 6px 12px;
  --spacing-squish-md: 8px 16px;
  --spacing-squish-lg: 12px 24px;
  --spacing-squish-xl: 16px 24px;
  --spacing-squish-2xl: 24px 40px;
  --spacing-squish-3xl: 32px 48px;
  --letter-spacing-1: 0.015em;
  --letter-spacing-2: 0.025em;
  --letter-spacing-3: 0.05em;
  --letter-spacing-4: 0.075em;
  --letter-spacing-5: 0.1em;
  --letter-spacing-auto: auto;
  --letter-spacing-neg-1: -0.015em;
  --letter-spacing-neg-2: -0.025em;
  --letter-spacing-neg-3: -0.05em;
  --letter-spacing-neg-4: -0.075em;
  --letter-spacing-neg-5: -0.1em;
  --line-height-auto: auto;
  --line-height-none: 100%;
  --line-height-3xs: 110%;
  --line-height-2xs: 120%;
  --line-height-xs: 130%;
  --line-height-sm: 140%;
  --line-height-md: 150%;
  --line-height-lg: 160%;
  --line-height-xl: 170%;
  --line-height-2xl: 180%;
  --line-height-3xl: 190%;
  --line-height-4xl: 200%;
  --focus-aaa: 4px;
  --focus-aa: 2px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-default: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --duration-extra-fast: 70ms;
  --duration-fast: 110ms;
  --duration-normal: 150ms;
  --duration-moderate: 240ms;
  --duration-slow: 400ms;
  --duration-extra-slow: 700ms;
  --target-size-aaa: 2.75rem;
  --target-size-aa: 2rem;
  --timing-standart: Cubic-Bezier(0.35, 0, 0.1, 1);
  --timing-entering: Cubic-Bezier(0.3, 0, 1, 0.8);
  --timing-exiting: Cubic-Bezier(0.1, 0, 0, 1);
  --timing-continuous: Cubic-Bezier(0, 0, 0, 0);
  --motion-effect-fadein: opacity 0 1, transition-property all, transition-duration var(--duration-fast),
    transition-timing-function var(--timing-standard);

  --motion-effect-fadeout: opacity 1 0, transition-property all, transition-duration var(--duration-fast),
    transition-timing-function var(--timing-standard);

  --motion-effect-slide: transform translateX(1em), transition-property all, transition-duration var(--duration-normal),
    transition-timing-function var(--timing-standard);

  --motion-effect-slide-fade: opacity 0 1, transform translateX(1em), transition-property all,
    transition-duration var(--duration-fast), transition-timing-function var(--timing-standard);

  --motion-effect-scale: transform-origin center center, transform scale(0.5), transition-property all,
    transition-duration var(--duration-fast), transition-timing-function var(--timing-standard);

  --motion-effect-scale-fade: transform-origin start end, transform-origin start end, transition-property all,
    transition-duration var(--duration-fast), transition-timing-function var(--timing-standard);

  --motion-effect-scale-fade: transform-origin start end, transform scale(0.5, 1), transition-property all,
    transition-duration var(--duration-fast), transition-timing-function var(--timing-standard);

  --motion-effect-fill: background-size 100% 100%, transition-property all, transition-duration var(--duration-fast),
    transition-timing-function var(--timing-standard);

  --motion-effect-color: transition-property all, transition-duration var(--duration-fast),
    transition-timing-function var(--timing-standard);

  --motion-effect-expand: opacity 0 1, transform-origin top center, transform scale(0.5, 1), transition-property all,
    transition-duration var(--duration-fast), transition-timing-function var(--timing-standard);
}
