html {
  --color-action-default: #ffd464;
  --color-action-hover: #efc043;
  --color-action-pressed: #d39f17;
  --color-action-disabled: #b6bdbf;
  --color-action-focus: #260538;
  --color-brand-01-lightest: #f2eaf6;
  --color-brand-01-lighter: #d9c2e5;
  --color-brand-01-light: #bd94d1;
  --color-brand-01-base: #8241a4;
  --color-brand-01-dark: #5b1c7d;
  --color-brand-01-darker: #400e58;
  --color-brand-01-darkest: #260538;
  --color-brand-02-lightest: #fcf0f6;
  --color-brand-02-lighter: #f7cee2;
  --color-brand-02-light: #e993b9;
  --color-brand-02-base: #b92f72;
  --color-brand-02-dark: #95235a;
  --color-brand-02-darker: #761947;
  --color-brand-02-darkest: #520a2d;
  --color-brand-03-lightest: #fffcf0;
  --color-brand-03-lighter: #fef0cd;
  --color-brand-03-light: #ffe297;
  --color-brand-03-base: #ffd464;
  --color-brand-03-dark: #efc043;
  --color-brand-03-darker: #d39f17;
  --color-brand-03-darkest: #4e360e;
  --color-neutral-dark-70: #4a5c60;
  --color-neutral-dark-80: #2c3739;
  --color-neutral-dark-90: #1d2426;
  --color-neutral-dark-95: #0b0e0e;
  --color-neutral-light-10: #eceeee;
  --color-neutral-light-20: #dadedf;
  --color-neutral-light-30: #b6bdbf;
  --color-neutral-light-00: #fff;
  --color-neutral-light-05: #fbfbfb;
  --color-neutral-mid-40: #9da7a9;
  --color-neutral-mid-60: #6e7c7f;
  --font-family-heading: Roboto;
  --font-family-text: Roboto;
  --font-family-code: Monospace;
  --font-weight-extra-light: 200;
  --text-transform-normal: normal;
  --text-transform-uppercase: uppercase;
}
