@font-face {
  font-family: 'Roboto';
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed-Light';
  src: url('./../fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-brand-01-lightest: #f2eaf6;
  --color-brand-01-lighter: #d9c2e5;
  --color-brand-01-light: #bd94d1;
  --color-brand-01-base: #8241a4;
  --color-brand-01-dark: #5b1c7d;
  --color-brand-01-darker: #400e58;
  --color-brand-01-darkest: #260538;
  --color-brand-02-lightest: #fcf0f6;
  --color-brand-02-lighter: #f7cee2;
  --color-brand-02-light: #e993b9;
  --color-brand-02-base: #b92f72;
  --color-brand-02-dark: #95235a;
  --color-brand-02-darker: #761947;
  --color-brand-02-darkest: #520a2d;
  --color-brand-03-lightest: #fffcf0;
  --color-brand-03-lighter: #fef0cd;
  --color-brand-03-light: #ffe297;
  --color-brand-03-base: #ffd464;
  --color-brand-03-dark: #efc043;
  --color-brand-03-darker: #d39f17;
  --color-brand-03-darkest: #4e360e;
  --color-neutral-dark-70: #4a5c60;
  --color-neutral-dark-80: #2c3739;
  --color-neutral-dark-90: #1d2426;
  --color-neutral-dark-95: #0b0e0e;
  --color-neutral-light-10: #eceeee;
  --color-neutral-light-20: #dadedf;
  --color-neutral-light-30: #b6bdbf;
  --color-neutral-light-00: #fff;
  --color-neutral-light-05: #fbfbfb;
  --color-neutral-mid-40: #9da7a9;
  --color-neutral-mid-60: #6e7c7f;
  --color-action-default: var(--color-brand-01-base);
  --color-action-hover: var(--color-brand-01-dark);
  --color-action-pressed: var(--color-brand-01-darker);
  --color-action-disabled: var(--color-neutral-light-30);
  --color-action-focus: var(--color-brand-01-darkest);
  --font-family-heading: Roboto;
  --font-family-text: Roboto;
  --font-family-code: Monospace;
  --font-weight-extra-light: 200;
  --text-transform-normal: normal;
  --text-transform-uppercase: uppercase;
}

po-button {
  --font-family: var(--font-family-text);
  --font-size: var(--font-size-default);
  --font-weight: var(--font-weight-bold);
  --line-height: var(--line-height-none);
  --border-radius: var(--border-radius-md);
  --border-width: var(--border-width-md);
  --padding: 0 1em;

  /* danger */
  --text-color-danger: var(--color-neutral-light-00);
  --color-danger: var(--color-feedback-negative-dark);
  --color-danger-hover: var(--color-feedback-negative-darker);
  --color-danger-pressed: var(--color-feedback-negative-darkest);
  --background-danger-hover: var(--color-feedback-negative-lighter);
  --border-color-danger-hover: var(--color-feedback-negative-darkest);
  --background-danger-pressed: var(--color-feedback-negative-light);

  --text-color: var(--color-neutral-light-00);
  --color: var(--color-action-default);
  --shadow: var(--shadow-none);

  /* hover */
  --color-hover: var(--color-action-hover);

  /* focused */
  --outline-color-focused: var(--color-action-focus);

  /* pressed */
  --color-pressed: var(--color-action-pressed);

  /* disabled */
  --text-color-disabled: var(--color-neutral-dark-70);
  --color-disabled: var(--color-action-disabled);
}

po-button[type='default'],
po-button[type='link'] {
  --background-hover: var(--color-brand-01-lighter);
  --border-color-hover: var(--color-brand-01-darkest);

  /* pressed */
  --background-pressed: var(--color-brand-01-light);
}

po-button[size='small'] {
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-none);
  --padding: 0 0.5em;
}
