:root {
  --font-modal-body: {
    @apply --font-text;
  }

  --font-modal-title: {
    @apply --font-subtitle;
  }
}

.po-modal {
  height: 100%;
  left: 0;
  min-height: 100%;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.po-modal-container {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.po-modal-overlay {
  display: block;
  /* este calculo resolve o problema do item po-modal/9684, no menu-html não ocupava o espaço todo disponivel. */
  height: calc(100% + 1px);
  overflow-y: auto;
  position: fixed;
  width: 100%;
  background: var(--color-overlay);
  opacity: var(--opacity-overlay);
}

.po-modal-vertical-align {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.po-modal-content {
  background-color: var(--background);
  border: solid;
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  box-shadow: var(--shadow);
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.po-modal-content.po-modal-auto {
  max-width: 90%;
}

.po-modal-sm {
  width: 40%;
}

.po-modal-md {
  width: 50%;
}

.po-modal-lg {
  width: 60%;
}

.po-modal-xl {
  width: 70%;
}

.po-modal-auto {
  width: auto;
  max-width: 70%;
}

.po-modal-header {
  @apply --font-modal-title;
  border: 0;
  max-width: 100%;
  padding: var(--padding-header);
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  justify-content: space-between;
}

.po-modal-title {
  color: var(--color-neutral-dark-70);
  display: flex;
  align-items: center;
  padding-right: var(--spacing-md);
}

.po-modal-title po-icon {
  line-height: 0px;
  padding-right: var(--spacing-xs);
}

.po-modal-auto .po-modal-title {
  max-width: 100%;
}

.po-modal-body {
  @apply --font-modal-body;
  color: var(--color-neutral-dark-90);
  overflow-x: auto;
  overflow-y: auto;
  text-align: left;
  max-height: calc(80vh - 101px);
  padding: var(--padding-body);
}

.po-modal-auto .po-modal-body {
  max-width: none;
}

.po-modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: auto;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  border-top: 1px solid var(--color-divider);
}

.po-modal-footer-align-right .po-button {
  margin-left: 12px;
}

.po-modal-footer-basic {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}

.po-modal-footer-basic .po-button {
  margin-left: 0px;
}

@media screen and (max-width: 480px) {
  .po-modal-content {
    width: 90%;
  }

  .po-modal-sm {
    width: 90%;
  }

  .po-modal-md {
    width: 90%;
  }

  .po-modal-lg {
    width: 90%;
  }

  .po-modal-xl {
    width: 90%;
  }

  .po-modal-auto {
    width: 90%;
    max-width: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .po-modal-content {
    width: 80%;
  }

  .po-modal-footer {
    float: right;
  }

  .po-modal-auto {
    width: auto;
  }

  .po-modal-footer-default {
    float: left;
  }

  .po-modal-sm {
    width: 80%;
  }

  .po-modal-md {
    width: 80%;
  }

  .po-modal-lg {
    width: 80%;
  }

  .po-modal-xl {
    width: 80%;
  }

  .po-modal-auto {
    width: auto;
    max-width: 80%;
  }
}

@media (min-width: 961px) {
  .po-modal-sm {
    width: 40%;
  }

  .po-modal-md {
    width: 50%;
  }

  .po-modal-lg {
    width: 60%;
  }

  .po-modal-xl {
    width: 70%;
  }

  .po-modal-auto {
    width: auto;
    max-width: 70%;
  }
}
