.po-accordion {
  overflow-y: visible !important;
}

.po-accordion-manager-header,
.po-accordion-item-header {
  position: relative;
}

.po-accordion-item .po-accordion-item-header,
.po-accordion-manager .po-accordion-manager-header {
  border-bottom: 1px solid var(--color-neutral-light-40);
}

.po-accordion-item-header-button,
.po-accordion-item-header-icon,
.po-accordion-manager-button,
.po-accordion-manager-icon {
  color: var(--color-accordion-header-color-primary, var(--color));
}

.po-accordion-item-header-button-content,
.po-accordion-manager-button-content {
  align-self: center;
  flex: 1;
}

.po-accordion-item-header-button:enabled:active,
.po-accordion-manager-button:enabled:active {
  background-color: var(--background-pressed);
  color: var(--color-pressed);
}

.po-accordion-manager-button:focus .po-accordion-manager-icon,
.po-accordion-item-header-button:focus .po-accordion-item-header-icon {
  color: var(--color-focus);
}

/* outline para compatibilidade com os demais navegadores */
.po-accordion-item-header-button:focus,
.po-accordion-manager-button:focus {
  color: var(--color-focus);

  position: relative;
  outline-color: var(--color-accordion-item-header-button-focus, var(--outline-color-focused));
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;

  z-index: 1;
}

/* remove a borda interna nativa do botão no firefox */
.po-accordion-item-header-button::-moz-focus-inner,
.po-accordion-manager-button::-moz-focus-inner {
  border: 0;
}
