.po-accordion-item-body {
  /* necessario para animacao funcionar corretamente no IE/safari */
  overflow-y: hidden;
}

.po-accordion-item-body-content {
  padding: var(--spacing-squish-md);
  font-size: var(--font-size);
}

/* incluindo padrões duplo A */
[data-a11y='AA'] po-accordion[p-size='small'] .po-accordion-item-body-content {
  font-size: var(--font-size-sm);
}
