.po-accordion-item-header {
  border-bottom: 1px solid var(--color-neutral-mid-40);
  position: relative;
}

.po-accordion-item {
  list-style: none;
}

.po-accordion-item:is(:first-child) {
  border-top: 1px solid var(--color-neutral-mid-40);
}

.po-accordion-item-header-button {
  color: var(--color-accordion-header-color-primary, var(--color));
  background-color: var(--color-accordion-item-header-button-background-color, var(--background-color));

  width: 100%;
  height: 100%;
  min-height: 44px;
  max-width: 100vw;
  text-align: left;
  display: flex;

  border: none;
  padding: var(--spacing-squish-md);

  font-weight: var(--font-accordion-header-font-button, var(--font-weight));
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.po-accordion-item-header-button:hover {
  color: var(--color-accordion-header-color-hover, var(--color-hover));
  background-color: var(--background-hover);
}

.po-accordion-item-header-button:hover .po-accordion-item-header-icon {
  color: var(--color-hover);
}

.po-accordion-item-header-button:disabled {
  background-color: var(--background-disabled);
  color: var(--color-disabled);
  cursor: not-allowed !important;
  border-color: var(--color-disabled);
}

.po-accordion-item-header-button:disabled .po-accordion-item-header-icon {
  color: var(--color-disabled);
}

.po-accordion-item-header-button:enabled:active {
  background-color: var(--background-pressed);
  color: var(--color-pressed);
  outline: none;
}

.po-accordion-item-header-button:enabled:active .po-accordion-item-header-icon {
  color: var(--color-pressed);
}

/* outline para compatibilidade com os demais navegadores */
.po-accordion-item-header-button:focus {
  color: var(--color-focus);

  position: relative;
  outline-color: var(--color-accordion-item-header-button-focus, var(--outline-color-focused));
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;

  z-index: 1;
}

.po-accordion-item-header-button:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-accordion-item-header-button:focus .po-accordion-item-header-icon {
  color: var(--color-focus);
}

/* remove a borda interna nativa do botão no firefox */
.po-accordion-item-header-button::-moz-focus-inner {
  border: 0;
}

.po-accordion-item-header-icon {
  color: var(--color-accordion-header-color-primary, var(--color));

  align-self: center;
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.07, 0.88, 0.58, 0.92);
}

.po-accordion-item-active .po-accordion-item-header-icon {
  transform: rotate(180deg);
}

.po-accordion-item-header-button-content {
  align-self: center;
  flex: 1;
}

.po-accordion-item-header-tag {
  margin-top: 0.25rem;
  display: inline-block;
}
