:root {
  --font-disclaimer-font-title: {
    @apply --font-text-bold;
  }
}

.po-disclaimer-group {
  background-color: var(--color-disclaimer-group-background-color);
  border: solid 1px var(--color-disclaimer-group-border-color);
  border-radius: 3px;
  padding: var(--po-density-content-padding, var(--default-spacing-xs, var(--spacing-sm)));
  padding-bottom: var(--default-spacing-0, var(--spacing-xs));
  width: 100%;
}

.po-disclaimer-group .po-clickable.po-tag-wrapper,
[data-a11y='AA'] .po-disclaimer-group .po-clickable.po-tag-wrapper {
  min-height: 0;
}

.po-disclaimer-group-title {
  font-family: var(--font-family-default-bold), sans-serif;
  font-size: var(--font-size-default-normal);
  line-height: 24px;
  color: var(--color-disclaimer-group-font-title);
  padding-bottom: 8px;
}

.po-disclaimer-group-disclaimer-align {
  display: inline-block;
  margin: 0 8px 8px 0;
}
