.po-timepicker {
  position: relative;
}

.po-timepicker-popup {
  position: fixed;
  z-index: 1000;
}

.po-timepicker-popup .po-timer {
  position: absolute;
}

.po-timepicker-mobile {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.po-timepicker-overlay {
  background: var(--color-calendar-background-color-mobile-overlay, var(--color-neutral-dark-80));
  opacity: 0.7;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.po-timepicker-container-disabled po-label,
.po-timepicker-field-disabled {
  pointer-events: none;
}

.po-timepicker-button i {
  font-size: var(--font-size-lg);
}

po-timepicker[p-size='small'] .po-timepicker-button i {
  font-size: var(--font-size-default);
}

po-timepicker .po-loading-icon-container {
  display: flex;
  justify-content: center;
}

po-timepicker po-loading-icon {
  position: absolute;
  right: 0;
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  align-items: center;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

po-timepicker[p-size='small'] po-loading-icon {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

po-timepicker .po-timepicker-button .po-button {
  width: var(--target-size-aaa);
  max-width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  max-height: var(--target-size-aaa);
  justify-content: center;
}

po-timepicker[p-size='small'] .po-timepicker-button .po-button {
  width: var(--target-size-aa);
  max-width: var(--target-size-aa);
  height: var(--target-size-aa);
  max-height: var(--target-size-aa);
  justify-content: center;
}

po-timepicker .po-field-container-content .po-field-icon-container-right:not(po-timer .po-field-icon-container-right) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

po-timepicker .po-input.po-input-icon-right {
  padding-right: calc(var(--target-size-aaa) * 2);
}

po-timepicker[p-size='small'] .po-input.po-input-icon-right {
  padding-right: calc(var(--target-size-aa) * 2);
}

po-timepicker po-clean.po-icon-input {
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

po-timepicker[p-size='small'] po-clean.po-icon-input {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

po-timepicker po-clean.po-icon-input:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: var(--border-width-md);
}

po-timepicker po-clean .po-field-icon:not(.po-field-icon-disabled) {
  color: var(--color-neutral-dark-70);
}

po-timepicker .po-input,
po-timepicker .po-input {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  color: var(--text-color);
  background-color: var(--background);
  padding: var(--padding, 0 0.5em);
  border: 1px solid var(--color);
  border-radius: 4px;
  min-height: var(--target-size-aaa);
  box-sizing: border-box;
  width: 100%;
  padding-right: var(--target-size-aaa);
}

po-timepicker[p-size='small'] .po-input {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
  padding-right: var(--target-size-aa);
}
