.po-multiselect-input {
  background-color: var(--background);
  border-color: var(--color);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  gap: var(--spacing-xs);
  padding: 0.5rem 2.75rem 0.5rem 0.5rem;
  align-items: center;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  line-height: normal;
  min-height: var(--target-size-aaa);
  height: var(--target-size-aaa);
  width: 100%;
  overflow: hidden;
}

.po-multiselect-input.po-multiselect-input-static {
  max-height: var(--target-size-aaa);
}

po-multiselect[p-size='small'] .po-multiselect-input {
  min-height: var(--target-size-aa);
  height: var(--target-size-aa);
  padding: 0.075rem 2rem 0.075rem 0.5rem;
}

po-multiselect[p-size='small'] .po-multiselect-input.po-multiselect-input-static {
  max-height: var(--target-size-aa);
}

.po-multiselect-input-placeholder {
  color: var(--text-color-placeholder);
  font-size: var(--font-size, var(--font-size-default));
}

po-multiselect[p-size='small'] .po-multiselect-input-placeholder {
  font-size: var(--font-size, var(--font-size-sm));
}

.po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color-icon);
}

.po-multiselect-input-disabled .po-field-icon-container-right .po-icon-input {
  color: var(--color);
}

.po-multiselect-input:focus:not(.po-multiselect-input-disabled) {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);

  border-style: solid;
  border-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.po-multiselect-input:focus-visible:not(.po-multiselect-input-disabled) {
  outline-width: var(--outline-width-focus-visible);
}

.po-multiselect-input:focus .po-field-icon-container-right .po-icon-input {
  color: var(--color-focused);
}

.po-multiselect-input:hover:not(.po-multiselect-input-disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
  cursor: pointer;
}

.po-multiselect-input:hover .po-field-icon-container-right .po-icon-input {
  color: var(--color-hover);
}

.po-multiselect-input-disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);

  cursor: not-allowed;
}

.po-multiselect-container {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-error);
  color: var(--color-error);
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color-error);
}

po-multiselect[p-loading='true'].ng-invalid.ng-dirty .po-multiselect-input {
  border-color: var(--color-disabled);
}

.po-multiselect-input.po-multiselect-input-auto,
.po-multiselect-input-auto.po-multiselect-input,
po-multiselect[p-size='small'] .po-multiselect-input-auto.po-multiselect-input {
  height: auto;
}

po-multiselect .po-field-icon-container-right .po-loading-icon-container {
  display: flex;
}
