.po-multiselect-input {
  background-color: var(--background);
  border-color: var(--color);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xs);
  padding-right: 2.75em;

  align-items: center;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  line-height: normal;
  min-height: 2.75em;

  padding-block: var(--spacing-xs);
  overflow: hidden;
}

.po-multiselect-input-placeholder {
  color: var(--text-color-placeholder);
  font-size: var(--font-size);
}

.po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color);
}

.po-multiselect-input:focus:not(.po-multiselect-input-disabled) {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);

  border-style: solid;
  border-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.po-multiselect-input:focus .po-field-icon-container-right .po-icon-input {
  color: var(--color-focused);
}

.po-multiselect-input:hover:not(.po-multiselect-input-disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
  cursor: pointer;
}

.po-multiselect-input:hover .po-field-icon-container-right .po-icon-input {
  color: var(--color-hover);
}

.po-multiselect-input-disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);

  cursor: not-allowed;
}

.po-multiselect-container {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-error);
  color: var(--color-error);
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color-error);
}
