.po-multiselect-input,
[data-a11y='AAA'] .po-multiselect-input-aa {
  background-color: var(--background);
  border-color: var(--color);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  gap: var(--spacing-xs);
  padding: 0.5rem 2.75rem 0.5rem 0.5rem;
  align-items: center;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  line-height: normal;
  min-height: var(--target-size-aaa);
  height: var(--target-size-aaa);
  overflow: hidden;
}

.po-multiselect-input.po-multiselect-input-static {
  max-height: var(--target-size-aaa);
}

.po-multiselect-input-aa {
  min-height: var(--target-size-aa);
  height: var(--target-size-aa);
  padding: 0.075rem 2rem 0.075rem 0.5rem;
}

.po-multiselect-input-aa.po-multiselect-input-static {
  max-height: var(--target-size-aa);
}

.po-multiselect-input-placeholder,
[data-a11y='AAA'] .po-multiselect-input-placeholder-aa {
  color: var(--text-color-placeholder);
  font-size: var(--font-size, var(--font-size-default));
}

.po-multiselect-input-placeholder-aa {
  font-size: var(--font-size, var(--font-size-sm));
}

.po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color-icon);
}

.po-multiselect-input-disabled .po-field-icon-container-right .po-icon-input {
  color: var(--color);
}

.po-multiselect-input:focus:not(.po-multiselect-input-disabled) {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);

  border-style: solid;
  border-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.po-multiselect-input:focus-visible:not(.po-multiselect-input-disabled) {
  outline-width: var(--outline-width-focus-visible);
}

.po-multiselect-input:focus .po-field-icon-container-right .po-icon-input {
  color: var(--color-focused);
}

.po-multiselect-input:hover:not(.po-multiselect-input-disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
  cursor: pointer;
}

.po-multiselect-input:hover .po-field-icon-container-right .po-icon-input {
  color: var(--color-hover);
}

.po-multiselect-input-disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);

  cursor: not-allowed;
}

.po-multiselect-container {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-error);
  color: var(--color-error);
}

po-multiselect.ng-invalid.ng-dirty .po-multiselect-input .po-field-icon-container-right .po-icon-input {
  color: var(--color-error);
}

po-multiselect[p-loading='true'].ng-invalid.ng-dirty .po-multiselect-input {
  border-color: var(--color-disabled);
}

.po-multiselect-field-wrapper,
.po-multiselect-flex-item {
  display: contents;
}

.po-multiselect-field-wrapper._active {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-xs);
  flex-wrap: nowrap;
  min-width: 0;
  padding-right: var(--spacing-xs);
}

.po-multiselect-field-wrapper._active .po-multiselect-flex-item {
  display: block;
  flex: 1 1 0;
  min-width: 0;
}

.po-multiselect-field-wrapper._active .po-field-container-content {
  display: block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.po-multiselect-field-wrapper._active .po-multiselect-input {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.po-multiselect-field-wrapper._active po-helper,
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-auto.po-multiselect-input-auto-dynamic-height)
  po-helper:has(.po-helper-container[p-size='small']) {
  flex: 0 0 auto;
  position: relative;
  top: 5px;
}

.po-multiselect-input.po-multiselect-input-auto,
.po-multiselect-input-auto.po-multiselect-input-aa,
[data-a11y='AAA'] .po-multiselect-input-auto.po-multiselect-input-aa {
  height: auto;
}

.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled) {
  align-items: center;
}

.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled) po-helper {
  top: 0;
}

.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled):has(.po-field-container-bottom:not(:empty))
  po-helper {
  top: -10px;
}

[data-a11y='AA']
  .po-multiselect-field-wrapper._active:not(po-tag):has(.po-multiselect-input-disabled):has(.po-field-container-bottom:not(:empty))
  po-helper {
  top: -11px;
}

[data-a11y='AA']
  .po-multiselect-field-wrapper._active:not(po-tag):has(.po-multiselect-input-disabled.po-multiselect-input-auto):has(.po-field-container-bottom:not(:empty))
  po-helper:has(.po-helper-container[p-size='small']),
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:not(po-tag):has(.po-multiselect-input-disabled.po-multiselect-input-static):has(.po-field-container-bottom:not(:empty))
  po-helper:has(.po-helper-container[p-size='small']) {
  top: -15px;
}

[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto)
  po-helper:has(.po-helper-container[p-size='small']),
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-static)
  po-helper:has(.po-helper-container[p-size='small']) {
  top: -4px;
}

.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto po-tag) {
  align-items: baseline;
}

.po-multiselect-field-wrapper._active:has(po-tag) po-helper {
  top: 6px;
}
.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto
    po-tag):has(.po-field-container-bottom:not(:empty))
  po-helper,
.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto po-tag) po-helper {
  align-self: baseline;
  top: 6px;
}

[data-a11y='AA'] .po-multiselect-field-wrapper._active po-helper:has(.po-helper-container[p-size='small']) {
  top: 3px;
}

[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto
    po-tag):has(.po-field-container-bottom:not(:empty))
  po-helper:has(.po-helper-container[p-size='small']),
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto
    po-tag):not(:has(.po-multiselect-input-auto-dynamic-height))
  po-helper:has(.po-helper-container[p-size='small']) {
  align-self: baseline;
  top: 3px;
}

.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto.po-multiselect-input-auto-dynamic-height
    po-tag):has(.po-field-container-bottom:not(:empty))
  po-helper,
.po-multiselect-field-wrapper._active:has(.po-multiselect-input-auto.po-multiselect-input-auto-dynamic-height)
  po-helper,
.po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto.po-multiselect-input-auto-dynamic-height)
  po-helper {
  top: 7px;
}

[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto.po-multiselect-input-auto-dynamic-height
    po-tag):has(.po-field-container-bottom:not(:empty))
  po-helper:has(.po-helper-container[p-size='small']),
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-auto-dynamic-height po-tag)
  po-helper:has(.po-helper-container[p-size='small']),
[data-a11y='AA']
  .po-multiselect-field-wrapper._active:has(.po-multiselect-input-disabled.po-multiselect-input-auto-dynamic-height
    po-tag)
  po-helper:has(.po-helper-container[p-size='small']) {
  top: 5px;
}

po-multiselect .po-field-icon-container-right .po-loading-icon-container {
  display: flex;
}
