:root {
  --shadow-multiselect-box-shadow-content: var(--shadow-card);
  --shadow-multiselect-box-shadow-checkbox-input: var(--shadow-input);

  --font-multiselect-text: {
    @apply --font-text-large;
  }
}

.po-multiselect-container {
  background-color: var(--color-multiselect-background-color);
  border-radius: 3px;
  box-shadow: var(--shadow-multiselect-box-shadow-content);
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.po-multiselect-input,
.po-multiselect-search-input {
  outline: none;
}

.po-multiselect-input:focus,
.po-multiselect-search-input:focus {
  border: solid 1px var(--color-multiselect-border-field-focus);
}

.po-multiselect-input:hover {
  border: solid 1px var(--color-multiselect-border-field-focus);
}

.po-multiselect-input {
  color: var(--color-multiselect-color-primary);
}

.po-multiselect-input-auto {
  min-height: 44px;
  height: unset;
}

.po-multiselect-input-static {
  overflow-y: hidden;
}

.po-multiselect-input.po-multiselect-input-auto {
  padding: 6px 44px 6px 4px;
}

.po-multiselect-input-auto .po-multiselect-input-disclaimer {
  display: inline-block;
  padding: 2px 4px;
}

.po-multiselect-input.po-multiselect-input-static {
  padding: 4px 44px 4px 4px;
}

.po-multiselect-input-static .po-multiselect-input-disclaimer {
  display: inline-block;
  padding: 4px;
}

.po-multiselect-container-loading {
  padding: 36px 0px;
  position: relative;
}

.po-multiselect-container-no-data {
  @apply --font-table-text-bold;
  padding: 36px 0px;
}

.po-multiselect-container-search {
  padding: 8px;
}

.po-multiselect-items-container {
  max-height: 175px;
  overflow-y: auto;
}

.po-multiselect-items-container::-webkit-scrollbar {
  width: 7px;
}

.po-multiselect-items-container::-webkit-scrollbar-track {
  display: none;
}

.po-multiselect-items-container::-webkit-scrollbar-thumb {
  background-color: var(--color-multiselect-background-color-scrollbar);
  border-radius: 2px;
}

.po-multiselect-item {
  @apply --font-multiselect-text;
  color: var(--color-multiselect-color-primary);
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  text-align: left;
  word-wrap: break-word;

  &:hover {
    background-color: var(--color-multiselect-background-color-item-hover) !important;
    color: var(--color-multiselect-color-primary) !important;
    text-decoration: none;
  }
}

.po-multiselect-item-selected > .po-multiselect-item {
  background-color: var(--color-multiselect-background-color-item-hover);
}

.po-field-container-content {
  position: relative;
  width: 100%;

  &.po-multiselect-show {
    & .po-multiselect-container {
      background-color: var(--color-multiselect-background-color) !important;
      display: block;
      z-index: 1000;
    }
  }

  &.po-multiselect-loading {
    & > .po-input {
      border: solid 1px var(--color-multiselect-border-field-focus) !important;
    }
  }
}

.po-multiselect-input-disabled {
  background-color: var(--color-input-border-text-disabled);
  border: solid 1px var(--color-input-border-text);
  color: var(--color-input-color-disabled);
  pointer-events: none;
}

.po-multiselect-input-disabled .po-disclaimer-label {
  background-color: var(--color-multiselect-disclaimer-background-color-disabled);
  color: var(--color-multiselect-color-text-disabled);
}

.po-multiselect-input-placeholder {
  display: inline-block;
  padding: 3px 8px;
  line-height: 24px;
}

.po-multiselect-input-static .po-multiselect-input-placeholder {
  padding: 5px 8px;
}

.po-multiselect-checkbox-input {
  border-radius: 2px;
  box-shadow: var(--shadow-multiselect-box-shadow-checkbox-input);
  position: absolute;
  visibility: hidden;
}

.po-multiselect-checkbox-input + .po-multiselect-checkbox-label:before {
  background-color: var(--color-multiselect-background-color-checkbox);
  border: solid 1px var(--color-multiselect-border-checkbox-input);
  border-radius: 2px;
  box-shadow: var(--shadow-multiselect-box-shadow-checkbox-input);
  content: ' ';
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  margin-top: -2px;
  vertical-align: middle;
  width: 20px;
}

.po-multiselect-checkbox-input-checked + .po-multiselect-checkbox-label:before,
.po-multiselect-checkbox-input-indeterminate + .po-multiselect-checkbox-label:before {
  background-color: var(--color-multiselect-background-color-checkbox-active);
  border: solid 1px var(--color-multiselect-border-checkbox-input-active);
  box-shadow: none;
  color: var(--color-multiselect-color-checkbox-active);
  font-family: 'PoIcon' !important;
  line-height: 18px;
  padding-left: 1px;
}

.po-multiselect-checkbox-item-disabled .po-multiselect-checkbox-input + .po-multiselect-checkbox-label:before {
  background-color: var(--color-multiselect-background-color-checkbox-disabled);
  border: solid 1px var(--color-multiselect-border-checkbox-input-disabled);
  color: var(--color-multiselect-background-color-checkbox-icon-disabled);
}

.po-multiselect-checkbox-input-checked + .po-multiselect-checkbox-label:before {
  content: '\e93c';
}

.po-multiselect-checkbox-input-indeterminate + .po-multiselect-checkbox-label:before {
  content: '\e939';
}
