.po-progress-bar {
  background-color: var(--background-color-tray);
  border-radius: var(--border-radius-pill);
  border-color: transparent;
  display: block;
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
}

.po-progress-error .po-progress-bar {
  background-color: var(--color-feedback-negative-lightest);
}

.po-progress-bar-large {
  height: 0.5rem;
}

.po-progress-bar-medium {
  height: 0.25rem;
}

.po-progress-bar-element {
  animation: none;
  height: inherit;
  transform-origin: top left;
  transition: transform 250ms ease;
}

.po-progress-bar-element,
.po-progress-bar-element::after {
  border-radius: 4px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.po-progress-bar-element::after {
  animation: none;
  content: '';
  display: inline-block;
  left: 0;
}

.po-progress-bar-secondary {
  display: none;
}

.po-progress-bar-default .po-progress-bar-primary {
  backface-visibility: hidden;
  left: -145.166611%;
}

.po-progress-bar-default .po-progress-bar-primary::after {
  backface-visibility: hidden;
}

.po-progress-bar-default .po-progress-bar-secondary {
  backface-visibility: hidden;
  display: block;
}

.po-progress-bar-default .po-progress-bar-secondary::after {
  backface-visibility: hidden;
}

.po-progress-bar-indeterminate-track {
  height: 8px;
  background-color: var(--background-color-tray);
  position: relative;
  overflow: hidden;
}

.po-progress-error .po-progress-bar-indeterminate-track {
  background-color: var(--color-feedback-negative-lightest);
}

.po-progress-bar-medium .po-progress-bar-indeterminate-track,
.po-progress-bar-medium .po-progress-bar-indeterminate-track-bar {
  height: 4px;
}

.po-progress-bar-indeterminate-track-bar {
  height: 100%;
  width: 50%;
  background-color: var(--background-color-indicator);
  border-radius: 4px;
  animation: progressIndeterminate 3s linear infinite;
}

.po-progress-success .po-progress-bar-indeterminate-track-bar {
  background-color: var(--color-feedback-positive-dark);
}

.po-progress-error .po-progress-bar-indeterminate-track-bar {
  background-color: var(--color-feedback-negative-darker);
}

.po-progress-bar-medium .po-progress-bar-indeterminate-track-bar {
  border-radius: 2px;
}

.po-progress-default .po-progress-bar-element::after {
  background-color: var(--background-color-indicator);
}

.po-progress-success .po-progress-bar-element,
.po-progress-success .po-progress-bar-element::after {
  background-color: var(--color-feedback-positive-dark);
}

.po-progress-error .po-progress-bar-element,
.po-progress-error .po-progress-bar-element::after {
  background-color: var(--color-feedback-negative-darker);
}

@keyframes progressIndeterminate {
  0%,
  100% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100%,
  0% {
    transform: translateX(0%);
  }
}
