:root {
  --font-navbar-action-font-size-content: 24px;
}

.po-navbar-action {
  display: table-cell;
}

.po-navbar-action-content {
  color: var(--color-navbar-action-color-content);
  font-size: var(--font-navbar-action-font-size-content);
  margin: 0 0 0 16px;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;
}

.po-navbar-action-content:focus-visible {
  outline-width: 1px;
  outline-color: var(--color-action-focus);
  outline-style: auto;
  outline-offset: 0;
}

.po-navbar-action-content > :first-child:not(.po-fonts-icon) {
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  /* Utilizado para ocultar todas as actions quando atingir a responsividade */
  .po-navbar-action {
    display: none !important;
  }
}
