.po-table-list-manager-title-group-items {
  color: var(--color-type);

  font-family: var(--font-family-theme);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);

  font-size: var(--font-size-sm);
  margin-bottom: 0.5rem;
}

.po-table-list-manager-section {
  gap: var(--spacing-xs);
  display: flex;
  flex-direction: column;
}

.po-table-list-manager-container-items + .po-table-list-manager-container-items {
  margin-top: 10px;
}

.po-table-list-manager-item {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-neutral-light-10);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-xs);
}

.po-table-list-manager-item-switch {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.po-table-list-manager-item-text {
  color: var(--color-column-text);

  font-family: var(--font-family-theme);
  font-weight: var(--font-weight);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-1);
  font-size: var(--font-size-default);
}

.po-table-list-manager-item-buttons {
  gap: var(--spacing-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-table-list-manager-item-buttons .po-icon {
  font-size: 1.5rem;
}
