.po-breadcrumb {
  font-family: var(--font-family);
  font-weight: var(--font-size-sm);
  line-height: var(--line-height-xl);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.po-breadcrumb-items {
  display: inline;
  list-style: none;
}

.po-breadcrumb-item,
.po-breadcrumb-item-container {
  display: flex;
  align-items: center;
  gap: 8px;
  float: left;
  list-style: none;
}

[data-a11y='AA'] po-breadcrumb[p-size='small'] .po-breadcrumb {
  line-height: var(--line-height-md);
}

.po-breadcrumb-label {
  float: left;
  padding: 7px 0 7px 8px;
  text-align: center;
}

.po-breadcrumb-item .po-breadcrumb-label {
  color: var(--color);
}

.po-breadcrumb-item .po-breadcrumb-label:hover {
  color: var(--color-breadcrumb-color-item-link-hover);
  cursor: pointer;
  text-decoration: underline;
}

.po-breadcrumb-favorite {
  white-space: nowrap;
  color: var(--color-action-default);
  font-family: var(--font-family-theme);
  font-weight: var(--font-weight);
}

.po-breadcrumb-favorite:focus {
  outline-color: var(--color-brand-01-darkest);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-breadcrumb-favorite:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-breadcrumb-favorite-star-active {
  color: var(--color-warning);
  position: relative;
  top: 1px;
}

.po-breadcrumb-favorite-label {
  padding-left: 5px;
}

[data-a11y='AA'] po-breadcrumb[p-size='small'] .po-breadcrumb .po-breadcrumb-item,
[data-a11y='AA'] po-breadcrumb[p-size='small'] .po-breadcrumb .po-breadcrumb-favorite-label {
  font-size: var(--font-size-sm);
}

.po-breadcrumb-item-activate {
  color: var(--color-current-page);
  white-space: nowrap;
}

.po-breadcrumb-item-activate:focus,
.po-breadcrumb-icon-more:focus {
  outline-color: var(--color-brand-01-darkest);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-breadcrumb-item-activate:focus-visible,
.po-breadcrumb-icon-more:focus-visible {
  outline-color: var(--color-brand-01-darkest);

  outline-width: var(--outline-width-focus-visible);
  outline-style: solid;
  outline-offset: 2px;
}

.po-breadcrumb-items po-link {
  white-space: nowrap;
}

.po-breadcrumb-icon-more i {
  color: var(--color-breadcrumb-color-item, var(--color));
}

.po-breadcrumb-icon-arrow {
  color: var(--color-icon);
}

.po-breadcrumb-icon-more i.an,
i.po-breadcrumb-icon-arrow.an {
  font-size: var(--font-size-sm);
  display: flex;
}
