po-page-default .po-tabs-container {
  overflow: initial;
  position: relative;
}

.po-tabs-container {
  overflow: hidden;
  position: initial;
}

.po-tabs-header {
  display: table;
  table-layout: fixed;
  width: 100%;
  gap: var(--spacing-xs);
  background-color: var(--background);
  padding-inline: var(--padding-tabs-header);
}

.po-tabs-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  box-shadow: inset 0 -1px 0 0 var(--color-baseline);
}

.po-tabs-content {
  padding-top: 8px;
}

.po-page-content .po-tabs-content {
  padding-inline: var(--content-padding-tabs);
}

.po-page-content .po-tabs-header {
  --padding-tabs-header: 0px;
}

.po-page-content .po-modal-body .po-tabs-header,
.po-page-content .po-page-slide-body .po-tabs-header {
  padding-inline: var(--padding-tabs-header);
}
