:root {
  --margin-tabs-container-xs: calc(-2 * var(--default-spacing-xs));
  --margin-tabs-container-sm: calc(-1 * var(--spacing-sm));
}

po-page-default .po-tabs-container {
  overflow: initial;
  position: relative;
}

.po-tabs-container {
  overflow: hidden;
  position: initial;
}

.po-tabs-header {
  display: table;
  table-layout: fixed;
  width: 100%;
  gap: var(--spacing-xs);
  background-color: var(--background);
  padding-inline: var(--padding-tabs-header);
}

.po-tabs-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  box-shadow: inset 0 -1px 0 0 var(--color-baseline);
}

.po-tabs-content {
  padding-top: var(--po-density-gap-header-content, var(--spacing-xs));
}

.po-page-content .po-tabs-content {
  padding-inline: var(--content-padding-tabs);
}

.po-page-content .po-tabs-header {
  padding-inline: 0px;
}

.po-page-content .po-tabs-container {
  margin-left: var(--margin-tabs-container-left, var(--margin-tabs-container-xs, var(--margin-tabs-container-sm)));
  margin-right: var(--margin-tabs-container-right, var(--margin-tabs-container-xs, var(--margin-tabs-container-sm)));
}
