.po-table-link {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.po-table-link-disabled {
  pointer-events: none;
}

.po-table-link-disabled po-link {
  --text-color: var(--color-table-color-link-disabled, var(--color-neutral-mid-40));
}
