:root {
  --font-field-container-bottom-text-error: {
    @apply --font-text-small;
  }

  --font-field-container-bottom-icon-error: {
    @apply --font-subtitle;
  }

  --font-field-container-bottom-icon-error-smaller: {
    @apply --font-text-large;
  }
}

.po-field-container-bottom {
  display: block;
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);

  font-weight: var(--font-weight-normal);
  text-align: left;
}

.po-field-container-bottom-disabled .po-field-container-help {
  color: var(--text-color-help-disabled);
}

po-field-container-bottom .po-field-container-bottom {
  padding-bottom: var(--padding-bottom);
}

.po-field-container-bottom-text-error {
  display: flex;
  gap: var(--spacing-xs);
  color: var(--color-field-container-bottom-color-text-error, var(--text-color-error));
}

.po-field-container-bottom-text-error .po-icon {
  color: var(--color-icon-error);
  display: inline-flex;
  font-size: 1rem;
}

.po-field-container-bottom-help-text {
  color: var(--color-field-container-color-help, var(--text-color-help));
}

.po-field-container-error-item {
  display: block;
  margin-bottom: 12px;
  position: relative;
}

.po-field-container-error-item i {
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.po-field-container-icon-error {
  line-height: 24px;
  vertical-align: top;
}

.po-field-container-error-container {
  display: block;
  margin-top: 4px;
}

.po-field-container-error-text {
  display: block;
  margin-left: 24px;
}
