:root {
  --font-field-container-bottom-text-error: {
    @apply --font-text-small;
  }

  --font-field-container-bottom-icon-error: {
    @apply --font-subtitle;
  }

  --font-field-container-bottom-icon-error-smaller: {
    @apply --font-text-large;
  }
}

.po-field-container-bottom {
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);

  font-weight: var(--font-weight-normal);
}

.po-icon-container {
  position: relative;
  line-height: inherit;
  padding-right: var(--spacing-xs);
}

.po-field-container-bottom-text-error .po-icon,
.po-field-container-bottom po-icon,
.po-field-container-bottom i.an {
  font-size: var(--font-size-default);
}

.po-field-container-bottom-disabled .po-field-container-bottom-help-text,
.po-field-container-bottom-disabled .po-icon-additional-help {
  color: var(--text-color-help-disabled);
}

po-field-container-bottom .po-field-container-bottom {
  padding-bottom: var(--padding-bottom);
}

.po-field-container-bottom-text-error,
.po-field-container-bottom-help-text {
  display: flex;
}

.po-field-container-bottom:focus {
  outline: none;
}

.po-field-container-bottom-text-error {
  color: var(--text-color-error);
}

.po-field-container-bottom-help-text,
.po-icon-additional-help {
  color: var(--text-color-help);
}

.po-field-container-bottom-help-text .po-icon-additional-help {
  order: 2;
}

.po-field-container-bottom-help-text span {
  order: 1;
}

.po-field-container-bottom-text-error po-icon {
  color: var(--color-icon-error);
  padding-right: var(--spacing-xs);
}

.po-field-container-error-item {
  display: flex;
  margin-bottom: 12px;
  position: relative;
}

.po-field-container-error-item i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.po-field-container-error-container {
  display: block;
  margin-top: 4px;
}

.po-field-container-error-text {
  display: block;
  margin-left: 24px;
}

.po-field-error-limit {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
