:root {
  --font-info-font-label: {
    @apply --font-text-bold;
  }

  --font-info-font-value: {
    @apply --font-text-large;
  }
}

.po-info {
  display: table;
  text-align: left;
  word-wrap: break-word;

  &-label {
    font-family: var(--font-family-theme), sans-serif;
    font-size: var(--font-size-default);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-info-color-text-label);

    &-horizontal {
      /* Usado por conta do espaçamento do grid system */
      display: table-cell;
      padding: var(--padding);
    }
  }

  &-value {
    @apply --font-info-font-value;
    color: var(--color-info-color-text-value);
    display: block;
    word-break: break-word;
    line-height: var(--line-height-md);

    &-horizontal {
      display: table-cell;
      margin-top: 0;
      /* Usado por conta do espaçamento do grid system */
      padding: 0 !important;
    }

    &-pre {
      white-space: pre-wrap;
    }
  }
}

.po-info-container-content {
  padding: var(--padding);
  width: 100%;
}

.po-info-link,
.po-info-link:link,
.po-info-link:visited {
  color: var(--color-info-color-link);
  text-decoration: none;
}

.po-info-link:hover {
  color: var(--color-info-color-link-hover);
  cursor: pointer;
  text-decoration: underline;
}

.po-info-link:active {
  color: var(--color-info-color-link-pressed);
}
