:root {
  --font-tooltip-font-text: {
    @apply --font-text;
  }

  --shadow-tooltip-shadow-balloon: var(--shadow-tooltip);
}

.po-tooltip {
  background-color: var(--color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-tooltip-shadow-balloon);
  max-width: 15rem;
  padding: var(--spacing-squish-md);
  position: fixed;
  z-index: 1000;
  opacity: 0;
  display: block;
}

.po-tooltip-arrow {
  background-color: var(--color);
  opacity: 0.9;
}

.po-tooltip-content {
  @apply --font-tooltip-font-text;
  color: var(--text-color);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
  opacity: 0.9;
}
