.po-datepicker {
  position: relative;
}

.po-datepicker-popup-calendar {
  height: 288px;
  position: fixed;
  width: 288px;
  z-index: 1000;
}

.po-datepicker-popup-calendar .po-calendar {
  position: absolute;
}

.po-datepicker-calendar-mobile {
  left: calc(50% - (var(--po-calendar-width) / 2));
  position: fixed !important;
  top: calc(50% - 145px);
  z-index: 11;
}

.po-datepicker-calendar-overlay {
  background-color: var(--color-calendar-background-color-mobile-overlay);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.po-datepicker-button i {
  font-size: var(--font-size-lg);
}

po-datepicker[p-size='small'] .po-datepicker-button i {
  font-size: var(--font-size-default);
}

/* .po-datepicker-button-aa i {
  font-size: var(--font-size-default);
} */

po-datepicker .po-field-container-title po-helper {
  padding-right: 18px;
}

[data-a11y='AA'] po-datepicker .po-field-container-title po-helper[p-size='small'] {
  padding-right: 9px;
}
