.po-datepicker {
  position: relative;
}

.po-datepicker-popup-calendar {
  height: 288px;
  position: fixed;
  width: 288px;
  z-index: 1000;
}

.po-datepicker-popup-calendar .po-calendar {
  position: absolute;
}

.po-datepicker-calendar-mobile {
  left: calc(50% - (var(--po-calendar-width) / 2));
  position: fixed !important;
  top: calc(50% - 145px);
  z-index: 11;
}

.po-datepicker-calendar-overlay {
  background-color: var(--color-calendar-background-color-mobile-overlay);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.po-datepicker-button i {
  font-size: 1.5rem;
}
