.po-progress-description {
  margin-bottom: var(--spacing-xs);
}

.po-progress-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: var(--spacing-xs);
}

.po-progress-info-text {
  font-family: var(--font-family);
  color: var(--color-progress-color-text, var(--text-color));
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-default);
  line-height: var(--line-height-md);
}

[data-a11y='AA'] .po-progress[p-size-actions='small'] .po-progress-description label.po-label,
[data-a11y='AA'] .po-progress[p-size-actions='small'] .po-progress-info-text,
[data-a11y='AA'] .po-progress[p-size-actions='small'] .po-progress-info-left,
[data-a11y='AA'] .po-progress[p-size-actions='small'] .po-progress-info-right {
  font-size: var(--font-size-sm);
}

.po-progress-info-text-error {
  color: var(--text-color-error);
  font-size: var(--font-size-sm);
}

.po-progress-info-icon-error {
  color: var(--color-icon-error);
}

.po-progress-info-left,
.po-progress-info-right {
  display: flex;
  gap: var(--spacing-xs);
  font-size: var(--font-size-default);
  margin-bottom: auto;
}

.po-progress-info-left {
  align-items: top;
}

.po-progress-info-right {
  align-items: center;
}
