.po-progress-description {
  margin-bottom: var(--spacing-xs);
}

.po-progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.po-progress-info-text {
  font-family: var(--font-family);
  color: var(--color-progress-color-text, var(--text-color));
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
}

.po-progress-info-text-error {
  color: var(--color-progress-color-text-error, var(--text-color-error));
  font-size: var(--font-size-sm);
}

.po-progress-info-icon-error {
  color: var(--color-icon-error);
}

.po-progress-info-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.po-progress-info-left {
  gap: var(--spacing-xs);
  display: flex;
  align-items: center;
}
