po-divider {
  --font-family: var(--font-family-theme);
  --font-size: 10px;
  --line-height: 16px;
  --text-transform: uppercase;
}

.po-divider-label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: var(--text-transform);
  color: var(--color-neutral-dark-90);
  margin-bottom: 4px;
  padding-left: 0.2em;
}

.po-divider {
  margin-bottom: 16px;
  padding: 8px 0;
}

.po-divider[p-size='small'] svg {
  height: var(--border-width-sm);
}

.po-divider[p-size='medium'] svg {
  height: var(--border-width-md);
}

.po-divider[p-size='large'] svg {
  height: var(--border-width-lg);
}

.po-divider[p-size='small'] line {
  stroke-width: var(--border-width-sm);
}

.po-divider[p-size='medium'] line {
  stroke-width: var(--border-width-md);
}

.po-divider[p-size='large'] line {
  stroke-width: var(--border-width-lg);
}

.po-divider svg {
  display: block;
  width: 100%;
}

.po-divider line {
  fill: var(--color);
  stroke: var(--color);
  stroke-linecap: var(--stroke-linecap);
}
