.po-dropdown,
[data-a11y='AAA'] .po-dropdown-aa {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size, var(--font-size-default));
  line-height: var(--line-height);
  display: inline-grid;
  position: relative;
  width: inherit;
  border-radius: var(--border-radius);
}

.po-dropdown-aa {
  font-size: var(--font-size, var(--font-size-sm));
}

.po-dropdown[disabled='true'] {
  cursor: not-allowed;
}

.po-dropdown-button,
[data-a11y='AAA'] .po-dropdown-button-aa {
  background-color: var(--background);
  border: solid var(--border-width) var(--color);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  min-height: var(--target-size-aaa);
  padding: var(--padding, 0 var(--spacing-sm));
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.po-dropdown-button-aa {
  min-height: var(--target-size-aa);
  padding: var(--padding, 0 var(--spacing-xs));
}

.po-dropdown-button:hover {
  border: solid var(--border-width) var(--color-hover);
  color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-dropdown:focus:not(.po-dropdown[disabled='true']),
.po-dropdown:enabled:active:not(.po-dropdown[disabled='true']) {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-dropdown-button:enabled:active {
  background-color: var(--background-pressed);
}

.po-dropdown-button:active {
  background-color: var(--background-pressed);
}

.po-dropdown-button-disabled {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

.po-dropdown-button-open,
.po-dropdown-button-open:hover {
  background-color: var(--background-pressed);
  border: solid var(--border-width) var(--color-hover);
  color: var(--color-dropdown-button-color-hover, var(--color-hover));
}

.po-dropdown-icon,
[data-a11y='AAA'] .po-dropdown-icon-aa {
  font-size: var(--font-size-lg);
  margin-left: 0.5em;
  display: flex;
}

.po-dropdown-icon-aa {
  font-size: var(--font-size-default);
}
