.po-upload-file-restrictions {
  color: var(--color-upload-file-restrictions-color-text);
  display: block;
  padding: var(--spacing-sm) 0 var(--spacing-xs) 0;
}

[data-a11y='AA'] [p-size='small'] .po-upload-file-restrictions {
  padding: var(--spacing-xs) 0 0 0;
}
