.po-upload-file-restrictions {
  font-family: var(--font-family-text-support);
  color: var(--text-color-text-support, var(--color-upload-file-restrictions-color-text));
  display: block;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  padding: var(--spacing-sm) 0 var(--spacing-xs) 0;
}
