.po-tab-button,
[data-a11y='AAA'] .po-tab-button-aa {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  font-weight: var(--font-weight);

  color: var(--color);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  max-width: 15rem;
  min-height: var(--target-size-aaa);
  padding-top: 0.5em;
}

.po-tab-button-aa {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
}

.po-tab-button-default po-button[p-kind='tertiary'] {
  --shadow: var(--shadow-lg);
  --background-color: var(--color-neutral-light-00);
}

po-tab-button.po-tab-button:last-child {
  margin-right: var(--margin-tabs-last-child);
}

po-tab-button.po-tab-button:first-child {
  margin-left: var(--margin-tabs-first-child);
}

po-context-tabs .po-tabs-button-wrapper {
  padding-left: var(--margin-tabs-first-child);
  padding-right: var(--margin-tabs-last-child);
}

.border-tab-button {
  box-shadow: inset 0 -1px 0 0 var(--color-baseline);
}

.po-tab-button-default {
  align-items: center;
  display: inline-flex;
  min-height: inherit;
  text-align: center;
  width: 100%;
  background-color: var(--background-item-default);
  border-radius: var(--border-radius);
}

.po-tab-button-default:not(.po-tab-button-disabled, .po-tab-dropdown-content):hover {
  background-color: var(--background-item-hover);
  border-radius: var(--border-radius);
  color: var(--color-hover);
}

.po-tab-button-default:not(.po-tab-button-disabled):focus-visible {
  background-color: var(--background-item-selected);
  border-radius: var(--border-radius);
  color: var(--color-hover);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-tab-button-disabled {
  cursor: not-allowed;
  background-color: var(--background-item-disabled);
  border-radius: var(--border-radius);
  color: var(--color-disabled);
}

.po-tab-button-label {
  padding: 0 1rem;
  width: 100%;
  user-select: none;
}

.po-tab-border-active,
.po-tab-border-disabled {
  width: 100%;
  height: 0.125rem;
  margin-top: 0.25rem;
  border-radius: 1px;
}

.po-tab-border-active {
  background-color: var(--color);
}

.po-tab-border-disabled {
  background-color: transparent;
}

.po-tab-button-active {
  background-color: var(--background-item-selected);
  border-radius: var(--border-radius);
}

.po-tab-dropdown-device .po-tab-button-default po-button[p-kind='tertiary'] {
  padding-block: 6px;
  margin-top: 1px;
}

.po-tab-button .po-context-tab-button-label,
[data-a11y='AAA'] .po-tab-button-aa .po-context-tab-button-label {
  padding-left: 1rem;
  padding-right: calc(var(--target-size-aaa) + 2px);
}

.po-tab-button-aa .po-context-tab-button-label {
  padding-right: calc(var(--target-size-aa) + 2px);
}

.po-tab-button-content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.po-tab-button .po-tab-button-content-close-icon,
[data-a11y='AAA'] .po-tab-button-aa .po-tab-button-content-close-icon {
  right: 0;
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  display: flex;
  position: absolute;
  justify-content: center;
}

.po-tab-button-aa .po-tab-button-content-close-icon {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

.po-tab-button-icon-close:focus-visible {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-tab-button-icon-close {
  align-items: center;
  display: flex;
  align-self: center;
  height: 16px;
}

.po-tab-button-icon-close i {
  font-size: 16px;
  display: block;
}
