/* Classe que possibilita colocar o botão de clean na mesma linha, */
.po-field-container-content {
  padding: var(--padding, var(--spacing-xs) 0);
  position: relative;
  width: 100%;
}

po-field-container[p-size='small'] .po-field-container-content {
  padding: var(--padding, var(--spacing-xxs) 0);
}

.po-field-container-content-datepicker {
  display: flex;
  gap: var(--spacing-xs);
}

.po-field-container-title {
  display: flex;
  width: 100%;
  justify-content: var(--field-container-title-justify);
  align-items: center;
}

.po-field-container-title .po-label {
  font-size: var(--font-size, var(--font-size-default));
}

po-field-container[p-size='small'] .po-field-container-title .po-label {
  font-size: var(--font-size, var(--font-size-sm));
}

.po-field-container-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.po-field-container-title po-label {
  flex: var(--field-container-title-flex);
  min-width: 0;
}

.po-field-container-title po-helper {
  display: flex;
  padding-right: var(--spacing-2xs);
}

po-field-container[p-size='small'] .po-field-container-title po-helper {
  padding-right: var(--spacing-xs);
}

.po-field-container-title:has(po-helper) .po-label-requirement {
  padding-right: var(--spacing-xs);
}

.po-field-container-content:has(po-helper) {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--padding, var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0);
}

po-field-container[p-size='small'] .po-field-container-content:has(po-helper) {
  padding: var(--padding, var(--spacing-xxs) var(--spacing-xs) var(--spacing-xxs) 0);
}

.po-field-container-content:has(po-helper) .po-field-container-input {
  flex: 1;
  display: flex;
  align-items: center;
}

.po-field-container-content:has(po-helper) .po-input {
  flex: 1;
}

.po-field-container-content:has(po-helper):has(.container-po-checkbox) {
  display: block;
  padding-right: 0px;
}

.po-field-container-title.po-field-container-compact-label {
  justify-content: flex-start;
}

.po-field-container-title.po-field-container-compact-label po-label {
  flex: 0 1 auto;
}

.po-field-container-content-helper-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xs);
}

.po-field-container-content-helper-wrapper .po-field-container-input:not(:has(.po-combo-input)) {
  width: auto;
  min-width: 0;
  flex: 1 1 0%;
}

.po-field-container-content-helper-wrapper po-helper {
  flex: 0 0 auto;
}

.po-field-container-content-helper-wrapper po-helper {
  height: var(--target-size-aaa);
}
.po-field-container-content-helper-wrapper po-helper[p-size='small'] {
  height: var(--target-size-aa);
}
