/* Classe que possibilita colocar o botão de clean na mesma linha, */
.po-field-container-content {
  padding: var(--spacing-xxs) 0 var(--spacing-xs) 0;
  padding: var(--padding);
  position: relative;
  width: 100%;
}

.po-field-container-content-datepicker {
  display: flex;
  gap: var(--spacing-xs);
}

.po-field-container-title {
  display: flex;
  width: 100%;
}

.po-field-container-title .po-label,
[data-a11y='AAA'] .po-field-container-title-aa .po-label {
  font-size: var(--font-size-default);
}

.po-field-container-title-aa .po-label {
  font-size: var(--font-size-sm);
}

.po-field-container-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
