.po-calendar-with-presets {
  display: inline-flex;
  flex-direction: row;
  width: auto;
}

.po-calendar-preset-list {
  display: flex;
  flex-direction: column;
  border-right: var(--border-width-sm) solid var(--color-neutral-mid-20);
  padding: var(--spacing-xs);
  min-width: 9rem;
  max-width: 12.75rem;
  height: 0;
  min-height: 100%;
  overflow-y: auto;
  gap: var(--spacing-xs);
}

po-calendar[p-size='small'] .po-calendar-preset-list {
  max-width: 10.5rem;
  padding: var(--spacing-xxs);
}

po-calendar .po-calendar-preset-list .po-button {
  width: 100%;
}

.po-calendar-with-presets.po-calendar-mobile .po-calendar-preset-list .po-button {
  width: max-content;
}

po-calendar[p-size='small'] .po-calendar-with-presets.po-calendar {
  width: auto;
}

.po-calendar-with-presets.po-calendar-mobile {
  flex-direction: column;
}

.po-calendar-mobile .po-calendar-preset-list {
  border-top: var(--border-width-sm) solid var(--color-neutral-mid-20);
  border-right: none;
  height: var(--spacing-4xl);
  min-width: unset;
  max-width: unset;
  width: 25.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scrollbar-width: none;
  flex-direction: row;
  gap: var(--spacing-sm);
  align-items: center;
}

po-calendar[p-size='small'] .po-calendar-mobile .po-calendar-preset-list {
  min-width: unset;
  max-width: unset;
  height: var(--spacing-2xl);
  width: 21rem;
}

.po-calendar-mobile.po-calendar-responsive .po-calendar-preset-list {
  scrollbar-width: auto;
  height: 72px;
}

po-calendar[p-size='small'] .po-calendar-mobile.po-calendar-responsive .po-calendar-preset-list {
  height: var(--spacing-3xl);
}

.po-calendar.po-calendar-mobile.po-calendar-with-presets .po-calendar-footer {
  position: relative;
  padding: var(--spacing-xs) 0;
  border-top: var(--border-width-sm) solid var(--color-neutral-mid-20);
}

.po-calendar-with-presets .po-calendar-footer {
  justify-content: center;
}
