.po-calendar {
  background-color: var(--background);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  border-width: var(--border-width);
  box-shadow: var(--shadow);
  height: auto;
  width: 25.5rem;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.po-calendar-wrapper {
  display: inline-block;
  height: 100%;
  width: 25.5rem;
  position: relative;
}

.po-calendar-range {
  background-color: var(--background);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  border-width: var(--border-width);
  box-shadow: var(--shadow);
  height: auto;
  width: 25.5rem;
  overflow: hidden;
  user-select: none;
  display: inline-flex;
}

/* Duplo A com size=small: reduzido */
[data-a11y='AA'] po-calendar[p-size='small'] .po-calendar,
[data-a11y='AA'] po-calendar[p-size='small'] .po-calendar-wrapper,
[data-a11y='AA'] po-calendar[p-size='small'] .po-calendar-range {
  width: 21rem;
}
