:root {
  --border-container-border-no-shadow: solid 1px var(--color-container-color-shadow);
  --shadow-container-box-shadow: var(--shadow-container);
}

.po-container {
  display: grid;
  width: 100%;
}

.po-container-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--line-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  margin: var(--margin);
  display: grid;
}

.po-container-content {
  border-radius: var(--border-radius);
  border: solid var(--border-width) var(--border-color);
  box-shadow: none;
  display: block;
  height: auto;
  overflow-y: auto;
  padding: var(--padding);
  width: 100%;
}

.po-container-content:not(po-widget .po-container-content) {
  background-color: var(--background);
}

.po-container-no-border {
  border: none;
}

.po-container-no-padding {
  padding: 0;
}
