:root {
  --border-container-border-no-shadow: solid 1px var(--color-container-color-shadow);
  --shadow-container-box-shadow: var(--shadow-container);
}

.po-container {
  border-radius: var(--border-radius);
  border: solid var(--border-width) var(--border-color);
  box-shadow: none;
  display: block;
  height: auto;
  overflow-y: auto;
  padding: var(--padding);
  width: 100%;
}

.po-container:not(po-widget .po-container) {
  background-color: var(--background);
}

.po-container-no-border {
  border: none;
}

.po-container-no-padding {
  padding: 0;
}
