.po-disclaimer {
  align-items: center;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--color);
  border-style: solid;
  border-width: var(--border-width-sm);
  display: flex;
  gap: 0.25em;
  justify-content: center;
  max-width: 15em;
  min-height: 1.5em;
  padding-left: var(--spacing-xs);
}

.po-disclaimer > * {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-disclaimer-label,
.po-disclaimer-remove {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  overflow: hidden;
  text-align: left;
}

.po-disclaimer-label span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.po-disclaimer-remove {
  background-color: var(--color);
  border-bottom-right-radius: var(--border-radius);
  border-left-color: var(--border-color);
  border-left-style: solid;
  border-left-width: var(--border-width-sm);
  border-top-right-radius: var(--border-radius);
  color: var(--color-icon);
  min-width: 1.5625em;
  overflow: hidden;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.po-disclaimer-remove-danger {
  background-color: var(--color-feedback-negative-lightest);
  color: var(--color-feedback-negative-darker);
  border-left-color: var(--color-feedback-negative-darker);
}

.po-disclaimer-label span {
  color: var(--text-color);
}

.po-disclaimer-remove:active,
.po-disclaimer-remove:focus-visible {
  outline-color: var(--outline-color-focused);
  outline-style: solid;
  outline-width: var(--outline-width);
}

.po-disclaimer-remove:hover {
  background-color: var(--color-hover);
}

.po-disclaimer-remove-all {
  padding-right: 0.5em;
}

.po-disclaimer-danger {
  background-color: var(--color-feedback-negative-lightest);
  border-color: var(--color-feedback-negative-darker);
}

.po-disclaimer-danger > .po-disclaimer-label > span {
  color: var(--color-feedback-negative-darker);
}

.po-disclaimer-remove-danger:hover {
  background-color: var(--color-feedback-negative-lighter);
}

.po-disclaimer-danger:active,
.po-disclaimer-danger:focus-visible {
  outline-color: var(--outline-color-focused);
  outline-style: solid;
  outline-width: var(--outline-width);
  outline-offset: 2px;
}

@media print {
  .po-disclaimer-label,
  .po-disclaimer-remove {
    print-color-adjust: exact;
  }
}
