@font-face {
  font-family: 'PoIcon';
  src: url('./../icons/PoIcon/PoIcon.eot?31xwv');
  src: url('./../icons/PoIcon/PoIcon.eot?31xwv#iefix') format('embedded-opentype'),
    url('./../icons/PoIcon/PoIcon.ttf?31xwv') format('truetype'),
    url('./../icons/PoIcon/PoIcon.woff?31xwv') format('woff'),
    url('./../icons/PoIcon/PoIcon.svg?31xwv#PoIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

po-icon i {
  font-style: normal;
}

[class^='po-icon'],
[class*=' po-icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PoIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.po-icon {
  display: inline-block;
  font: normal normal normal 14px/1 PoIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
