ani-select {
  --text-color-empty: var(--color-neutral-light-30);
  --color: var(--color-select-border-button, var(--color-neutral-dark-70));
  --background: var(--color-select-background-color, var(--color-neutral-light-05));
  --text-color: var(--color-select-color-primary, var(--color-neutral-dark-90));
  --color-hover: var(--color-select-border-button-hover, var(--color-action-hover));
  --background-hover: var(--color-select-background-color-item-hover, var(--color-brand-01-lightest));
  --color-focused: var(--color-select-border-button-focus, var(--color-action-default));
  --outline-color-focused: var(--color-brand-02-darkest, var(--color-action-focus));
  --color-disabled: var(--color-select-button-disabled, var(--color-action-disabled));
  --background-disabled: var(--color-select-background-color-disabled, var(--color-neutral-light-20));
}
