<style>
  .po-select-container {
    position: relative;
  }

  .po-select-content {
    margin-top: 8px;
    position: absolute;
    width: 100%;
  }
</style>

<article>
  <section>
    <div class="po-row">
      <po-select class="po-md-12">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title"></span>
          </div>

          <div class="po-field-container-content">
            <select name="select1" class="po-select">
              <option value="1">Sem label e sem help</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-12">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Label</span>
          </div>
          <div class="po-field-help">Help</div>

          <div class="po-field-container-content">
            <select name="select1" class="po-select">
              <option value="1">Com label e com help</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-12">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Com placeholder</span>
          </div>

          <div class="po-field-container-content">
            <select name="select1" class="po-select po-select-placeholder">
              <option disabled selected value="">Placeholder</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-12">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Desabilitado</span>
          </div>

          <div class="po-field-container-content">
            <select name="select2" class="po-select" disabled>
              <option hidden value=""></option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Opcional</span>
            <span class="po-field-optional">(Opcional)</span>
          </div>

          <div class="po-field-container-content">
            <select name="select2" class="po-select">
              <option hidden value=""></option>
              <option value="1">São Paulo</option>
              <option value="2">Rio de Janeiro</option>
              <option value="3">Santa Catarina</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-6 ng-invalid ng-dirty">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Inválido</span>
          </div>

          <div class="po-field-container-content">
            <select name="select1" class="po-select" required>
              <option hidden value=""></option>
              <option value="1">São Paulo</option>
              <option value="2">Rio de Janeiro</option>
              <option value="3">Santa Catarina</option>
            </select>
          </div>

          <div class="po-field-container-bottom">
            <span class="po-field-container-bottom-text-error">
              <span class="po-icon po-icon-warning po-field-container-icon-error"></span>
              Mensagem de erro
            </span>
          </div>
        </div>
      </po-select>

      <po-select class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Selecionado</span>
          </div>

          <div class="po-field-container-content">
            <select name="select3" class="po-select">
              <option value="1">São Paulo</option>
              <option value="2">Paraná</option>
              <option value="3">Santa Catarina</option>
              <option value="4">Sergipe</option>
              <option value="5">Tocantins</option>
              <option value="6" selected>Pernambuco</option>
              <option value="7">Rio Grande do Sul</option>
              <option value="8">Rio de Janeiro</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>

      <po-select class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Texto que ultrapassou o tamanho do componente ao ser selecionado</span>
          </div>

          <div class="po-field-container-content">
            <select name="select3" class="po-select">
              <option value="1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </option>
              <option value="2">ADVPL</option>
            </select>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </po-select>
    </div>
  </section>
</article>
