.po-input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--color-input-background-color-text, var(--background));
  padding: var(--padding, 0 0.5em);
  border: 1px solid var(--color-input-border-text, var(--color));
  border-radius: 4px;
  min-height: 2.75em;
  box-sizing: border-box;
  width: 100%;
}

.po-input.po-input-icon-right {
  padding-right: 44px;
}

.po-input.po-input-double-icon-right {
  padding-right: 68px;
}

.po-input::placeholder {
  color: var(--color-input-text-placeholder, var(--text-color-placeholder));
}

.po-input.po-input-icon-left {
  padding-left: 44px;
}

.po-input:hover {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-input:focus {
  border-color: var(--color-input-border-text-focusable, var(--color-focused));
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-input:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-input:read-only:not(div, :disabled) {
  border-color: var(--color-neutral-light-30);
  background-color: var(--color-neutral-light-05);
  color: var(--color-neutral-dark-70);
  cursor: text;
}

.po-input:disabled,
.po-input[disabled='true'] {
  border-color: var(--color-input-border-text, var(--color-disabled));
  background-color: var(--color-input-border-text-disabled, var(--background-disabled));
  color: var(--color-input-color-disabled, var(--text-color-disabled));
  cursor: not-allowed;
}

.po-icon-input-disabled {
  color: var(--color-field-icon-color-disabled);
  cursor: not-allowed;
}

.po-input::-ms-clear,
.po-input::-ms-reveal {
  display: none;
}

po-datepicker.ng-invalid.ng-dirty .po-input,
po-decimal.ng-invalid.ng-dirty .po-input,
po-email.ng-invalid.ng-dirty .po-input,
po-input.ng-invalid.ng-dirty .po-input,
po-login.ng-invalid.ng-dirty .po-input,
po-lookup.ng-invalid.ng-dirty .po-input,
po-number.ng-invalid.ng-dirty .po-input,
po-password.ng-invalid.ng-dirty .po-input,
po-select.ng-invalid.ng-dirty .po-select-button,
po-upload.ng-invalid.ng-dirty .po-upload-button button,
po-url.ng-invalid.ng-dirty .po-input {
  border: solid 1px var(--color-input-border-text-error) !important;
  color: var(--color-input-text-error);
}

po-input.ng-invalid-mask .po-input {
  border: solid 1px var(--color-input-border-text-error) !important;
  color: var(--color-input-text-error);
}
