.po-input,
[data-a11y='AAA'] .po-input-aa {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  color: var(--text-color);
  background-color: var(--background);
  padding: var(--padding, 0 0.5em);
  border: 1px solid var(--color);
  border-radius: 4px;
  min-height: var(--target-size-aaa);
  box-sizing: border-box;
  width: 100%;
}

.po-input-aa {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
}

.po-input.po-input-icon-right,
[data-a11y='AAA'] .po-input.po-input-icon-right-aa {
  padding-right: 44px;
}

.po-input.po-input-icon-right-aa {
  padding-right: var(--target-size-aa);
}

.po-input.po-input-double-icon-right,
[data-a11y='AAA'] .po-input.po-input-double-icon-right-aa {
  padding-right: 78px;
}

.po-input.po-input-double-icon-right-aa {
  padding-right: calc(var(--target-size-aa) + var(--spacing-md));
}

.po-input::placeholder,
.po-datepicker-range-input::placeholder {
  color: var(--text-color-placeholder);
}

.po-input.po-input-icon-left,
[data-a11y='AAA'] .po-input.po-input-icon-left-aa {
  padding-left: 44px;
}

.po-input.po-input-icon-left-aa {
  padding-left: var(--target-size-aa);
}

.po-input:hover:not(:has(.po-datepicker-range-button:hover, po-clean:hover)) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-input:focus {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-input:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

po-datepicker-range .readonly .po-input,
.po-input:read-only:not(div, :disabled) {
  border-color: var(--color-neutral-light-30);
  background-color: var(--color-neutral-light-05);
  color: var(--color-neutral-dark-70);
  cursor: text;
}

.po-input:disabled,
.po-input[disabled='true'] {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  color: var(--text-color-disabled);
  cursor: not-allowed;
}

.po-icon-input-disabled {
  color: var(--color-neutral-light-30);
  cursor: not-allowed;
}

.po-input::-ms-clear,
.po-input::-ms-reveal {
  display: none;
}

po-datepicker.ng-invalid.ng-dirty .po-button,
po-datepicker-range.ng-invalid.ng-dirty .po-button,
.po-field-container-input .po-button-tertiary-danger .po-button {
  position: relative;
  color: var(--color-button-danger);
}

po-datepicker.ng-invalid.ng-dirty .po-button:hover,
po-datepicker-range.ng-invalid.ng-dirty .po-button:hover,
.po-field-container-input .po-button-tertiary-danger .po-button:hover {
  position: relative;
  color: var(--color-danger-hover);
  background-color: var(--background-danger-hover);
}

po-datepicker.ng-invalid.ng-dirty .po-button:active,
po-datepicker-range.ng-invalid.ng-dirty .po-button:active,
.po-field-container-input .po-button-tertiary-danger .po-button:active {
  position: relative;
  color: var(--color-danger-pressed);
  background-color: var(--background-danger-pressed);
}

po-datepicker .po-button-vertical-divider,
po-datepicker-range .po-button-vertical-divider {
  background-color: var(--color-neutral-light-40);
  stroke-linecap: round;
  width: var(--border-width-sm);
  height: 24px;
  flex-shrink: 0;
}

po-datepicker[p-size='small'] .po-button-vertical-divider,
po-datepicker-range[p-size='small'] .po-button-vertical-divider {
  height: 16px;
}

po-datepicker.ng-invalid.ng-dirty .po-input,
po-datepicker-range.ng-invalid.ng-dirty .po-input,
po-decimal.ng-invalid.ng-dirty .po-input,
po-email.ng-invalid.ng-dirty .po-input,
po-input.ng-invalid.ng-dirty .po-input,
po-login.ng-invalid.ng-dirty .po-input,
po-lookup.ng-invalid.ng-dirty .po-input,
po-number.ng-invalid.ng-dirty .po-input,
po-password.ng-invalid.ng-dirty .po-input,
po-select.ng-invalid.ng-dirty .po-select-button,
po-upload.ng-invalid.ng-dirty .po-upload-button button,
po-url.ng-invalid.ng-dirty .po-input {
  border: solid 1px var(--color-feedback-negative-base) !important;
  color: var(--color-feedback-negative-base);
}

po-decimal[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-email[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-input[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-login[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-lookup[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-number[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-password[p-loading='true'].ng-invalid.ng-dirty .po-input,
po-select[p-loading='true'].ng-invalid.ng-dirty .po-select-button,
po-url[p-loading='true'].ng-invalid.ng-dirty .po-input {
  border-color: var(--color-disabled) !important;
  color: var(--text-color-disabled);
}

po-password[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-login[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-decimal[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-number[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-input[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-email[p-loading='true'].ng-invalid.ng-dirty .po-field-icon,
po-url[p-loading='true'].ng-invalid.ng-dirty .po-field-icon {
  color: var(--color-neutral-light-30) !important;
}

po-input.ng-invalid-mask .po-input {
  border: solid 1px var(--color-feedback-negative-base) !important;
  color: var(--color-feedback-negative-base);
}

po-password po-clean + po-icon {
  margin-left: 8px;
}

po-input .po-field-icon-container-right .po-loading-icon-container,
po-decimal .po-field-icon-container-right .po-loading-icon-container,
po-email .po-field-icon-container-right .po-loading-icon-container,
po-login .po-field-icon-container-right .po-loading-icon-container,
po-url .po-field-icon-container-right .po-loading-icon-container,
po-number .po-field-icon-container-right .po-loading-icon-container,
po-password .po-field-icon-container-right .po-loading-icon-container {
  display: flex;
  justify-content: center;
}
