.po-datepicker-range-end-date {
  display: table-cell;
  padding-left: 2px;
  vertical-align: middle;
}

.po-datepicker-range-field {
  appearance: none !important;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.po-datepicker-range-field-disabled {
  pointer-events: none;
}

.po-date-picker-container-disabled {
  cursor: not-allowed !important;
}

div.po-datepicker-range-field-focused {
  border-color: var(--color-datepicker-range-color-focused) !important;
  outline-color: var(--color-action-focus);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

po-datepicker-range .po-loading-icon-container {
  display: flex;
  justify-content: center;
}

po-datepicker-range po-loading-icon {
  position: absolute;
  right: 0;
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  align-items: center;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

po-datepicker-range[p-size='small'] po-loading-icon {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

po-datepicker-range .po-datepicker-range-button .po-button {
  width: var(--target-size-aaa);
  max-width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  max-height: var(--target-size-aaa);
  justify-content: center;
}

po-datepicker-range[p-size='small'] .po-datepicker-range-button .po-button {
  width: var(--target-size-aa);
  max-width: var(--target-size-aa);
  height: var(--target-size-aa);
  max-height: var(--target-size-aa);
  justify-content: center;
}

po-datepicker-range
  .po-field-container-content
  .po-field-icon-container-right:not(po-calendar .po-field-icon-container-right) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

.po-datepicker-range-input {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  height: 100%;
  width: 100%;
}

/* Desabilita o clean field e o reveal do IE 10+ */
.po-datepicker-range-input::-ms-clear,
.po-datepicker-range-input::-ms-reveal {
  display: none;
}

.po-datepicker-range-input:focus {
  outline: none;
}

po-datepicker-range po-clean.po-icon-input {
  width: var(--target-size-aaa);
  height: var(--target-size-aaa);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
}
po-datepicker-range[p-size='small'] po-clean.po-icon-input {
  width: var(--target-size-aa);
  height: var(--target-size-aa);
}

po-datepicker-range po-clean.po-icon-input:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: var(--border-width-md);
}

.po-datepicker-range-separator {
  display: table-cell;
  vertical-align: middle;
  width: 8px;
}

po-datepicker-range .po-input.po-input-icon-right {
  padding-right: calc(var(--target-size-aaa) * 2);
}

po-datepicker-range[p-size='small'] .po-input.po-input-icon-right {
  padding-right: calc(var(--target-size-aa) * 2);
}

.po-datepicker-range-start-date,
[data-a11y='AAA'] po-datepicker-range[p-size='small'] .po-datepicker-range-start-date {
  display: table-cell;
  vertical-align: middle;
  width: 90px;
}

po-datepicker-range[p-size='small'] .po-datepicker-range-start-date {
  width: 80px;
}

.po-calendar-range-picker {
  position: fixed;
  z-index: 1000;
}

po-datepicker-range.ng-invalid.ng-dirty .po-input {
  border: 1px solid var(--color-datepicker-range-border-text-error);
  color: var(--color-datepicker-range-color-text-error);
  outline: none;
}
