.po-datepicker-range-end-date {
  display: table-cell;
  padding-left: 2px;
  vertical-align: middle;
}

.po-datepicker-range-field {
  appearance: none !important;
  display: table;
}

.po-datepicker-range-field-disabled {
  background-color: var(--color-datepicker-range-background-color-disabled);
  border: solid 1px var(--color-datepicker-range-border-text);
  color: var(--color-datepicker-range-color-disabled);
  pointer-events: none;
}

.po-date-picker-container-disabled {
  cursor: not-allowed !important;
}

div.po-datepicker-range-field-focused {
  border-color: var(--color-datepicker-range-color-focused) !important;
  outline-color: var(--color-action-focus);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-datepicker-range-field:hover {
  border-color: var(--color-hover) !important;
  background-color: var(--color-brand-01-lightest) !important;
}

.po-datepicker-range-icon {
  display: table-cell;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  width: 10px;
}

.po-datepicker-range-input {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  height: 100%;
  width: 100%;
}

/* Desabilita o clean field e o reveal do IE 10+ */
.po-datepicker-range-input::-ms-clear,
.po-datepicker-range-input::-ms-reveal {
  display: none;
}

.po-datepicker-range-input:focus {
  outline: none;
}

.po-datepicker-range-separator {
  display: table-cell;
  vertical-align: middle;
  width: 8px;
}

.po-datepicker-range-start-date {
  display: table-cell;
  vertical-align: middle;
  width: 90px;
}

po-datepicker-range[p-size='small'] .po-datepicker-range-start-date {
  width: 80px;
}

.po-calendar-range-picker {
  position: fixed;
  z-index: 1000;
}

po-datepicker-range.ng-invalid.ng-dirty .po-field-icon {
  color: var(--color-datepicker-range-color-text-error) !important;
}

po-datepicker-range.ng-invalid.ng-dirty .po-input {
  border: 1px solid var(--color-datepicker-range-border-text-error) !important;
  color: var(--color-datepicker-range-color-text-error);
  outline: none;
}
