:root {
  --font-rich-text-toolbar-button-icon {
    @apply --font-subtitle;
  }

  --rich-text-toolbar-button-group-height: 44px;
  --rich-text-toolbar-button-group-width: 44px;

  --rich-text-toolbar-min-height: 64px;

  /* Valores herdados do componente po-rich-text-body */
  --rich-text-toolbar-min-width: var(--rich-text-body-min-width);
  --border-rich-text-toolbar-border: var(--border-rich-text-body-border);
}

.po-rich-text-toolbar {
  background-color: var(--color-rich-text-toolbar-background-color);
  border: var(--border-rich-text-toolbar-border);
  border-radius: 0 0 3px 3px;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.75em;
  min-height: var(--rich-text-toolbar-min-height);
  min-width: var(--rich-text-toolbar-min-width);
  padding: 1em;
  width: 100%;
}

/* Necessário para alinhar os grupos dos botões, deverá ser aplicado na tag do componente 'po-button-group' */
.po-rich-text-toolbar-button-align {
  display: inline-block;
}

/* Aplica a largura fixa em cada botão do po-button-group */
.po-rich-text-toolbar .po-button-group {
  width: var(--rich-text-toolbar-button-group-width);
  padding: inherit;
}

/* Necessário para fixar a altura do po-button pois o mesmo tem tratamento para responsividade */
.po-rich-text-toolbar .po-button-group > .po-button {
  font-size: 16px;
  height: var(--rich-text-toolbar-button-group-height);
  padding: 0;
}

/* Seletor necessário para sobrepor o padding 0 */
.po-rich-text-toolbar .po-button-group > .po-rich-text-toolbar-color-picker-button {
  padding: 4px;
  vertical-align: middle;
}

.po-rich-text-toolbar-color-picker-button {
  font-size: 16px;
  height: 44px;
  padding: 0;
  width: 44px;
}

.po-button-default.po-rich-text-toolbar-color-picker-button {
  border: none;
}

.po-rich-text-toolbar-color-picker-container {
  display: flex;
}

/* Altera o tamanho do ícone dos po-buttons para respeitar o tamanho definido pela UX */
.po-rich-text-toolbar .po-button-group .po-icon {
  font-size: 1.5em;
}

.po-rich-text-toolbar-color-picker-input {
  background-color: transparent;
  border: none;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.po-rich-text-toolbar-color-picker-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.po-rich-text-toolbar-color-picker-input::-webkit-color-swatch {
  border: none;
  border-radius: var(--border-radius, var(--border-radius-md));
}
