:root {
  --font-rich-text-toolbar-button-icon {
    @apply --font-subtitle;
  }

  /* Valores herdados do componente po-rich-text-body */
  --border-rich-text-toolbar-border: var(--border-rich-text-body-border);
}

.po-rich-text-toolbar {
  background-color: var(--color-rich-text-toolbar-background-color);
  border: var(--border-rich-text-toolbar-border);
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.75rem;
  padding: var(--spacing-sm);
  width: 100%;
}

[data-a11y='AA'] .po-rich-text-toolbar[p-size='small'] {
  padding: var(--spacing-xs);
  gap: var(--spacing-xs);
}

/* Necessário para alinhar os grupos dos botões, deverá ser aplicado na tag do componente 'po-button-group' */
.po-rich-text-toolbar-button-align {
  display: inline-block;
}

/* Necessário para fixar a altura do po-button pois o mesmo tem tratamento para responsividade */
.po-rich-text-toolbar .po-button-group > .po-button,
.po-rich-text-toolbar-color-picker-button {
  height: var(--target-size-aaa);
  width: var(--target-size-aaa);
  min-height: var(--target-size-aaa);
  min-width: var(--target-size-aaa);
  padding: 0;
}

[data-a11y='AA'] .po-rich-text-toolbar[p-size='small'] .po-button-group > .po-button,
[data-a11y='AA'] .po-rich-text-toolbar[p-size='small'] .po-rich-text-toolbar-color-picker-button {
  height: var(--target-size-aa);
  width: var(--target-size-aa);
  min-height: var(--target-size-aa);
  min-width: var(--target-size-aa);
}

/* Seletor necessário para sobrepor o padding 0 */
.po-rich-text-toolbar .po-button-group > .po-rich-text-toolbar-color-picker-button {
  padding: 4px;
  vertical-align: middle;
}

.po-button-default.po-rich-text-toolbar-color-picker-button {
  overflow: hidden;
}

.po-rich-text-toolbar-color-picker-container {
  display: flex;
}

.po-rich-text-toolbar-color-picker-input {
  background-color: transparent;
  border: none;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.po-rich-text-toolbar-color-picker-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.po-rich-text-toolbar-color-picker-input::-webkit-color-swatch {
  border: none;
}

.po-rich-text-toolbar.po-rich-text-disabled {
  border-color: var(--color-neutral-light-30);
}
