<style>
  .po-page-header {
    border: 1px dotted red;
  }
</style>

<div class="po-page-header">
  <!-- Título -->
  <h1 class="po-page-header-title">Título da Página</h1>

  <!-- Titulo e SubTitulo-->
  <div class="po-page-header-title-container">
    <h1 class="po-page-header-title">Título da Página</h1>
    <div class="po-page-header-subtitle">SubTítulo</div>
  </div>

  <!-- Operações -->
  <div class="po-page-header-actions">
    <button class="po-button po-button-primary">Ação 1</button>
  </div>
</div>
