:root {
  --font-page-header-title-smaller: {
    @apply --font-subtitle;
  }
}

.po-page-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
  width: 100%;
}

.po-page-header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.po-page-header-title-container {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.po-page-header-title-container .po-page-header-title {
  /*color: var(--color-page-header-color-title, var(--text-color));*/
  color: var(--color-page-header-color-title, var(--color-neutral-dark-70));
}

.po-page-header-title,
.po-page-header-subtitle {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  display: inline;
  text-align: left;
}

.po-page-header-actions {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--gap-actions);
}

@media (min-width: 480px) {
  .po-page-header-container {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .po-page-header {
    padding: 8px;
  }
}

@media screen and (max-width: 1366px) {
  .po-page-header-title {
    @apply --font-page-header-title-smaller;
  }

  .po-page-header-actions {
    gap: var(--spacing-xs);
  }
}

@media (max-width: 479px) {
  .po-page-header-actions {
    margin: 0;
  }

  .po-page-header-actions .po-button,
  .po-page-header-actions .po-dropdown {
    margin: 8px 0 0 0;
    width: 100%;
  }
}
