.po-button-group-container {
  display: flex;
  width: 100%;
}

.po-button-group-container .po-button-group {
  padding: 0;
}

.po-button-group-container .po-button-group ani-button.po-button {
  --border-radius: var(--border-radius-none);
}

.po-button-group-container .po-button-group:first-child ani-button.po-button {
  --border-radius: 4px 0 0 4px;
}

.po-button-group-container .po-button-group:last-child ani-button.po-button {
  --border-radius: 0 4px 4px 0;
}

.po-button-group-container .po-button-group + .po-button-group {
  margin-left: -1px;
}

.po-button-group-container .po-button-group:not(.po-button-group-disabled) {
  z-index: 1;
}

.po-button-group-container .po-button-group.po-button-group-button-selected {
  z-index: 2;
}

.po-button-group-container .po-button-group:not(.po-button-group-disabled):hover {
  z-index: 3;
}

.po-button-group-container .po-button-group:focus-within {
  z-index: 4;
}

.po-button-group-container .po-button-group.po-button-group-button-selected ani-button[kind='primary'].po-button {
  /* default */
  --background: var(--color-button-group-background-selected, --color-neutral-dark-70);
  --text-color: var(--color-button-group-color-selected, --color-neutral-light-00);

  /* hover */
  --background-hover: var(--color-button-group-background-color-neutral-hover, --color-neutral-dark-80);
  --text-color-hover: var(--color-button-group-color-neutral-hover, --color-neutral-light-00);

  /* pressed */
  --background-pressed: var(--color-button-group-background-color-neutral-pressed);
  --text-color-pressed: var(--color-button-group-color-neutral-pressed);

  /* disabled */
  --background-disabled: var(--color-button-group-background-color-neutral-disabled, --color-action-disabled);
  --text-color-disabled: var(--color-button-group-color-neutral-disabled);
}

.po-button-group-container .po-button-group.po-button-group-button-selected ani-button[kind='secondary'].po-button {
  /* default */
  --border-color: var(--color-button-group-border-selected, --color-neutral-dark-70);
  --text-color: var(--color-button-group-color-selected, --color-neutral-light-00);

  /* hover */
  --background-hover: var(--color-button-group-background-color-neutral-hover, --color-neutral-dark-80);
  --border-color-hover: var(--color-button-group-border-neutral-hover, --color-neutral-dark-80);
  --text-color-hover: var(--color-button-group-color-neutral-hover, --color-neutral-light-00);

  /* pressed */
  --background-pressed: var(--color-button-group-background-color-neutral-pressed);
  --border-color-pressed: var(--color-button-group-border-neutral-pressed);
  --text-color-pressed: var(--color-button-group-color-neutral-pressed);

  /* disabled */
  --border-color-disabled: var(--color-button-group-border-neutral-disabled);
  --text-color-disabled: var(--color-button-group-color-neutral-disabled);
}
