:root {
  --shadow-button-group-box-shadow: var(--shadow-button);
}

.po-button-group-container {
  display: flex;
  width: 100%;
}

.po-button-group-container .po-button-group {
  padding: 0;
}

.po-button-group-container .po-button-group .po-button {
  border-radius: 0;
  white-space: nowrap;
}

.po-button-group-container .po-button-group:first-child .po-button {
  /* border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; */
  border-bottom-left-radius: var(--border-radius-md);
  border-top-left-radius: var(--border-radius-md);
}

.po-button-group-container .po-button-group:last-child .po-button {
  /* border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; */
  border-bottom-right-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.po-button-group-container .po-button-group + .po-button-group {
  margin-left: -2px;
}

.po-button-group-container .po-button-group:not(.po-button-group-disabled) {
  z-index: 1;
}

.po-button-group-container .po-button-group.po-button-group-button-selected {
  z-index: 2;
}

.po-button-group-container .po-button-group:not(.po-button-group-disabled):hover {
  z-index: 3;
}

.po-button-group-container .po-button-group:focus-within {
  z-index: 4;
}

.po-button-group-container .po-button-group.po-button-group-button-selected .po-button {
  background-color: var(--color-button-group-background-selected, var(--color-brand-01-darker));
  border-color: var(--color-button-group-border-selected, var(--color-brand-01-darker));
  color: var(--color-button-group-color-selected);
}

.po-button-group-container .po-button-group.po-button-group-button-selected:hover .po-button {
  background-color: var(--color-button-group-background-color-neutral-hover);
  border-color: var(--color-button-group-border-neutral-hover);
  color: var(--color-button-group-color-neutral-hover);
}

.po-button-group-container .po-button-group.po-button-group-button-selected .po-button:active {
  background-color: var(--color-button-group-background-color-neutral-pressed, var(--color-brand-01-darker));
  border-color: var(--color-button-group-border-neutral-pressed, var(--color-brand-01-darker));
  color: var(--color-button-group-color-neutral-pressed);
  outline-color: var(--color-action-focus);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 0.125em;
  cursor: pointer;
}

.po-button-group-container .po-button-group.po-button-group-button-selected .po-button:disabled {
  background-color: var(--color-button-group-background-color-neutral-disabled);
  border-color: var(--color-button-group-border-neutral-disabled);
  color: var(--color-button-group-color-neutral-disabled);
  cursor: not-allowed;
}
