:root {
  --font-toaster-icon: {
    font-size: 1.5rem;
    font-weight: 700;
  }

  --font-toaster-message: {
    color: var(--color-neutral-dark-90);
    line-height: 150%;
  }
}

po-toaster {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
}

.po-toaster {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  border-width: var(--border-width-sm);
  border-style: solid;

  display: flex;
  align-items: stretch;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  z-index: 1050;

  opacity: 0;
  transition-property: opacity, bottom, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.po-toaster-invisible {
  opacity: 0;
  pointer-events: none;
}

.po-toaster-visible {
  opacity: 1;
  pointer-events: auto;
}

.po-toaster-icon {
  padding: var(--spacing-sm);
}

.po-toaster-icon po-icon {
  @apply --font-toaster-icon;

  display: flex;
}

.po-toaster-message {
  @apply --font-toaster-message;

  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  word-break: break-word;
}

.po-toaster-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  width: 100%;
}

.po-toaster-action {
  display: flex;
}

.po-toaster-action po-button {
  align-self: flex-start;
}

.po-toaster-close {
  padding-top: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);

  display: flex;
}

.po-toaster-divider {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-width: var(--border-width-sm);
  border-style: solid;
  width: 100%;
}

.po-toaster-button-close po-icon {
  @apply --font-toaster-icon;

  display: flex;
}

.po-toaster-success {
  background-color: var(--color-toaster-background-color-success, var(--background-success));
  border-color: var(--color-toaster-border-color-success, var(--border-color-success));
}

.po-toaster-success .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-success, var(--color-success));
  color: var(--color-toaster-icon-color-success, var(--color-icon));
}

.po-toaster-success .po-toaster-divider {
  border-color: var(--color-toaster-border-color-success, var(--border-color-success));
}

.po-toaster-error {
  background-color: var(--color-toaster-background-color-error, var(--background-error));
  border-color: var(--color-toaster-border-color-error, var(--border-color-error));
}

.po-toaster-error .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-error, var(--color-error));
  color: var(--color-toaster-icon-color-error, var(--color-icon));
}

.po-toaster-error .po-toaster-divider {
  border-color: var(--color-toaster-border-color-error, var(--border-color-error));
}

.po-toaster-warning {
  background-color: var(--color-toaster-background-color-warning, var(--background-warning));
  border-color: var(--color-toaster-border-color-warning, var(--border-color-warning));
}

.po-toaster-warning .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-warning, var(--color-warning));
  color: var(--color-toaster-icon-color-warning, var(--color-icon-warning));
}

.po-toaster-warning .po-toaster-divider {
  border-color: var(--color-toaster-border-color-warning, var(--border-color-warning));
}

.po-toaster-info {
  background-color: var(--color-toaster-background-color-info, var(--background-info));
  border-color: var(--color-toaster-border-color-info, var(--border-color-info));
}

.po-toaster-info .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-info, var(--color-info));
  color: var(--color-toaster-icon-color-info, var(--color-icon));
}

.po-toaster-info .po-toaster-divider {
  border-color: var(--color-toaster-border-color-info, var(--border-color-info));
}

.po-toaster-row {
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .po-toaster {
    width: 90%;
  }

  .po-toaster-icon {
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
  }

  .po-toaster-message {
    padding-bottom: 0rem;
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
  }

  .po-toaster-actions {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;

    display: inline-block;
  }

  .po-toaster-action {
    display: inherit;
    margin-top: var(--spacing-xs);
  }
  .po-toaster-action po-button {
    float: right;
  }
}

@media screen and (min-width: 961px) {
  .po-toaster {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .po-toaster .po-button:not(.po-button-sm) {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
