:root {
  --color-toaster-color: var(--color-white);

  --color-toaster-background-color-success: var(--color-success);
  --color-toaster-background-color-info: var(--color-neutral);
  --color-toaster-background-color-warning: var(--color-warning);
  --color-toaster-background-color-error: var(--color-danger);

  --font-toaster-text: {
    @apply --font-text-bold;
  }

  --font-toaster-icon: {
    font-size: 16px;
    font-weight: bold;
  }

  --shadow-toaster-box-shadow-top: var(--shadow-feedback);
  --shadow-toaster-box-shadow-bottom: var(--shadow-button);
}

.po-toaster-success {
  background-color: var(--color-toaster-background-color-success);
}

.po-toaster-info {
  background-color: var(--color-toaster-background-color-info);
}

.po-toaster-warning {
  background-color: var(--color-toaster-background-color-warning);
}

.po-toaster-error {
  background-color: var(--color-toaster-background-color-error);
}

.po-toaster {
  @apply --font-toaster-text;
  box-shadow: var(--shadow-toaster-box-shadow-top);
  color: var(--color-toaster-color);
  min-height: 24px;
  overflow: auto;
  padding: 12px 16px 8px 16px;
  position: fixed;
  left: 0;
  z-index: 1050;
  border-radius: 3px;
  display: flex;
}

.po-toaster-bottom {
  box-shadow: var(--shadow-toaster-box-shadow-bottom);
}

.po-toaster-message {
  float: left;
  text-align: left;
  flex-grow: 1;
}

.po-toaster-action {
  cursor: pointer;
  float: right;
  text-align: right;
  align-self: center;
  text-decoration: underline;
  flex-grow: 0;
}

.po-toaster-icon {
  float: left;
  text-align: left;
  @apply --font-toaster-icon;
  padding-right: 16px;
  flex-grow: 0;
  align-self: center;
}

.po-toaster-row {
  flex-direction: row;
}

@media (min-width: 961px) {
  .po-toaster {
    left: 25%;
    right: 25%;
  }
}

@media (max-width: 960px) {
  .po-toaster {
    left: 8px;
    right: 8px;
  }
}
