:root {
  --font-toaster-icon: {
    font-size: 1.5rem;
    font-weight: 700;
  }

  --font-toaster-message: {
    color: var(--color-neutral-dark-90);
    line-height: 150%;
  }
}

po-toaster {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
}

.po-toaster {
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.1);

  border-width: 1px;
  border-style: solid;

  display: flex;
  align-items: stretch;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  z-index: 1050;

  opacity: 0;
  transition-property: opacity, bottom, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.po-toaster-invisible {
  opacity: 0;
  pointer-events: none;
}

.po-toaster-visible {
  opacity: 1;
  pointer-events: auto;
}

.po-toaster-icon {
  padding: 1rem;
}

.po-toaster-icon po-icon {
  @apply --font-toaster-icon;

  display: flex;
}

.po-toaster-message {
  padding: 1rem;

  @apply --font-toaster-message;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  word-break: break-word;
}

.po-toaster-actions {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
}

.po-toaster-actions po-button {
  align-self: flex-start;
}

.po-toaster-divider {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-width: 1px;
  border-style: solid;
  width: auto;
}

.po-toaster-close po-icon {
  @apply --font-toaster-icon;

  display: flex;
}

.po-toaster-success {
  background-color: var(--color-toaster-background-color-success);
  border-color: var(--color-toaster-border-color-success);
}

.po-toaster-success .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-success);
  color: var(--color-toaster-icon-color-success);
}

.po-toaster-success .po-toaster-divider {
  background-color: var(--color-toaster-border-color-success);
  border-color: var(--color-toaster-border-color-success);
}

.po-toaster-error {
  background-color: var(--color-toaster-background-color-error);
  border-color: var(--color-toaster-border-color-error);
}

.po-toaster-error .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-error);
  color: var(--color-toaster-icon-color-error);
}

.po-toaster-error .po-toaster-divider {
  background-color: var(--color-toaster-border-color-error);
  border-color: var(--color-toaster-border-color-error);
}

.po-toaster-warning {
  background-color: var(--color-toaster-background-color-warning);
  border-color: var(--color-toaster-border-color-warning);
}

.po-toaster-warning .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-warning);
  color: var(--color-toaster-icon-color-warning);
}

.po-toaster-warning .po-toaster-divider {
  background-color: var(--color-toaster-border-color-warning);
  border-color: var(--color-toaster-border-color-warning);
}

.po-toaster-info {
  background-color: var(--color-toaster-background-color-info);
  border-color: var(--color-toaster-border-color-info);
}

.po-toaster-info .po-toaster-icon {
  background-color: var(--color-toaster-icon-background-color-info);
  color: var(--color-toaster-icon-color-info);
}

.po-toaster-info .po-toaster-divider {
  background-color: var(--color-toaster-border-color-info);
  border-color: var(--color-toaster-border-color-info);
}

.po-toaster-row {
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .po-toaster {
    width: 90%;
  }
}

@media screen and (min-width: 961px) {
  .po-toaster {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .po-toaster .po-button:not(.po-button-sm) {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
