po-toaster {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
}

.po-toaster {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  border-width: var(--border-width-sm);
  border-style: solid;

  align-items: stretch;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  z-index: 1050;

  opacity: 0;
  transition-property: opacity, bottom, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.po-toaster:not(.po-toaster-inline) {
  display: flex;
}

.po-toaster-invisible {
  opacity: 0;
  pointer-events: none;
}

.po-toaster-visible {
  opacity: 1;
  pointer-events: auto;
}

.po-toaster-icon-default {
  padding: var(--spacing-sm);
}

.po-toaster-decoration {
  width: 0.25rem;
}

.po-toaster-icon po-icon {
  font-weight: 700;
  display: flex;
}

[data-a11y='AA'] po-toaster[p-size-actions='small'] .po-toaster-icon po-icon i.an {
  font-size: var(--font-size-default);
}

.po-toaster-icon po-icon i.an {
  font-size: var(--font-size-md);
}

.po-toaster-message {
  color: var(--font-color);
  font-family: var(--font-family);

  line-height: 150%;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  word-break: break-word;
}

.po-toaster-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  width: 100%;
}

.po-toaster-action {
  display: flex;
}

.po-toaster-action po-button {
  align-self: flex-start;
}

.po-toaster-close {
  padding-top: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);

  display: flex;
}

.po-toaster-divider {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-width: var(--border-width-sm);
  border-style: solid;
  width: 100%;
}

.po-toaster-success {
  background-color: var(--background-success);
  border-color: var(--border-color-success);
}

.po-toaster-success .po-toaster-icon {
  background-color: var(--color-success);
  color: var(--color-icon);
}

.po-toaster-success .po-toaster-divider {
  border-color: var(--border-color-success);
}

.po-toaster-error {
  background-color: var(--background-error);
  border-color: var(--border-color-error);
}

.po-toaster-error .po-toaster-icon {
  background-color: var(--color-error);
  color: var(--color-icon);
}

.po-toaster-error .po-toaster-divider {
  border-color: var(--border-color-error);
}

.po-toaster-warning {
  background-color: var(--background-warning);
  border-color: var(--border-color-warning);
}

.po-toaster-warning .po-toaster-icon {
  background-color: var(--color-warning);
  color: var(--color-icon-warning);
}

.po-toaster-warning .po-toaster-divider {
  border-color: var(--border-color-warning);
}

.po-toaster-info {
  background-color: var(--background-info);
  border-color: var(--border-color-info);
}

.po-toaster-info .po-toaster-icon {
  background-color: var(--color-info);
  color: var(--color-icon);
}

.po-toaster-info .po-toaster-divider {
  border-color: var(--border-color-info);
}

.po-toaster-row {
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .po-toaster {
    width: 90%;
  }

  .po-toaster-icon {
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
  }

  .po-toaster-message {
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
  }

  .po-toaster-actions {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-block;
  }

  .po-toaster-action {
    display: inherit;
  }
  .po-toaster-action po-button {
    float: right;
  }
}

@media screen and (min-width: 961px) {
  .po-toaster {
    width: 50%;
  }
}

/* TOASTER INLINE STYLE */

.po-toaster-inline {
  position: initial;
  width: 100%;
  justify-content: flex-start;
  z-index: 0;
  --shadow: none;
}

po-toaster .po-toaster-inline:not([hidden]) {
  display: flex;
}
po-toaster .po-toaster-inline[hidden] {
  display: none;
}

.po-toaster-inline .po-toaster-decoration {
  width: 0.25rem;
  padding: 0;
}

/* ICON */
.po-toaster-inline .po-toaster-inline-icon {
  padding: var(--spacing-sm);
  color: var(--color-icon);
}

.po-toaster-inline.po-toaster-warning .po-toaster-inline-icon {
  color: var(--color-icon-warning);
}

.po-toaster-inline .po-toaster-inline-icon i {
  border-radius: 50%;
}
.po-toaster-inline .po-toaster-inline-icon i.an {
  padding: 0.25rem;
  font-size: var(--font-size-default);
  display: flex;
}

[data-a11y='AA'] po-toaster[p-size-actions='small'] .po-toaster-inline .po-toaster-inline-icon i.an {
  padding: 0.125rem;
  font-size: var(--font-size-xs);
}

.po-toaster-inline.po-toaster-success .po-toaster-inline-icon i {
  background: var(--color-success);
}
.po-toaster-inline.po-toaster-warning .po-toaster-inline-icon i {
  background: var(--color-warning);
}
.po-toaster-inline.po-toaster-info .po-toaster-inline-icon i {
  background: var(--color-info);
  transform: rotate(180deg);
}

.po-toaster-inline.po-toaster-error .po-toaster-inline-icon i {
  background: var(--color-error);
}

/* ACTIONS */
.po-toaster-inline .po-toaster-actions {
  padding: var(--spacing-xs) 0;
  z-index: 1;
}

.po-toaster-inline .po-toaster-actions:last-child {
  margin-right: var(--spacing-xs);
}

.po-toaster-inline .po-toaster-actions .po-toaster-message {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
  text-align: left;
}

[data-a11y='AA'] po-toaster[p-size-actions='small'] .po-toaster-inline .po-toaster-actions .po-toaster-message {
  padding: 0.25rem var(--spacing-sm);
}

.po-toaster-inline .po-toaster-actions .po-toaster-message .po-toaster-support-message {
  color: var(--font-color-support);
  font-weight: var(--font-weight-normal);
}

.po-toaster-inline .po-button {
  margin: 0;
  border: none;
}

@media screen and (max-width: 960px) {
  .po-toaster-inline .po-toaster-actions {
    display: flex;
  }

  .po-toaster-inline .po-toaster-actions .po-toaster-action {
    display: flex;
    margin-top: 0;
  }
}
