.po-badge-default {
  background-color: var(--background-color);
}

.po-badge {
  border-color: transparent;
  border-radius: 50%;
  color: var(--color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);

  border-style: solid;
  border-width: var(--border-width-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}

.po-badge-small {
  height: 0.5rem;
  width: 0.5rem;
}

.po-badge-medium:not(.po-badge-notification) {
  height: 1rem;
  width: 1rem;
}

.po-badge-medium:not(.po-badge-notification) po-icon {
  font-size: 10px;
}

.po-badge-large:not(.po-badge-notification) {
  height: 1.5rem;
  width: 1.5rem;
}

.po-badge-large:not(.po-badge-notification) po-icon {
  font-size: 14px;
}

.po-badge-notification {
  border-style: solid;
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius);

  height: 1em;
  max-width: 1.25em;
  min-width: 1em;
}

.po-badge-notification span {
  font-size: var(--font-size-xs);
}

.po-badge-border {
  border-color: var(--border-color);
}

.po-badge[p-status='disabled'] {
  background-color: var(--background-color);
}

.po-badge[p-status='positive'] {
  background-color: var(--background-color);
}

.po-badge[p-status='negative'] {
  background-color: var(--background-color);
}

.po-badge[p-status='warning'] {
  background-color: var(--background-color);
  color: var(--color);
}

.po-badge po-icon {
  display: inline-flex;
}

.po-badge-medium i {
  font-size: var(--font-size-xs);
}

.po-badge-large i {
  font-size: var(--font-size-default);
}
