.po-timer-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: var(--border-width-cell);
  border-style: solid;
  border-radius: var(--border-radius-cell);
  font-family: var(--font-family);
  font-size: var(--font-size-cell);
  font-weight: var(--font-weight-cell);
  color: var(--color);
  letter-spacing: var(--letter-spacing);

  transition-property: var(--cell-transition-property);
  transition-duration: var(--cell-transition-duration);
  transition-timing-function: var(--cell-transition-timing);

  &:focus {
    outline-color: var(--outline-color-focused);
    outline-style: solid;
    outline-width: var(--outline-width);
    outline-offset: var(--outline-offset);
  }

  &:hover:not(.po-timer-cell-disabled):not(.po-timer-cell-selected) {
    background-color: var(--background-hover);
    color: var(--color-hover);
    font-weight: var(--font-weight-bold);
  }

  &:active:not(.po-timer-cell-disabled):not(.po-timer-cell-selected) {
    background-color: var(--background-pressed);
    color: var(--color-hover);
    outline-color: var(--outline-color-focused);
    outline-style: solid;
    outline-width: var(--outline-width);
    cursor: pointer;
  }

  &-selected {
    background-color: var(--background-selected);
    color: var(--color-selected);
    font-weight: var(--font-weight-bold);

    &:focus {
      outline-color: var(--outline-color-focused);
      outline-style: solid;
      outline-width: var(--outline-width);
      outline-offset: var(--outline-offset);
    }
  }

  &-disabled {
    color: var(--color-disabled);
    cursor: not-allowed;
  }
}

po-timer[p-size='small'] .po-timer-cell {
  width: var(--cell-size-small);
  height: var(--cell-size-small);
}

.po-timer-period-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--row-gap);
}
