<article>
  <section>
    <h4>Timer - Formato 24h (AAA - Large)</h4>
    <div class="po-row">
      <div class="po-timer po-mb-1 po-mt-1">
        <div class="po-timer-column">
          <span class="po-timer-column-label">Horas</span>
          <button class="po-timer-cell">00</button>
          <button class="po-timer-cell">01</button>
          <button class="po-timer-cell">02</button>
          <button class="po-timer-cell">03</button>
          <button class="po-timer-cell">04</button>
          <button class="po-timer-cell">05</button>
          <button class="po-timer-cell">06</button>
          <button class="po-timer-cell">07</button>
          <button class="po-timer-cell">08</button>
          <button class="po-timer-cell">09</button>
          <button class="po-timer-cell po-timer-cell-selected">10</button>
          <button class="po-timer-cell">11</button>
          <button class="po-timer-cell">12</button>
          <button class="po-timer-cell">13</button>
          <button class="po-timer-cell">14</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell">16</button>
          <button class="po-timer-cell">17</button>
          <button class="po-timer-cell">18</button>
          <button class="po-timer-cell">19</button>
          <button class="po-timer-cell">20</button>
          <button class="po-timer-cell">21</button>
          <button class="po-timer-cell">22</button>
          <button class="po-timer-cell">23</button>
        </div>
        <span class="po-timer-column-separator">:</span>
        <div class="po-timer-column">
          <span class="po-timer-column-label">Minutos</span>
          <button class="po-timer-cell">00</button>
          <button class="po-timer-cell">05</button>
          <button class="po-timer-cell">10</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell">20</button>
          <button class="po-timer-cell">25</button>
          <button class="po-timer-cell po-timer-cell-selected">30</button>
          <button class="po-timer-cell">35</button>
          <button class="po-timer-cell">40</button>
          <button class="po-timer-cell">45</button>
          <button class="po-timer-cell">50</button>
          <button class="po-timer-cell">55</button>
        </div>
      </div>
    </div>

    <h4>Timer - Com segundos</h4>
    <div class="po-row">
      <div class="po-timer po-mb-1 po-mt-1">
        <div class="po-timer-column">
          <span class="po-timer-column-label">Horas</span>
          <button class="po-timer-cell po-timer-cell-selected">14</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell">16</button>
          <button class="po-timer-cell">17</button>
        </div>
        <span class="po-timer-column-separator">:</span>
        <div class="po-timer-column">
          <span class="po-timer-column-label">Minutos</span>
          <button class="po-timer-cell">00</button>
          <button class="po-timer-cell po-timer-cell-selected">30</button>
          <button class="po-timer-cell">35</button>
        </div>
        <span class="po-timer-column-separator">:</span>
        <div class="po-timer-column">
          <span class="po-timer-column-label">Segundos</span>
          <button class="po-timer-cell po-timer-cell-selected">00</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell">30</button>
          <button class="po-timer-cell">45</button>
        </div>
      </div>
    </div>

    <h4>Timer - Formato 12h com AM/PM</h4>
    <div class="po-row">
      <div class="po-timer po-mb-1 po-mt-1">
        <div class="po-timer-column">
          <span class="po-timer-column-label">Horas</span>
          <button class="po-timer-cell">01</button>
          <button class="po-timer-cell">02</button>
          <button class="po-timer-cell po-timer-cell-selected">03</button>
          <button class="po-timer-cell">04</button>
          <button class="po-timer-cell">05</button>
          <button class="po-timer-cell">06</button>
          <button class="po-timer-cell">07</button>
          <button class="po-timer-cell">08</button>
          <button class="po-timer-cell">09</button>
          <button class="po-timer-cell">10</button>
          <button class="po-timer-cell">11</button>
          <button class="po-timer-cell">12</button>
        </div>
        <span class="po-timer-column-separator">:</span>
        <div class="po-timer-column">
          <span class="po-timer-column-label">Minutos</span>
          <button class="po-timer-cell">00</button>
          <button class="po-timer-cell">05</button>
          <button class="po-timer-cell">10</button>
          <button class="po-timer-cell po-timer-cell-selected">15</button>
          <button class="po-timer-cell">20</button>
          <button class="po-timer-cell">25</button>
          <button class="po-timer-cell">30</button>
          <button class="po-timer-cell">35</button>
          <button class="po-timer-cell">40</button>
          <button class="po-timer-cell">45</button>
          <button class="po-timer-cell">50</button>
          <button class="po-timer-cell">55</button>
        </div>
        <div class="po-timer-period-toggle">
          <button class="po-timer-period-button po-timer-period-button-selected">AM</button>
          <button class="po-timer-period-button">PM</button>
        </div>
      </div>
    </div>

    <h4>Timer - Com celulas desabilitadas</h4>
    <div class="po-row">
      <div class="po-timer po-mb-1 po-mt-1">
        <div class="po-timer-column">
          <span class="po-timer-column-label">Horas</span>
          <button class="po-timer-cell po-timer-cell-disabled">00</button>
          <button class="po-timer-cell po-timer-cell-disabled">01</button>
          <button class="po-timer-cell po-timer-cell-disabled">02</button>
          <button class="po-timer-cell po-timer-cell-disabled">03</button>
          <button class="po-timer-cell po-timer-cell-disabled">04</button>
          <button class="po-timer-cell po-timer-cell-disabled">05</button>
          <button class="po-timer-cell po-timer-cell-disabled">06</button>
          <button class="po-timer-cell po-timer-cell-disabled">07</button>
          <button class="po-timer-cell">08</button>
          <button class="po-timer-cell">09</button>
          <button class="po-timer-cell po-timer-cell-selected">10</button>
          <button class="po-timer-cell">11</button>
          <button class="po-timer-cell">12</button>
          <button class="po-timer-cell">13</button>
          <button class="po-timer-cell">14</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell">16</button>
          <button class="po-timer-cell">17</button>
          <button class="po-timer-cell po-timer-cell-disabled">18</button>
          <button class="po-timer-cell po-timer-cell-disabled">19</button>
          <button class="po-timer-cell po-timer-cell-disabled">20</button>
          <button class="po-timer-cell po-timer-cell-disabled">21</button>
          <button class="po-timer-cell po-timer-cell-disabled">22</button>
          <button class="po-timer-cell po-timer-cell-disabled">23</button>
        </div>
        <span class="po-timer-column-separator">:</span>
        <div class="po-timer-column">
          <span class="po-timer-column-label">Minutos</span>
          <button class="po-timer-cell">00</button>
          <button class="po-timer-cell">05</button>
          <button class="po-timer-cell">10</button>
          <button class="po-timer-cell">15</button>
          <button class="po-timer-cell po-timer-cell-selected">20</button>
          <button class="po-timer-cell">25</button>
          <button class="po-timer-cell">30</button>
          <button class="po-timer-cell">35</button>
          <button class="po-timer-cell">40</button>
          <button class="po-timer-cell">45</button>
          <button class="po-timer-cell">50</button>
          <button class="po-timer-cell">55</button>
        </div>
      </div>
    </div>
  </section>
</article>
