po-radio {
  --width-md: 24px;
  --width-lg: 32px;

  --offset-checked: 6px;

  --circle-width-md: calc(var(--width-md) - 12px);
  --circle-width-lg: calc(var(--width-lg) - 12px);

  --background-radial-md: radial-gradient(
    var(--circle-width-md) circle at center,
    var(--color-checked) 50%,
    transparent 57%
  );

  --background-radial-lg: radial-gradient(
    var(--circle-width-lg) circle at center,
    var(--color-checked) 50%,
    transparent 54.2%
  );

  --background-radial-md-disabled: radial-gradient(
    var(--circle-width-md) circle at 10px 10px,
    var(--color-checked-disabled) 50%,
    transparent 57%
  );

  --background-radial-lg-disabled: radial-gradient(
    var(--circle-width-lg) circle at 14px 14px,
    var(--color-checked-disabled) 50%,
    transparent 54.2%
  );

  display: inline-block;
}

.po-radio > label {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.po-radio > label * {
  cursor: pointer;
}

.po-radio-focus > label {
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width-focus-visible);
  outline-style: solid;
  outline-offset: 2px;
}

.po-radio input[type='radio'] {
  background-color: var(--color-unchecked);
  border-color: var(--border-color);

  -webkit-appearance: none;
  appearance: none;
  border-width: var(--border-width-md);
  border-style: solid;
  border-radius: 100%;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin: 0;
  align-self: flex-start;
}

.po-radio input[p-size='medium'] {
  min-width: var(--width-md);
  min-height: var(--width-md);
}

.po-radio input[p-size='large'] {
  min-width: var(--width-lg);
  min-height: var(--width-lg);
}

.po-radio input[type='radio']:hover {
  box-shadow: 0 0 0 var(--border-width-lg) var(--shadow-color-hover);
  border-color: var(--color-hover);
}

.po-radio input[type='radio'][disabled],
.po-radio input[type='radio'][disabled] + span {
  box-shadow: none;
  cursor: not-allowed;
}

.po-radio input[type='radio']:checked {
  background: var(--background-radial-md);
  background-color: var(--color-unchecked);
  border-color: var(--color-checked);
  padding: 4px;
}

.po-radio input[type='radio'][p-size='large']:checked {
  background: var(--background-radial-lg);
  background-color: var(--color-unchecked);
}

.po-radio input[type='radio'][disabled] {
  background-color: var(--color-unchecked-disabled);
  border-color: var(--color-checked-disabled);
}

.po-radio input[type='radio'][disabled]:checked {
  background: var(--background-radial-md-disabled);
  background-color: var(--color-unchecked-disabled);
}

.po-radio input[type='radio'][disabled][p-size='large']:checked {
  background: var(--background-radial-lg-disabled);
  background-color: var(--color-unchecked-disabled);
}

.po-radio input[type='radio']:not([disabled]):focus-visible {
  outline: none;
}

.po-radio label:not(.po-label-disabled) {
  color: var(--color-brand-01-darker);
}

.po-radio label:not(.po-label-disabled):hover {
  color: var(--color-brand-01-darkest);
}

.po-radio label.po-label-disabled {
  cursor: not-allowed;
}
