.po-listbox {
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  background-color: var(--background);
  box-shadow: var(--shadow);

  border-style: solid;

  overflow: hidden;
  position: relative;
  z-index: 1000;

  &.po-listbox-check {
    display: flex;
    flex-direction: column;
    position: static;
  }
}

.po-listbox-container-search {
  padding-inline: var(--spacing-sm);
}

.po-listbox-list {
  list-style: none;
  max-height: inherit;
  overflow-y: auto;
  padding-block: var(--spacing-xs);
}

.po-listbox-container-loading-default {
  height: 138px;
}

.po-listbox-container-no-data {
  height: 96px;
}

.po-listbox-container-no-data {
  @apply --font-table-text-bold;
  padding: 36px 0px;
}
