.po-listbox {
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  background-color: var(--color-popup-background-color-popup, var(--background));
  box-shadow: var(--shadow);

  border-style: solid;
  z-index: 1000;

  overflow-y: auto;
}

.po-listbox-list {
  list-style: none;
}
