.po-chart-header {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: nowrap;
  font-weight: var(--font-weight);
  justify-content: flex-end;
  padding-inline: var(--spacing-sm);
  width: 100%;
  min-height: 44px;
}

.po-chart-header .po-chart-header-title {
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-right: auto;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.po-chart-header .po-chart-header-actions .po-button:focus {
  position: relative;
  z-index: 10;
}

.po-chart-header .po-chart-header-actions {
  padding: 0;
  text-align: end;
  min-width: 168px;
}

.po-chart-header .po-chart-header-actions po-button i {
  font-size: var(--font-size-icons);
}

.po-chart {
  background-color: var(--background-color-grid);
  padding-bottom: 16px;
}

#chart-container #custom-tooltip {
  position: absolute;
}

#chart-container {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

#chart-container.expanded {
  position: fixed;
  background-color: var(--background-color-grid);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

#chart-container.expanded .po-chart-header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  padding-top: var(--spacing-xs);
  position: relative;
  z-index: 10;
}
