<article>
  <section>
    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Simples</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
            <span class="po-tag-value">Erro</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-tag-container">
      <div class="po-tag-sub-container">
        <div class="po-tag po-tag-no-horizontal po-tag-neutral" tabindex="0">
          <span class="po-tag-value">Neutral</span>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Ícones</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
            <span class="po-icon po-icon-warning"></span>
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
            <span class="po-icon po-icon-close"></span>
            <span class="po-tag-value">Erro</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Ícones - inverse</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-success po-tag-success-inverse" tabindex="0">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-warning po-tag-warning-inverse" tabindex="0">
            <span class="po-icon po-icon-warning"></span>
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-danger po-tag-danger-inverse" tabindex="0">
            <span class="po-icon po-icon-close"></span>
            <span class="po-tag-value">Erro</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-info po-tag-info-inverse" tabindex="0">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta de cores</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-01" tabindex="0">
            <span class="po-tag-value">Color 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-02" tabindex="0">
            <span class="po-tag-value">Color 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-03" tabindex="0">
            <span class="po-tag-value">Color 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-04" tabindex="0">
            <span class="po-tag-value">Color 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-05" tabindex="0">
            <span class="po-tag-value">Color 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-06" tabindex="0">
            <span class="po-tag-value">Color 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-07" tabindex="0">
            <span class="po-tag-value">Color 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-08" tabindex="0">
            <span class="po-tag-value">Color 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-09" tabindex="0">
            <span class="po-tag-value">Color 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-10" tabindex="0">
            <span class="po-tag-value">Color 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-11" tabindex="0">
            <span class="po-tag-value">Color 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-12" tabindex="0">
            <span class="po-tag-value">Color 12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta de cores e ícones</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-01" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-02" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-03" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-04" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-05" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-06" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-07" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-08" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-09" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-10" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-11" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-12" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta de cores e ícones - inverse</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-01" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-02" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-03" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-04" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-05" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-06" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-07" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-08" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-09" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-10" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-11" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-inverse po-tag-no-horizontal po-text-color-12" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta Caption Tag Colors</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-01" tabindex="0">
            <span class="po-tag-value">Caption Tag 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-02" tabindex="0">
            <span class="po-tag-value">Caption Tag 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-03" tabindex="0">
            <span class="po-tag-value">Caption Tag 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-04" tabindex="0">
            <span class="po-tag-value">Caption Tag 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-05" tabindex="0">
            <span class="po-tag-value">Caption Tag 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-06" tabindex="0">
            <span class="po-tag-value">Caption Tag 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-07" tabindex="0">
            <span class="po-tag-value">Caption Tag 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-08" tabindex="0">
            <span class="po-tag-value">Caption Tag 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-09" tabindex="0">
            <span class="po-tag-value">Caption Tag 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-10" tabindex="0">
            <span class="po-tag-value">Caption Tag 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-11" tabindex="0">
            <span class="po-tag-value">Caption Tag 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-12" tabindex="0">
            <span class="po-tag-value">Caption Tag 12</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-13" tabindex="0">
            <span class="po-tag-value">Caption Tag 13</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-14" tabindex="0">
            <span class="po-tag-value">Caption Tag 14</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-15" tabindex="0">
            <span class="po-tag-value">Caption Tag 15</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-16" tabindex="0">
            <span class="po-tag-value">Caption Tag 16</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-17" tabindex="0">
            <span class="po-tag-value">Caption Tag 17</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-18" tabindex="0">
            <span class="po-tag-value">Caption Tag 18</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-19" tabindex="0">
            <span class="po-tag-value">Caption Tag 19</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-20" tabindex="0">
            <span class="po-tag-value">Caption Tag 20</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-21" tabindex="0">
            <span class="po-tag-value">Caption Tag 21</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-22" tabindex="0">
            <span class="po-tag-value">Caption Tag 22</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-23" tabindex="0">
            <span class="po-tag-value">Caption Tag 23</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-24" tabindex="0">
            <span class="po-tag-value">Caption Tag 24</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-25" tabindex="0">
            <span class="po-tag-value">Caption Tag 25</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-26" tabindex="0">
            <span class="po-tag-value">Caption Tag 26</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-27" tabindex="0">
            <span class="po-tag-value">Caption Tag 27</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-28" tabindex="0">
            <span class="po-tag-value">Caption Tag 28</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-29" tabindex="0">
            <span class="po-tag-value">Caption Tag 29</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-30" tabindex="0">
            <span class="po-tag-value">Caption Tag 30</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-31" tabindex="0">
            <span class="po-tag-value">Caption Tag 31</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-32" tabindex="0">
            <span class="po-tag-value">Caption Tag 32</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-33" tabindex="0">
            <span class="po-tag-value">Caption Tag 33</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-34" tabindex="0">
            <span class="po-tag-value">Caption Tag 34</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-caption-tag-35" tabindex="0">
            <span class="po-tag-value">Caption Tag 35</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label - Vertical</h4>

      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e ícones - Vertical</h4>
      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
              <span class="po-icon po-icon-ok"></span>
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
              <span class="po-icon po-icon-warning"></span>
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
              <span class="po-icon po-icon-close"></span>
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label - Horizontal</h4>

      <div class="po-row">
        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-success" tabindex="0">
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-warning" tabindex="0">
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-danger" tabindex="0">
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e ícones - Horizontal</h4>

      <div class="po-row">
        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-success" tabindex="0">
              <span class="po-icon po-icon-ok"></span>
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-warning" tabindex="0">
              <span class="po-icon po-icon-warning"></span>
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-danger" tabindex="0">
              <span class="po-icon po-icon-close"></span>
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Alinhamento entre Info e Tag</h4>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">PO UI Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Horizontal</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">PO UI Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Horizontal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">PO UI Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Vertical</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">PO UI Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Vertical</span>
            </div>
          </div>
        </div>
      </div>

      <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <h4 class="po-mb-md-2">Clicável</h4>

        <div class="po-tag-container">
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info po-clickable" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
