.po-radio-group {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-xs) 0;
  row-gap: var(--spacing-md);
  width: 100%;
}

[data-a11y='AA'] [p-size='small'] .po-radio-group {
  row-gap: var(--spacing-xs);
}

.po-radio-group-item {
  padding: 0 var(--spacing-md) 0 0;
  display: inherit;
}

po-radio-group.ng-invalid.ng-dirty input[type='radio']:not([disabled]) {
  border: solid var(--border-width-md) var(--color-feedback-negative-base);
}
