.po-loading-icon-neutral {
  color: var(--color-loading-icon-color-neutral);
}

.po-loading-icon {
  color: var(--color);
}

.po-loading-icon-animated {
  animation: po-loading-rotate 1200ms linear infinite;
}

@keyframes po-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.po-loading-svg-lg svg {
  min-height: 5rem;
  min-width: 5rem;
}

.po-loading-icon-container.po-loading-svg-lg {
  min-width: 5rem;
  min-height: 5rem;
}

.po-loading-svg-md svg {
  min-height: 2rem;
  min-width: 2rem;
}

.po-loading-icon-container.po-loading-svg-md {
  min-width: 2rem;
  min-height: 2rem;
}

.po-loading-svg-sm svg,
[data-a11y='AAA'] .po-loading-svg-xs svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.po-loading-icon-container.po-loading-svg-sm,
[data-a11y='AAA'] .po-loading-icon-container.po-loading-svg-xs {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.po-loading-svg-xs svg {
  min-width: 1rem;
  min-height: 1rem;
}

.po-loading-icon-container.po-loading-svg-xs,
[data-a11y='AAA'] .po-loading-icon-container.po-loading-svg-xs {
  min-width: 1rem;
  min-height: 1rem;
}
