.po-loading-icon-neutral {
  color: var(--color-loading-icon-color-neutral);
}

.po-loading-icon {
  color: var(--color);
}

.po-loading-svg-lg svg {
  height: 5rem;
  width: 5rem;
}

.po-loading-icon-container.po-loading-svg-lg {
  max-width: 5rem;
  max-height: 5rem;
}

.po-loading-svg-md svg {
  height: 2rem;
  width: 2rem;
}

.po-loading-icon-container.po-loading-svg-md {
  max-width: 2rem;
  max-height: 2rem;
}

.po-loading-svg-sm svg {
  height: 1.5rem;
  width: 1.5rem;
}

.po-loading-icon-container.po-loading-svg-sm {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.po-loading-svg-xs svg {
  height: 1rem;
  width: 1rem;
}

.po-loading-icon-container.po-loading-svg-xs {
  max-width: 1rem;
  max-height: 1rem;
}
