.po-item-list,
[data-a11y='AAA'] .po-item-list-aa {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  line-height: var(--line-height);
  text-align: left;
  background-color: transparent;
  min-height: var(--target-size-aaa);
  display: flex;
  align-items: center;
  padding-inline: var(--spacing-sm);
  gap: var(--spacing-xs);
}

.po-item-list-aa {
  font-size: var(--font-size-sm);
  min-height: var(--target-size-aa);
}

/* estilo na ação de click dos itens */
:active:is(.po-item-list__action, .po-item-list__option):not(.po-item-list__disabled, .po-item-list__danger) {
  background-color: var(--background-pressed);
  color: var(--color-hover);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: -2px;

  cursor: pointer;
}

/* item no modo desabilitado */
.po-item-list__disabled:is(.po-item-list__action, .po-item-list__check, .po-item-list__option) {
  color: var(--color-disabled);
  cursor: not-allowed;
}

/* item no modo hover */
:hover:is(.po-item-list__action, .po-item-list__check, .po-item-list__option):not(.po-item-list__disabled, .po-item-list__danger) {
  background-color: var(--background-hover);
  cursor: pointer;
}

:hover:is(.po-item-list__check-selected:hover, .po-item-list__option-selected:hover):not(.po-item-list__disabled) {
  background-color: var(--background-hover);
  font-weight: var(--font-weight-selected);

  cursor: pointer;
}

/* item do tipo option ou check */
:is(.po-item-list__check, .po-item-list__option) {
  font-weight: var(--font-weight);
  color: var(--color-option);
}

:is(.po-item-list__check-selected, .po-item-list__option-selected) {
  font-weight: var(--font-weight-selected);
  background-color: var(--background-selected);
}

/* item do tipo action */
.po-item-list__action {
  font-weight: var(--font-weight);
  color: var(--color);
}

.po-item-list__action:hover:not(.po-item-list__disabled, .po-item-list__danger) {
  color: var(--color-hover);
}

.po-item-list__check:active,
.po-item-list__check:hover:active {
  background-color: var(--background-pressed);
  cursor: pointer;
}

.po-item-list__danger:not(.po-item-list__disabled) {
  color: var(--color-feedback-negative-base);
  cursor: pointer;
}

.po-item-list__danger:hover:not(.po-item-list__disabled) {
  background-color: var(--color-feedback-negative-lighter);
  color: var(--color-feedback-negative-base);
}

.po-item-list__selected:not(.po-item-list__danger) {
  background-color: var(--background-selected);
  color: var(--color-option);
  font-weight: var(--font-weight-selected);
}

.po-item-list__selected:not(.po-item-list__danger):hover {
  background-color: var(--background-hover);
}

.po-item-list__selected.po-item-list__danger {
  background-color: var(--color-feedback-negative-lighter);
}

.po-item-list__separator {
  border-top: 1px solid var(--color-neutral-light-10);
}

.po-item-list__hidden {
  display: none;
}

.cdk-option:focus-visible .po-item-list {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: -2px;
}

.cdk-option:focus-visible {
  outline: none;
}
