:root {
  --font-rich-text-bold {
    @apply --font-text-large-bold;
  }

  --border-rich-text-body-border: 1px solid var(--color-neutral-dark-70);

  --rich-text-body-max-height: 262px;
  --rich-text-body-min-width: 160px;
  --rich-text-body-min-height: 94px;
}

.po-rich-text-body {
  font-size: var(--font-size-default);
  line-height: var(--line-height-md);
  background-color: var(--color-rich-text-body-background-color);
  border: var(--border-rich-text-body-border);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  max-height: var(--rich-text-body-max-height);
  min-height: var(--rich-text-body-min-height);
  min-width: var(--rich-text-body-min-width);
  overflow-y: auto;
  padding: var(--spacing-sm);
  width: 100%;
}

[data-a11y='AA'] .po-rich-text-body[p-size='small'] {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs);
}

po-rich-text-body:only-child .po-rich-text-body {
  border-radius: var(--border-radius-md);
}

.po-rich-text-body b {
  @apply --font-rich-text-bold;
}

.po-rich-text-body .po-rich-text-link {
  cursor: text;
}

.po-rich-text-link {
  @apply --font-rich-text-bold;
  color: var(--color-rich-text-body-text-link);
  text-decoration: underline;
}

.po-rich-text-link:hover {
  color: var(--color-rich-text-body-text-link-hover);
}

/* tratamento necessário para a customização de cores */
.po-rich-text-body font .po-rich-text-link {
  color: inherit !important;
}

po-rich-text.ng-invalid.ng-dirty .po-rich-text-body {
  border: solid 1px var(--color-rich-text-body-border-error);
  color: var(--color-rich-text-body-text-error);
  outline: none;
}

po-rich-text.ng-invalid.ng-dirty .po-rich-text-body.po-rich-text-disabled {
  border-color: var(--color-neutral-light-30);
  color: inherit;
}

/* Necessário para tratamento do placeholder no componente via css, o acesso no ts deve ser feito a partir da propriedade
'data-placeholder' devido a não funcionar somente como 'placeholder', ao digitar um valor e apagar o conteúdo da tag fica
com um <br>, será necessário tratar no keyup a remoção desse <br> para que funcione corretamente no firefox */
div[data-placeholder]:not([data-placeholder='']):empty::before {
  color: var(--color-rich-text-placeholder-color);
  content: attr(data-placeholder);
  display: block;
}

/* necessário devido ao reset aplicar padding: 0 aos elementos ::after e ::before */
.po-rich-text-body ul {
  padding-left: 16px;
}

po-rich-text .po-rich-text-loading-container .po-loading-icon-container {
  display: flex;
}

.po-rich-text-loading-container {
  position: absolute;
  top: 1.125rem;
  right: var(--spacing-2xs);
  pointer-events: none;
}

[data-a11y='AA'] .po-field-container-content[p-size='small'] .po-rich-text-loading-container {
  top: 0.75rem;
}

.po-rich-text-body.po-rich-text-disabled {
  background-color: var(--color-neutral-light-20);
  border-color: var(--color-neutral-light-30);
  box-shadow: none;
  cursor: not-allowed;
}

po-rich-text po-rich-text-body .po-rich-text-body.has-loading {
  padding-right: 44px;
}

[data-a11y='AA'] po-rich-text po-rich-text-body .po-rich-text-body.has-loading[p-size='small'] {
  padding-right: 32px;
}

/* Loading com scroll — recua o ícone */
po-rich-text po-rich-text-body .has-loading.has-scroll + .po-rich-text-loading-container {
  right: 20px;
}

[data-a11y='AA']
  po-rich-text
  po-rich-text-body
  .has-loading.has-scroll[p-size='small']
  + .po-rich-text-loading-container {
  right: 16px;
}
