ani-button {
  --font-family: var(--font-family-theme-bold, Roboto-Bold);
}

ani-button {
  /* default */
  --text-color: var(--color-button-color, var(--color-neutral-light-00));
  --color: var(--color-button-border, var(--color-action-default));

  /* hover */
  --color-hover: var(--color-button-background-color-hover, var(--color-action-hover));

  /* pressed */
  --text-color-pressed: var(--color-button-color-pressed, var(--color-neutral-light-00));
  --color-pressed: var(--color-button-background-color-pressed, var(--color-action-pressed));

  /* disabled */
  --text-color-disabled: var(--color-button-color-disabled, var(--color-neutral-dark-70));
  --color-disabled: var(--color-button-background-color-disabled, var(--color-action-disabled));

  /* danger */
  --color-danger: var(--color-button-color-danger, var(--color-feedback-negative-dark));

  /* hover danger*/
  --background-danger-hover: var(--color-button-background-color-danger-hover, var(--color-feedback-negative-lighter));
  --border-color-danger-hover: var(--color-button-border-danger-hover, var(--color-feedback-negative-darkest));

  /* pressed danger*/
  --background-danger-pressed: var(
    --color-button-background-color-danger-pressed,
    var(--color-feedback-negative-light)
  );
}

[class*='po-xl-'],
[class*='po-lg-'],
[class*='po-md-'],
[class*='po-sm-'] {
  > ani-button {
    width: 100%;
  }
}

.po-button .po-button-icon:not(.po-button-loading-icon) ~ .po-button-label {
  padding-left: 4px;
}

.po-button-loading-icon {
  float: left;
  padding-right: 8px;
}

.po-button .po-button-icon ~ .po-button-label {
  padding-left: 4px;
}

@media screen and (max-width: 1366px) {
  .po-button .po-button-icon:not(.po-button-loading-icon) ~ .po-button-label {
    padding-left: 2px;
  }
}

@media print {
  .po-button {
    color-adjust: exact;
  }
}
