ani-button[kind='primary'] {
  --text-color: var(--color-neutral-dark-90);
  --background: var(--color-action-default);
  --shadow: var(--shadow-md);
}

ani-button[kind='secondary'] {
  --text-color: var(--color-brand-01-base);
  --border-color: var(--color-brand-01-base);

  /* pressed */
  --border-color-pressed: var(--color-brand-01-darkest);
}

ani-button[kind='tertiary'] {
  --text-color: var(--color-brand-01-base);
}

@media screen and (max-width: 1366px) {
  ani-button {
    --font-size: var(--font-size-sm);
    --line-height: 24px;

    --spacing-squish: var(--spacing-squish-xs);
  }
}
