:root {
  --font-button-font {
    @apply --font-text-large-bold;
  }

  --font-button-font-sm {
    @apply --font-text-bold;
  }
}

.po-button {
  font-family: var(--font-family-theme);
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
  border-radius: 0.25em;
  border-width: 2px;
  padding: 0 1em;

  letter-spacing: auto;
  border-style: solid;
  min-height: 2.75em;

  &:focus-visible {
    outline-color: var(--color-outline-focused);

    outline-width: 0.25em;
    outline-style: solid;
    outline-offset: 0.125em;
  }

  /* secondary button */
  &-default {
    color: var(--color-button-color);
    border-color: var(--color-button-border);
    background-color: var(--color-button-background-color);

    box-shadow: none;

    &:hover {
      background-color: var(--color-button-background-color-hover);
      border-color: var(--color-button-border-hover);

      cursor: pointer;
      color: var(--color-button-color-hover);
    }

    &:enabled:active {
      background-color: var(--color-button-background-color-pressed);

      border-color: var(--color-button-border-pressed);
      color: var(--color-button-color-pressed);
      outline-color: var(--color-outline-focused);
      outline-width: 0.25em;
      outline-style: solid;
      outline-offset: 0.125em;
      cursor: pointer;
    }

    &:disabled {
      color: var(--color-button-color-disabled);
      border-color: var(--color-button-border-disabled);
      background-color: var(--color-button-background-color-disabled);
      cursor: not-allowed;
    }
  }

  &-primary {
    color: var(--color-button-color-primary);
    background-color: var(--color-button-background-color-primary);
    box-shadow: var(--color-button-box-shadow);

    border-color: var(--color-button-border-primary);

    &:hover {
      background-color: var(--color-button-background-color-primary-hover);
      color: var(--color-button-color-primary-hover);

      cursor: pointer;
    }

    &:enabled:active {
      background-color: var(--color-button-background-color-primary-pressed);

      color: var(--color-button-color-primary-pressed);
      outline-color: var(--color-outline-focused);
      outline-width: 0.25em;
      outline-style: solid;
      outline-offset: 0.125em;
      cursor: pointer;
    }

    &:disabled {
      background-color: var(--color-button-background-color-primary-disabled);
      color: var(--color-button-color-primary-disabled);
      cursor: not-allowed;
    }
  }

  &-danger {
    color: var(--color-button-color-danger);
    background-color: var(--color-button-background-color-danger);

    border-color: var(--color-button-color-danger);

    &:hover {
      background-color: var(--color-button-background-color-danger-hover);
      border-color: var(--color-button-border-danger-hover);

      color: var(--color-button-color-danger-hover);
      cursor: pointer;
    }

    &:enabled:active {
      background-color: var(--color-button-background-color-danger-pressed);

      border-color: var(--color-button-border-danger-pressed);
      color: var(--color-button-color-danger-pressed);
      outline-color: var(--color-outline-focused);
      outline-width: 0.25em;
      outline-style: solid;
      outline-offset: 0.125em;
      cursor: pointer;
    }

    &:disabled {
      color: var(--color-button-color-danger-disabled);
      border-color: var(--color-button-border-danger-disabled);
      cursor: not-allowed;

      background-color: var(--color-button-background-color-danger-disabled);
    }
  }

  &-link {
    color: var(--color-button-color-link);
    background-color: var(--color-button-background-color-link);
    border-color: var(--color-button-border-color-link);
    box-shadow: none;

    &:hover {
      background-color: var(--color-button-background-color-link-hover);
      color: var(--color-button-color-link-hover);
      cursor: pointer;
    }

    &:enabled:active {
      color: var(--color-button-color-link-pressed);
      background-color: var(--color-button-background-color-link-pressed);
      outline-color: var(--color-outline-focused);
      outline-width: 0.25em;
      outline-style: solid;
      outline-offset: 0.125em;
      cursor: pointer;
    }

    &:disabled {
      color: var(--color-button-color-link-disabled);
      background-color: var(--color-button-background-color-link-disabled);
      cursor: not-allowed !important;
    }
  }

  &-sm {
    font-size: 0.875rem;
    line-height: 100%;
    padding: 0 0.5rem;
    min-height: 2rem;
  }
}

[class*='po-xl-'],
[class*='po-lg-'],
[class*='po-md-'],
[class*='po-sm-'] {
  > .po-button {
    width: 100%;
  }
}

.po-button-icon {
  vertical-align: middle;
}

.po-button-label {
  display: inline;
  vertical-align: middle;
}

.po-button .po-button-icon:not(.po-button-loading-icon) ~ .po-button-label {
  padding-left: 4px;
}

.po-button-loading-icon {
  float: left;
  padding-right: 8px;
}

.po-button .po-button-icon ~ .po-button-label {
  padding-left: 4px;
}

.po-button-loading-icon .po-loading-icon {
  top: 0.3rem;
}

.po-button .po-button-icon .po-icon,
.po-button-loading-icon {
  display: inline-block;
  vertical-align: -0.05rem;
}

.po-button .po-button-icon > :first-child:not(.po-fonts-icon):not(.po-icon) {
  vertical-align: -0.1rem;
}

@media screen and (max-width: 1366px) {
  .po-button,
  .po-button:not(.po-button-sm) {
    font-size: 0.875rem;
    min-height: 2rem !important;
    padding: 0 0.5rem;
    line-height: 100%;
  }

  .po-button .po-button-icon:not(.po-button-loading-icon) ~ .po-button-label {
    padding-left: 2px;
  }

  .po-button .po-button-icon::before {
    display: inline-block;
    overflow: hidden;
  }

  .po-button-loading-icon .po-loading-icon {
    height: 12px;
    top: 0.125rem;
    width: 12px;
  }

  .po-button .po-button-icon .po-icon,
  .po-button-loading-icon {
    vertical-align: -0.1rem;
  }
}

@media print {
  .po-button {
    color-adjust: exact;
  }
}
