po-page-content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-height: 0;
}

.po-page-content {
  box-sizing: border-box;
  flex: 1 1 0%;
  min-height: 0;
  overflow-y: auto;
  padding: var(--padding-content, var(--po-density-content-padding, var(--spacing-xs) var(--spacing-sm)));
  position: relative;
  width: 100%;
}

.po-page-content .po-dropdown {
  vertical-align: bottom;
}

@media print {
  .po-page-content {
    overflow-y: visible;
  }
}
