.po-page-content {
  max-height: 100%;
  overflow-y: auto;
  padding: var(--padding-content);
  position: relative;
  width: 100%;
}

@media print {
  .po-page-content {
    overflow-y: visible;
  }
}
