.po-page-content {
  max-height: 100%;
  overflow-y: auto;
  padding: var(--padding-content);
  position: relative;
  width: 100%;
}

.po-page-content::-webkit-scrollbar {
  width: 7px;
}

.po-page-content::-webkit-scrollbar-track {
  display: none;
}

.po-page-content::-webkit-scrollbar-thumb {
  background-color: var(--color-page-content-background-color-scrollbar);
  border-radius: 10px;
}

.po-page-content:has(.po-tabs-container) {
  --padding-content: 0px;
}

@media screen and (max-width: 1024px) {
  .po-page-content {
    padding: 8px;
  }
}

@media print {
  .po-page-content {
    overflow-y: visible;
  }
}
