:root {
  --font-page-slide-body: {
    @apply --font-text;
  }

  --font-page-slide-title: {
    @apply --font-subtitle;
    @apply --text-ellipsis;
  }

  --font-page-slide-subtitle: {
    @apply --font-text-small;
    @apply --text-ellipsis;
  }
}

.po-page-slide {
  @apply --full-wrapper-fixed;
  z-index: 1000;
}

.po-page-slide.po-fade {
  opacity: 0;
  pointer-events: none;
}

.po-page-slide.po-fade.show {
  opacity: 1;
  pointer-events: auto;
}

.po-page-slide-overlay {
  background-color: var(--color-overlay);
  opacity: var(--opacity-overlay);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  content: '';
  position: fixed;
}

.po-page-slide-container {
  max-width: 768px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}

.po-page-slide-right {
  float: right;
}

.po-page-slide.po-fade .po-page-slide-right {
  transform: translateX(50px);
  transition: transform 0.3s ease-out;
}

.po-page-slide.po-fade.show .po-page-slide-right {
  transform: none;
}

.po-page-slide-sm {
  width: 40%;
}

.po-page-slide-md {
  width: 50%;
}

.po-page-slide-lg {
  width: 60%;
}

.po-page-slide-xl {
  width: 70%;
}

.po-page-slide-auto {
  min-width: 40%;
  max-width: 90%;
}

.po-page-slide-content {
  background-color: var(--background-color);
  border-radius: var(--border-radius);

  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.po-page-slide-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25em;
  max-width: 100%;
  text-align: left;
  padding: var(--padding-header);
}

.po-page-slide-header po-icon {
  font-size: 1.5rem;
}

.po-page-slide-header po-icon i.ph {
  font-size: var(--font-size-md);
  padding: 0.125rem;
}

.po-page-slide-title {
  font-family: var(--font-family);
  color: var(--color-title);
  flex: 1 1 auto;
  font-weight: var(--font-weight);
  line-height: var(--line-height-md);
  font-size: var(--font-size-default);
}

.po-page-slide-subtitle {
  @apply --font-page-slide-subtitle;
}

.po-page-slide-body {
  @apply --font-page-slide-body;
  color: var(--color-page-slide-body-text-color);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  height: calc(100% - 70px); /* 100% - .po-page-slide-header */
  scroll-behavior: smooth;
  padding: var(--padding-body);
}

@media screen and (max-width: 480px) {
  .po-page-slide-auto {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .po-page-slide-auto {
    width: auto;
  }
}
