.po-link {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: inherit;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-auto);
  line-height: inherit;
  text-decoration: underline;
}

.po-link:is(button) {
  background: none;
  border: none;
  padding: 0;
}

.po-link:hover {
  color: var(--text-color-hover);
  cursor: pointer;
  text-decoration: none;
}

.po-link:focus {
  outline-color: var(--outline-color-focused);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: var(--outline-width);
}

.po-link:active {
  color: var(--text-color-pressed);
  cursor: pointer;
  outline-color: var(--outline-color-focused);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: var(--outline-width);
  text-decoration: none;
}

.po-link:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-link:visited {
  color: var(--text-color-visited);
}
