.po-link {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-auto);
  text-decoration: underline;
  font-size: inherit;
  line-height: inherit;
}
.po-link:visited {
  color: var(--text-color-visited);
}
.po-link:hover {
  color: var(--text-color-hover);
  cursor: pointer;
  text-decoration: none;
}
.po-link:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
}
.po-link:active {
  color: var(--text-color-pressed);
  outline-color: var(--outline-color-focused);
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
  cursor: pointer;
  text-decoration: none;
}
