po-helper,
po-helper .po-helper-container {
  display: flex;
  align-items: center;
  --font-size: var(--font-size-lg);
}

po-helper[p-size='small'],
po-helper[p-size='small'] .po-helper-container {
  --font-size: var(--font-size-default);
}

.po-helper-container po-icon {
  display: flex;
  font-size: var(--font-size);
  color: var(--color);
}

.po-helper-target {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  width: var(--font-size);
  height: var(--font-size);
  border-radius: 50%;
}

po-helper[p-size='small'] .po-helper-container.po-helper-target {
  align-items: center;
}

.po-helper-container:hover {
  border-color: var(--border-color-hover);
  background-color: var(--background-hover);
}

.po-helper-container:focus-visible,
.po-helper-container:focus {
  background-color: var(--background-pressed);
  border-radius: 50%;
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
}

.po-helper-popover .po-popover-content {
  max-width: 386px;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: var(--color-neutral-dark-90);
}

.po-helper-popover {
  min-height: unset !important;
  transform: translateY(-4px);
}

po-helper:has(.po-helper-disabled) po-icon,
po-helper:has(.po-helper-disabled) {
  --color: var(--color-disabled);
  cursor: not-allowed;
  pointer-events: none;
}
