:root {
  --font-field-icon: {
    @apply --font-subtitle;
  }
}

.po-field-icon-container-left,
.po-field-icon-container-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.po-field-icon-container-left {
  padding-left: 10px;
  pointer-events: none;
}

.po-field-icon-container-right {
  right: 10px;
}

.po-field-icon,
.po-field-icon-disabled {
  @apply --font-field-icon;
  text-align: center;
  text-decoration: none;
}

.po-field-icon {
  cursor: pointer;
}

.po-field-icon-right {
  float: right;
}

.po-field-icon:not(.po-field-icon-disabled) {
  color: var(--color-brand-01-dark);
}

.po-field-icon-container-left .po-field-icon > .po-icon,
.po-field-icon-container-left .po-field-icon > .po-fonts-icon,
.po-field-icon-container-left .po-field-icon > :first-child:not(.po-fonts-icon):not(.po-icon) {
  vertical-align: middle;
  line-height: 2.65rem;
}

.po-field-icon-disabled {
  color: var(--color-neutral-light-30);
}

.po-field-icon-readonly {
  cursor: default;
}

po-combo.ng-invalid.ng-dirty .po-field-icon,
po-datepicker.ng-invalid.ng-dirty .po-field-icon,
po-decimal.ng-invalid.ng-dirty .po-field-icon,
po-email.ng-invalid.ng-dirty .po-field-icon,
po-input.ng-invalid.ng-dirty .po-field-icon,
po-login.ng-invalid.ng-dirty .po-field-icon,
po-lookup.ng-invalid.ng-dirty .po-field-icon,
po-number.ng-invalid.ng-dirty .po-field-icon,
po-password.ng-invalid.ng-dirty .po-field-icon,
po-select.ng-invalid.ng-dirty .po-field-icon,
po-url.ng-invalid.ng-dirty .po-field-icon {
  color: var(--color-feedback-negative-base) !important;
}
