.po-field-icon-container-left,
.po-field-icon-container-right {
  position: absolute;
}

.po-field-icon-container-left {
  padding-left: 10px;
  pointer-events: none;
}

.po-field-icon-container-right {
  right: 10px;
  display: flex;
}

.po-field-icon,
[data-a11y='AAA'] .po-field-icon-aa,
.po-field-icon-disabled,
[data-a11y='AAA'] .po-field-icon-disabled-aa {
  font-size: var(--font-size-lg);
  display: flex;
  text-align: center;
  text-decoration: none;
}

.po-field-icon-aa,
.po-field-icon-disabled-aa {
  font-size: var(--font-size-default);
}

.po-field-icon-large,
.po-field-icon-disabled-large {
  font-size: var(--font-size-xl);
}

.po-field-icon {
  cursor: pointer;
}

.po-field-icon-right {
  float: right;
}

.po-field-icon:not(.po-field-icon-disabled) {
  color: var(--color-brand-01-dark);
}

.po-field-icon-container-left .po-field-icon > .po-fonts-icon,
.po-field-icon-container-left .po-field-icon > :first-child:not(.po-fonts-icon),
[data-a11y='AAA'] .po-field-icon-container-left .po-field-icon-aa > .po-fonts-icon,
[data-a11y='AAA'] .po-field-icon-container-left .po-field-icon-aa > :first-child:not(.po-fonts-icon) {
  vertical-align: middle;
  line-height: var(--target-size-aaa);
}

.po-field-icon-container-left .po-field-icon-aa > .po-fonts-icon,
.po-field-icon-container-left .po-field-icon-aa > :first-child:not(.po-fonts-icon) {
  line-height: var(--target-size-aa);
}

.po-field-icon-disabled {
  color: var(--color-neutral-light-30);
}

.po-field-icon-readonly {
  cursor: default;
}

po-combo.ng-invalid.ng-dirty .po-field-icon,
po-datepicker.ng-invalid.ng-dirty .po-field-icon,
po-decimal.ng-invalid.ng-dirty .po-field-icon,
po-email.ng-invalid.ng-dirty .po-field-icon,
po-input.ng-invalid.ng-dirty .po-field-icon,
po-login.ng-invalid.ng-dirty .po-field-icon,
po-lookup.ng-invalid.ng-dirty .po-field-icon,
po-number.ng-invalid.ng-dirty .po-field-icon,
po-password.ng-invalid.ng-dirty .po-field-icon,
po-select.ng-invalid.ng-dirty .po-field-icon,
po-url.ng-invalid.ng-dirty .po-field-icon {
  color: var(--color-feedback-negative-base) !important;
}
