:root {
  --font-switch-label {
    @apply --font-text-large;
  }
}

.po-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.po-switch-container {
  height: 1.5rem;
  position: relative;

  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
}

.po-switch-container:focus-visible {
  outline-color: var(--color-switch-box-shadow-color-focusable, var(--outline-color-focused));

  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
}

.po-switch-track {
  background-color: var(--color-switch-background-color-container-off, var(--track-unchecked));

  height: 1rem;
  width: 3rem;
  border-radius: 400px;
  cursor: pointer;
}

.po-switch-toggle {
  background-color: var(--color-switch-background-color-button, var(--color-unchecked));
  border: var(--border-width-md) solid var(--border-color);

  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  transition: 0.3s ease-out all;
}

.po-switch-toggle:hover {
  background-color: var(--color-unchecked-hover);

  border-color: var(--color-checked-hover);
}

.po-switch-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-switch-color-icon-on, var(--color-unchecked));
}

.po-switch-label {
  @apply --font-switch-label;
  color: var(--color-switch-color-label, var(--color-neutral-dark-70));
  cursor: pointer;
}

[aria-checked='true'] .po-switch-toggle {
  background-color: var(--color-switch-background-color-button, var(--color-checked));
  border-color: transparent;
  transform: translateX(100%);
}

[aria-checked='true'] .po-switch-toggle:hover {
  background-color: var(--color-checked-hover);
}

[aria-checked='true'] .po-switch-track {
  background-color: var(--color-switch-background-color-container-on, var(--track-checked));
}

[aria-disabled='true'] .po-switch-track {
  background-color: var(--color-switch-background-color-container-disabled, var(--track-unchecked));
  cursor: not-allowed;
}

[aria-disabled='true'] .po-switch-toggle {
  background-color: var(--color-switch-background-color-button-disabled, var(--color-unchecked-disabled));

  border-color: var(--color-switch-background-color-button-disabled, var(--color-checked-disabled));
}

[aria-disabled='true'] + .po-switch-label {
  cursor: not-allowed;
}

[aria-checked='true'][aria-disabled='true'] .po-switch-track {
  background-color: var(--color-switch-background-color-container-disabled, var(--color-neutral-light-20));
}

[aria-checked='true'][aria-disabled='true'] .po-switch-toggle {
  background: var(--color-switch-background-color-button-disabled, var(--color-checked-disabled));
  border-color: transparent;
}

[data-label-position='left'] {
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media print {
  .po-switch-container {
    print-color-adjust: exact;
  }
}
