:root {
  --font-switch-label {
    @apply --font-text-large;
  }

  --font-switch-text-smaller: {
    @apply --font-text;
  }

  --switch-container-height: 28px;
  --switch-container-width: 52px;

  --switch-container-height-sm: 24px;
  --switch-container-width-sm: 44px;
}

ani-switch {
  --color-checked: var(--color-switch-background-color-button, var(--color-brand-02-base));
  --color-unchecked: var(--color-switch-color-icon-on, var(--color-neutral-light-00));

  --track-checked: var(--color-switch-background-color-container-on, var(--color-brand-02-light));
  --track-unchecked: var(--color-switch-background-color-container-off, var(--color-neutral-light-20));

  --color-checked-disabled: var(--color-switch-background-color-button-disabled, var(--color-action-disabled));
  --color-unchecked-disabled: var(--color-switch-background-color-container-disabled, var(--color-neutral-light-20));

  --color-checked-hover: var(--color-brand-02-dark);
  --color-unchecked-hover: var(--color-brand-02-lightest);

  --border-color: var(--color-switch-color-label, var(--color-neutral-light-00));
  --color-checked-hover: var(--color-brand-02-dark);
  --color-unchecked-hover: var(--color-brand-02-lightest);
  --outline-color-focused: var(--color-switch-box-shadow-color-focusable, var(--color-action-focus));
}

.po-switch-container {
  border-radius: 14px;
  display: inline-block;
  height: var(--switch-container-height);
  position: relative;
  transition: 0.3s ease-out all;
  width: var(--switch-container-width);

  &-right {
    float: right !important;
  }
}

.po-switch-label {
  @apply --font-switch-label;
  color: var(--color-switch-color-label);
  position: relative;
  top: 2px;

  &-right {
    left: 12px;
  }
}

.po-switch-content {
  display: flex;
  margin-top: 8px;
}

@media screen and (max-width: 1366px) {
  .po-switch-label {
    @apply --font-switch-text-smaller;
  }

  .po-switch-container {
    height: var(--switch-container-height-sm);
    width: var(--switch-container-width-sm);
  }

  .po-switch-label {
    top: unset;
  }

  .po-switch-content {
    margin-top: 4px;
  }
}

@media print {
  .po-switch-container {
    color-adjust: exact;
  }
}
