.po-stepper {
  display: table;
  table-layout: fixed;
}

.po-stepper-horizontal {
  margin: 0 auto;
  width: 100%;
}

.po-stepper-step {
  position: relative;
}

.po-stepper-horizontal .po-stepper-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.po-stepper-horizontal .po-stepper-step-position,
.po-stepper-vertical .po-stepper-container,
.po-stepper-vertical .po-stepper-content {
  display: table-cell;
  vertical-align: top;
}

.po-stepper-horizontal .po-stepper-content,
.po-stepper-vertical .po-stepper-container,
.po-stepper-vertical .po-stepper-content {
  padding: 8px;
}

.po-stepper-vertical .po-stepper-content {
  height: 100%;
  width: 100%;
}

.po-stepper-vertical .po-stepper-step {
  display: table;
  height: 5.6em;
  min-height: 5.6em;
  padding-left: 16px;
}

.po-stepper-step-position:first-child .po-stepper-step-bar-left,
.po-stepper-step-position:last-child .po-stepper-step-bar-right,
.po-stepper-step-position:first-child .po-stepper-step-bar-top,
.po-stepper-step-position:last-child .po-stepper-step-bar-bottom {
  display: none;
}

.po-stepper-circle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.po-stepper-circle-border {
  border: 2px solid;
}

.po-stepper-horizontal .po-stepper-circle {
  margin-inline: auto;
  margin-bottom: 0.25em;
}

.po-stepper-vertical .po-stepper-circle {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.po-stepper-circle-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.po-stepper-step-default .po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-default .po-stepper-label,
.po-stepper-step-disabled .po-stepper-label {
  color: var(--color-stepper-circle-disabled, var(--text-color-next));
}

.po-stepper-step-disabled .po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-error .po-stepper-circle,
.po-stepper-step-error .po-stepper-label {
  color: var(--color-stepper-circle-error);
}

.po-stepper-step-default {
  cursor: pointer;
}

.po-stepper-step-disabled {
  cursor: default;
}

.po-stepper-label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.po-stepper-label-none {
  display: none;
}

.po-stepper-label-vertical {
  white-space: normal;
  word-wrap: break-word;
  max-width: 15em;
  width: 100%;
}

.po-stepper-horizontal .po-stepper-label {
  padding-inline: var(--spacing-xs);
  text-align: center;
  display: list-item;
}

.po-stepper-vertical .po-stepper-step-label-position {
  display: table-cell;
  vertical-align: middle;
}

.po-stepper-step-bar-left,
.po-stepper-step-bar-right {
  border-top: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
  top: 50%;
}

.po-stepper-step-bar-top,
.po-stepper-step-bar-bottom {
  border-left: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
}

.po-stepper-horizontal .po-stepper-step-bar-right {
  left: 50%;
  right: 0;
}

.po-stepper-horizontal .po-stepper-step-bar-left {
  left: 0;
  right: 50%;
}

.po-stepper-step-container {
  height: 100%;
  position: relative;
}

.po-stepper-vertical .po-stepper-step-bar-bottom {
  bottom: 0;
  left: 50%;
  margin-top: 50%;
  top: 50%;
}

.po-stepper-vertical .po-stepper-step-bar-top {
  bottom: 50%;
  left: 50%;
  margin-bottom: 50%;
  top: 0;
}

.po-stepper-vertical .po-stepper-step-container {
  display: inherit;
  margin-right: 16px;
}

.po-stepper-circle-content,
.po-stepper-circle-content-md,
.po-stepper-circle-content-lg,
.po-stepper-circle-content.po-icon,
.po-stepper-circle-content-md.po-icon,
.po-stepper-circle-content-lg.po-icon {
  font-weight: var(--font-weight-current);
}

.po-stepper-circle-content {
  font-size: var(--font-size-circle);
}

.po-stepper-circle-content-md {
  font-size: var(--font-size-md);
}

.po-stepper-circle-content-lg {
  font-size: var(--font-size-lg);
}

.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content {
  font-size: var(--font-size-circle);
}

.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content-md {
  font-size: var(--font-size-circle);
}

.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content-lg {
  font-size: var(--font-size-circle);
}

.po-stepper-circle-content.po-icon {
  font-size: 16px;
}

.po-stepper-circle-content-md.po-icon {
  font-size: 24px;
}

.po-stepper-circle-content-lg.po-icon {
  font-size: 32px;
}

.po-stepper-circle-active {
  background-color: var(--color-stepper-circle-active, var(--background-current));
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.po-stepper-step-error .po-stepper-circle-active {
  background: var(--color-feedback-negative-base);
}

.po-stepper-step-disabled .po-stepper-step-bar-right,
.po-stepper-step-disabled .po-stepper-step-bar-left {
  border-top: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-disabled .po-stepper-step-bar-top,
.po-stepper-step-disabled .po-stepper-step-bar-bottom {
  border-left: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-dashed-border {
  border-top: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-dashed-border-vertical {
  border-left: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-circle-done {
  background-color: var(--background-done);
  border-color: var(--color-neutral-dark-70) !important;
}

.po-stepper-label-done {
  color: var(--text-color) !important;
}

.po-stepper-circle-done .po-stepper-circle-content.po-icon {
  color: var(--color-icon-done);
}

.po-stepper-label-active {
  color: var(--color-neutral-dark-70) !important;
  font-weight: var(--font-weight-current);
}

.po-stepper-circle-active .po-stepper-circle-content.po-icon {
  color: var(--color-icon-current);
}

.po-stepper-circle-content,
.po-stepper-circle-content.po-icon,
.po-stepper-step-disabled .po-stepper-circle-content {
  color: var(--color-action-disabled);
}

@media print {
  .po-stepper-step-container {
    display: block;
  }
}
