.po-stepper-horizontal {
  display: grid;
  width: 100%;
  gap: 8px;
  padding-inline: 8px;
}

.po-stepper-step {
  position: relative;
}

.po-stepper-horizontal .po-stepper-step {
  margin-right: 1rem;
}

.po-stepper-step:not(.po-stepper-step-disabled):focus-visible {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
  z-index: 1000;
}

.po-stepper-horizontal .po-stepper-step:not(.po-stepper-step-disabled):focus-visible {
  margin-right: 1rem;
}

.po-stepper-step-container {
  height: 100%;
  position: relative;
}

.po-stepper-vertical .po-stepper-step-container,
.po-stepper-container-horizontal {
  display: flex;
}

.po-stepper-vertical {
  display: flex;
  width: 100%;
  gap: 8px;
  padding-inline: 8px;
}

.po-stepper-vertical .po-stepper-content {
  height: 100%;
  width: 100%;
}

.po-stepper-container-vertical {
  display: flex;
  flex-direction: column;
  height: auto;
}

.po-stepper-step-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.po-stepper-vertical .po-stepper-step-wrapper {
  min-height: 5.6em;
}

.po-stepper-horizontal .po-stepper-step-position-center {
  margin-inline: auto;
}

.po-stepper-vertical .po-stepper-step-position-center {
  margin: auto 0;
}

.po-stepper-circle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  z-index: 2;
  position: relative;
}

.po-stepper-horizontal .po-stepper-circle-center {
  margin-inline: auto;
}

.po-stepper-circle-border {
  border: 2px solid;
}

.po-stepper-vertical .po-stepper-circle {
  position: relative;
  margin-inline: auto;
}

.po-stepper-circle-content {
  display: flex;
  justify-content: center;
  padding: 0.25em;
  align-items: center;
  height: 100%;
}

.po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
  background-color: var(--color-neutral-light-00);
  color: var(--color-neutral-dark-70);
}

.po-stepper-circle-horizontal,
.po-stepper-circle-vertical {
  align-items: center;
}

.po-stepper-circle-horizontal {
  display: flex;
  margin: auto;
}

.po-stepper-circle-vertical {
  display: grid;
  margin-bottom: auto;
}

.po-stepper-vertical .po-stepper-circle-vertical-center {
  display: grid;
  margin-bottom: 0;
}

.po-stepper-step-default,
.po-stepper-label.po-link,
.po-stepper-step-disabled .po-stepper-label-vertical {
  color: var(--color-stepper-circle-disabled, var(--text-color-next));
}

.po-stepper-step-disabled .po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-error .po-stepper-circle,
.po-stepper-step-error .po-stepper-label {
  color: var(--color-stepper-circle-error);
}

.po-stepper-step-default:not(.po-stepper-disabled-click) {
  cursor: pointer;
}

.po-stepper-step-disabled {
  cursor: default;
  color: var(--text-color-next);
}

.po-stepper-label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.po-stepper-label-vertical {
  white-space: normal;
  word-wrap: break-word;
  max-width: 15em;
}

.po-stepper-horizontal .po-stepper-label {
  display: list-item;
  padding-top: 0.25em;
  padding-right: var(--spacing-lg);
  max-width: 15em;
}

.po-stepper-horizontal .po-stepper-label-center {
  padding-inline: var(--spacing-xs);
}

.po-stepper-vertical .po-stepper-step-label-position {
  padding-left: var(--spacing-sm);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  height: 100%;
}

.po-stepper-horizontal .po-stepper-step-label-position {
  max-width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-grid;
}

.po-stepper-step-bar-right,
.po-stepper-step-bar-center {
  border-top: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
  top: 50%;
}

.po-stepper-step-bar-top,
.po-stepper-step-bar-bottom,
.po-stepper-step-bar-bottom-center {
  border-left: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
}

.po-stepper-horizontal .po-stepper-step-bar-right {
  position: absolute;
  left: 0;
  right: 0;
}

.po-stepper-horizontal .po-stepper-step-bar-center {
  position: absolute;
  left: 50%;
  right: -50%;
}

.po-stepper-vertical .po-stepper-step-bar-bottom {
  bottom: -4px;
  top: 4px;
}

.po-stepper-vertical .po-stepper-step-bar-bottom-center {
  bottom: 0;
  top: 50%;
}

.po-stepper-vertical .po-stepper-step-bar-top {
  position: absolute;
  bottom: 50%;
  top: 0;
}

.po-stepper-circle-content,
.po-stepper-circle-content-md,
.po-stepper-circle-content-lg,
.po-stepper-circle-content.po-icon,
.po-stepper-circle-content-md.po-icon,
.po-stepper-circle-content-lg.po-icon {
  font-weight: var(--font-weight-current);
}

.po-stepper-step-default .po-stepper-circle-content i,
.po-stepper-step-disabled .po-stepper-circle-content i,
.po-stepper-step-disabled .po-stepper-circle-content-md i,
.po-stepper-step-disabled .po-stepper-circle-content-lg i {
  font-size: var(--font-size-circle);
}

.po-stepper-circle-done .po-stepper-circle-content.po-icon i,
.po-stepper-circle-active .po-stepper-circle-content.po-icon i {
  font-size: 16px;
}

.po-stepper-circle-done .po-stepper-circle-content-md.po-icon i,
.po-stepper-circle-active .po-stepper-circle-content-md.po-icon i {
  font-size: 24px;
}

.po-stepper-circle-done .po-stepper-circle-content-lg.po-icon i,
.po-stepper-circle-active .po-stepper-circle-content-lg.po-icon i {
  font-size: 32px;
}

.po-stepper-circle-active {
  background-color: var(--color-stepper-circle-active, var(--background-current));
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.po-stepper-step-error .po-stepper-circle-active {
  background: var(--color-feedback-negative-base);
}

.po-stepper-step-disabled .po-stepper-step-bar-center,
.po-stepper-step-disabled .po-stepper-step-bar-right,
.po-stepper-step-dashed-border {
  border-top: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
  position: absolute;
  top: 50%;
}

.po-stepper-step-disabled .po-stepper-step-bar-top,
.po-stepper-step-disabled .po-stepper-step-bar-bottom,
.po-stepper-step-dashed-border-vertical {
  border-left: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-circle-done {
  background-color: var(--background-done);
  border-color: var(--color-neutral-dark-70);
}

.po-stepper-label.po-link.po-stepper-label-done {
  color: var(--text-color);
}

.po-stepper-circle-done .po-stepper-circle-content.po-icon {
  color: var(--color-icon-done);
}

.po-stepper-label.po-link.po-stepper-label-active {
  color: var(--color-neutral-dark-70);
  font-weight: var(--font-weight-current);
}

.po-stepper-circle-active .po-stepper-circle-content.po-icon {
  color: var(--color-icon-current);
}

.po-stepper-circle-content,
.po-stepper-circle-content.po-icon,
.po-stepper-step-disabled .po-stepper-circle-content {
  color: var(--color-action-disabled);
}

po-icon i {
  line-height: normal;
}

.po-stepper-circle-done .an {
  font-weight: 600;
}

.po-stepper-label.po-link {
  color: var(--color-stepper-circle-disabled, var(--text-color-next));
  font-size: var(--font-size);
  line-height: normal;
}

.po-stepper-label.po-link:focus,
.po-stepper-label.po-link:active {
  outline: none;
}

.po-stepper-label.po-stepper-disabled-click.po-stepper-label-active {
  color: var(--color-neutral-dark-70);
  font-weight: var(--font-weight-current);
}

.po-stepper-label.po-stepper-disabled-click.po-stepper-label-done {
  color: var(--text-color);
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* Força a impressão de cores no Chrome */
    print-color-adjust: exact; /* Outros navegadores */
  }
}
