.po-stepper {
  display: table;
  table-layout: fixed;
}

.po-stepper-step {
  position: relative;
}

.po-stepper-horizontal .po-stepper-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.po-stepper-horizontal .po-stepper-step-position,
.po-stepper-vertical .po-stepper-container,
.po-stepper-vertical .po-stepper-content {
  display: table-cell;
  vertical-align: middle;
}

.po-stepper-horizontal .po-stepper-content,
.po-stepper-vertical .po-stepper-container,
.po-stepper-vertical .po-stepper-content {
  padding: 8px;
}

.po-stepper-vertical .po-stepper-content {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.po-stepper-vertical .po-stepper-step {
  display: table;
  height: 5.6em;
  min-height: 5.6em;
}

.po-stepper-step-position:first-child .po-stepper-step-bar-left,
.po-stepper-step-position:last-child .po-stepper-step-bar-right,
.po-stepper-step-position:first-child .po-stepper-step-bar-top,
.po-stepper-step-position:last-child .po-stepper-step-bar-bottom {
  display: none;
}

.po-stepper-circle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  z-index: 2;
  position: relative;
}

.po-stepper-circle-border {
  border: 2px solid;
}

.po-stepper-vertical .po-stepper-circle {
  position: relative;
  margin: 4px auto;
}

.po-stepper-circle-content {
  display: flex;
  justify-content: center;
  padding: 0.25em;
  align-items: center;
  height: 100%;
}

.po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
  background-color: var(--color-neutral-light-00);
  color: var(--color-neutral-dark-70);
}

.po-stepper-step-default,
.po-stepper-label.po-link,
.po-stepper-step-disabled .po-stepper-label-vertical {
  color: var(--color-stepper-circle-disabled, var(--text-color-next));
}

.po-stepper-step-disabled .po-stepper-circle {
  border-color: var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-error .po-stepper-circle,
.po-stepper-step-error .po-stepper-label {
  color: var(--color-stepper-circle-error);
}

.po-stepper-step-default {
  cursor: pointer;
}

.po-stepper-step-disabled {
  cursor: default;
  color: var(--text-color-next);
}

.po-stepper-label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.po-stepper-label-none {
  display: none;
}

.po-stepper-label-vertical {
  white-space: normal;
  word-wrap: break-word;
  max-width: 15em;
}

.po-stepper-horizontal .po-stepper-label {
  display: list-item;
  padding-top: 0.25em;
  padding-right: var(--spacing-lg);
  max-width: 15em;
}

.po-stepper-vertical .po-stepper-step-label-position {
  display: table-cell;
  vertical-align: top;
  padding-left: var(--spacing-sm);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  height: 100%;
}

.po-stepper-step-bar-left,
.po-stepper-step-bar-right {
  border-top: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
  top: 50%;
}

.po-stepper-step-bar-top,
.po-stepper-step-bar-bottom {
  border-left: 2px solid var(--color-stepper-bar, var(--color-line-done));
  position: absolute;
}

.po-stepper-horizontal .po-stepper-step-bar-right {
  position: absolute;
  left: 0;
  right: 0;
}

.po-stepper-step-container {
  height: 100%;
  position: relative;
  min-width: 32px;
}

.po-stepper-vertical .po-stepper-step-bar-bottom {
  bottom: 0;
  left: 50%;
  top: 0;
}

.po-stepper-vertical .po-stepper-step-bar-top {
  left: 50%;
  top: 0;
}

.po-stepper-circle-content,
.po-stepper-circle-content-md,
.po-stepper-circle-content-lg,
.po-stepper-circle-content.po-icon,
.po-stepper-circle-content-md.po-icon,
.po-stepper-circle-content-lg.po-icon {
  font-weight: var(--font-weight-current);
}

.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content,
.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content-md,
.po-stepper-step-default .po-stepper-circle-content,
.po-stepper-step-disabled .po-stepper-circle-content-lg {
  font-size: var(--font-size-circle);
}

.po-stepper-circle-content.po-icon {
  font-size: 16px;
}

.po-stepper-circle-content-md.po-icon {
  font-size: 24px;
}

.po-stepper-circle-content-lg.po-icon {
  font-size: 32px;
}

.po-stepper-circle-active {
  background-color: var(--color-stepper-circle-active, var(--background-current));
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.po-stepper-step-error .po-stepper-circle-active {
  background: var(--color-feedback-negative-base);
}

.po-stepper-step-disabled .po-stepper-step-bar-right,
.po-stepper-step-disabled .po-stepper-step-bar-left,
.po-stepper-step-dashed-border {
  border-top: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-step-disabled .po-stepper-step-bar-top,
.po-stepper-step-disabled .po-stepper-step-bar-bottom,
.po-stepper-step-dashed-border-vertical {
  border-left: 2px dashed var(--color-stepper-bar-disabled, var(--color-next));
}

.po-stepper-circle-done {
  background-color: var(--background-done);
  border-color: var(--color-neutral-dark-70);
}

.po-stepper-label.po-link.po-stepper-label-done {
  color: var(--text-color);
}

.po-stepper-circle-done .po-stepper-circle-content.po-icon {
  color: var(--color-icon-done);
}

.po-stepper-label.po-link.po-stepper-label-active {
  color: var(--color-neutral-dark-70);
  font-weight: var(--font-weight-current);
}

.po-stepper-circle-active .po-stepper-circle-content.po-icon {
  color: var(--color-icon-current);
}

.po-stepper-circle-content,
.po-stepper-circle-content.po-icon,
.po-stepper-step-disabled .po-stepper-circle-content {
  color: var(--color-action-disabled);
}

po-icon i {
  line-height: normal;
}

.po-stepper-circle-done .ph {
  font-weight: 600;
}

.po-stepper-label.po-link {
  color: var(--color-stepper-circle-disabled, var(--text-color-next));
  font-size: var(--font-size);
  line-height: normal;
}

@media print {
  .po-stepper-step-container {
    display: block;
  }
}
