:root {
  --shadow-navbar-box-shadow: var(--shadow-container);

  --navbar-height: 56px;
}

po-navbar {
  /* grid-area: navbar; */

  /* grid-area: 1 / 1 / 1 / 3; */
  /* height: 56px;; */

  order: 0;
  /* flex: 1; */
}

.po-navbar {
  background-color: var(--color-navbar-color);
  display: table;
  height: var(--navbar-height);
  padding: 0 24px;
  width: 100%;

  /* grid-area: navbar; */
}

.po-navbar-shadow {
  box-shadow: var(--shadow-navbar-box-shadow);
}

@media screen and (max-width: 768px) {
  .po-navbar {
    padding: 0 16px;
  }
}

@keyframes menuPositionNormal {
  0% {
    top: 0px;
  }
  1% {
    top: 56px;
  }
  100% {
    top: 56px;
  }
}

po-navbar ~ .po-wrapper .po-menu,
po-navbar .po-menu {
  animation: menuPositionNormal 0.2s;
  height: calc(100vh - var(--navbar-height));
  top: var(--navbar-height);
}

po-navbar ~ .po-wrapper .po-menu-mobile,
po-navbar .po-menu-mobile {
  background-color: var(--color-navbar-color);
}

/*
  Tratamento para utilizar o 'po-wrapper' para ajustar o espaçamento superior dos pages e menu.
  Irá funcionar colocando o 'po-navbar' precedendo e como irmão do 'po-wrapper' na estrutura padrão da aplicação po.
  <po-navbar></po-navbar>
  <po-wrapper>
    <po-menu></po-menu>
    <po-page-default></po-page-default>
  </po-wrapper>
*/
/* po-navbar ~ .po-wrapper {
  padding-top: var(--navbar-height);
} */

po-navbar ~ .po-wrapper .po-page {
  height: calc(100vh - var(--navbar-height));
}

@media screen and (max-width: 1200px) {
  @keyframes menuPositionResponsive {
    0% {
      top: 56px;
    }
    99% {
      top: 56px;
    }
    100% {
      top: 0;
    }
  }

  po-navbar ~ .po-wrapper .po-menu,
  po-navbar .po-menu {
    animation: menuPositionResponsive 0.2s;
    height: 100%;
    top: 0;
  }
}

@media (min-width: 768px) {
  po-navbar + po-page-list .po-page-header,
  po-navbar + po-page-detail .po-page-header,
  po-navbar + po-page-edit .po-page-header,
  po-navbar + po-page-default .po-page-header {
    margin-top: 56px;
  }
}

@media print {
  .po-navbar ~ po-menu,
  .po-navbar {
    display: none;
  }
}
