.po-tree-view-item {
  list-style-type: none;
  padding: 15.5px;
  background-color: var(--background-color);
}

.po-tree-view > .po-tree-view-item:not(:last-child) {
  border-bottom: 1px solid var(--divider-color);
}

po-tree-view .po-tree-view-item-group .po-tree-view-item {
  padding: 0;
}
