.po-tree-view-item {
  list-style-type: none;
  background-color: var(--background-color);
}

po-tree-view .po-divider {
  margin-bottom: 0;
  padding: 0;

  --color-line: var(
    --color-tree-view-item-border-bottom-color,
    var(--divider-color, var(--po-contrast-from-light-20, var(--color-neutral-mid-40)))
  );
}
