.po-dynamic {
  display: grid;
  width: 100%;
}

.po-dynamic-container {
  display: grid;
  gap: var(--gap, var(--po-density-gap-spacing, var(--default-spacing-xs, var(--spacing-md))));
  width: 100%;

  --font-family-dynamic: var(--font-family);
  --font-size-dynamic: var(--font-size);
  --font-weight-dynamic: var(--line-weight);
  --line-height-dynamic: var(--line-height);
  --letter-spacing-dynamic: var(--letter-spacing);
  --text-color-dynamic: var(--text-color);
  --margin-dynamic: var(--margin);
}

.po-dynamic-container po-container {
  --font-family: var(--font-family-dynamic);
  --font-size: var(--font-size-dynamic);
  --font-weight: var(--line-weight-dynamic);
  --line-height: var(--line-height-dynamic);
  --letter-spacing: var(--letter-spacing-dynamic);
  --text-color: var(--text-color-dynamic);
  --margin: var(--margin-dynamic);
}

.po-dynamic-container .po-container .po-container-content {
  padding: var(--po-density-content-padding, var(--default-spacing-xs, var(--spacing-md)));
}

[data-a11y='AA'] po-dynamic-view[p-components-size='small'] .po-dynamic-view po-tag .po-tag-container {
  gap: var(--spacing-xxs);
}
