.po-checkbox {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--color-checkbox-background-color, var(--color-unchecked));
  border-color: var(--color-checkbox-border-input, var(--border-color));
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
  position: relative;
  font-family: PoIcon !important;
  align-self: flex-start;
}

[p-size='large'] .po-checkbox {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

.po-checkbox:hover {
  border-color: var(--color-checkbox-border-input-active, var(--color-hover));
  box-shadow: 0 0 0 4px var(--color-checkbox-hover-active, var(--shadow-color-hover));
}

[aria-disabled='true'].po-checkbox:focus {
  outline: none;
}

.po-checkbox-outline:is(:focus, :focus-visible) {
  outline-color: var(--color-checkbox-box-shadow-color-focusable, var(--outline-color-focused));

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-checkbox-outline {
  display: flex;
  align-items: center;
}

[aria-checked='true'].po-checkbox,
[aria-checked='mixed'].po-checkbox {
  background-color: var(--color-checkbox-background-color-active, var(--color-checked));

  border-color: transparent;
}

[aria-checked='true'].po-checkbox:hover,
[aria-checked='mixed'].po-checkbox:hover {
  background-color: var(--color-checkbox-border-input-active, var(--color-hover));
}

.po-checkbox[aria-disabled='true'] {
  background-color: var(--color-checkbox-background-color-disabled, var(--color-unchecked-disabled));
  border-color: var(--color-checkbox-border-input-disabled, var(--color-checked-disabled));

  box-shadow: none;
  cursor: not-allowed;
}

.po-checkbox[aria-checked='true'][aria-disabled='true'],
.po-checkbox[aria-checked='mixed'][aria-disabled='true'] {
  background-color: var(--color-checkbox-background-color-active-disabled, var(--color-checked-disabled));
  border-color: transparent;
}

.container-po-checkbox {
  display: flex;
  min-height: 24px;
  align-items: center;
}

.po-checkbox-label {
  margin-left: 0.5rem;
  cursor: pointer;
}

.po-checkbox[aria-disabled='true'] ~ .po-checkbox-label {
  cursor: not-allowed;
}

.po-checkbox[aria-checked='true']:before {
  content: '\e93c';
  font-size: 20px;
  color: var(--color-checkbox-background-color, var(--color-unchecked));
}

.po-checkbox[aria-checked='mixed']:before {
  content: '\e939';
  font-size: 20px;
  color: var(--color-checkbox-background-color, var(--color-unchecked));
}

po-checkbox.ng-invalid.ng-dirty .po-checkbox-input + .po-checkbox-label:before {
  border: solid 1px var(--color-checkbox-border-input-invalid, var(--color-danger));
}
