.po-checkbox,
[data-a11y='AAA'] .po-checkbox-aa {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--color-unchecked);
  border-color: var(--border-color);
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
  align-self: flex-start;
}

.po-checkbox-aa {
  width: var(--spacing-sm);
  height: var(--spacing-sm);
  min-width: var(--spacing-sm);
  min-height: var(--spacing-sm);
  margin: 0.125rem 0;
}

.po-checkbox-large {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  min-width: var(--spacing-lg);
  min-height: var(--spacing-lg);
}

.po-checkbox-poicon {
  font-family: PoIcon !important;
}

.po-checkbox-phosphor {
  font-family: Animalia !important;
}

.po-checkbox:hover {
  border-color: var(--color-hover);
  box-shadow: 0 0 0 4px var(--shadow-color-hover);
}

[aria-disabled='true'].po-checkbox:focus {
  outline: none;
}

.po-checkbox-outline:is(:focus) {
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-checkbox-outline:is(:focus-visible) {
  outline-width: var(--outline-width-focus-visible);
}

.po-checkbox-outline {
  display: flex;
  min-width: 0;
}

[aria-checked='true'].po-checkbox,
[aria-checked='mixed'].po-checkbox {
  background-color: var(--color-checked);
  border-color: transparent;
}

[aria-checked='true'].po-checkbox:hover,
[aria-checked='mixed'].po-checkbox:hover {
  background-color: var(--color-hover);
}

.po-checkbox[aria-disabled='true'] {
  background-color: var(--color-unchecked-disabled);
  border-color: var(--color-checked-disabled);

  box-shadow: none;
  cursor: not-allowed;
}

.po-checkbox[aria-checked='true'][aria-disabled='true'],
.po-checkbox[aria-checked='mixed'][aria-disabled='true'] {
  background-color: var(--color-checked-disabled);
  border-color: transparent;
}

.container-po-checkbox {
  display: flex;
  min-height: 16px;
  align-items: center;
}

.po-checkbox-label {
  margin-left: 0.5rem;
  cursor: pointer;
}

.po-checkbox-label:focus {
  outline: none;
}

.po-checkbox[aria-disabled='true'] ~ .po-checkbox-label {
  cursor: not-allowed;
}

.po-checkbox[aria-checked='true']:before {
  font-size: 20px;
  color: var(--color-unchecked);
}

.po-checkbox-poicon[aria-checked='true']:before {
  content: '\e93c';
}

.po-checkbox-phosphor[aria-checked='true']:before {
  content: '\e182';
  font-size: var(--font-size-default);
}

.po-checkbox[aria-checked='mixed']:before {
  font-size: 20px;
  color: var(--color-unchecked);
}

.po-checkbox-poicon[aria-checked='mixed']:before {
  content: '\e939';
}

.po-checkbox-phosphor[aria-checked='mixed']:before {
  content: '\e32a';
  font-size: var(--font-size-default);
}

.po-checkbox-label > label.po-label,
[data-a11y='AAA'] .po-checkbox-label-aa > label.po-label {
  font-size: var(--font-size-default);
  line-height: var(--line-height-md);
}

.po-checkbox-label-aa > label.po-label {
  font-size: var(--font-size-sm);
}

.po-checkbox-label > label.po-label:not(.po-label-disabled) {
  color: var(--color-brand-01-darker);
  cursor: pointer;
}

.po-checkbox-label > label.po-label:not(.po-label-disabled):hover {
  color: var(--color-brand-01-darkest);
}

po-checkbox.ng-invalid.ng-dirty .po-checkbox-input + .po-checkbox-label:before {
  border: solid 1px var(--color-feedback-negative-base);
}

po-checkbox .po-checkbox-helper {
  padding: 0 0.5rem;
}

po-checkbox po-label.po-checkbox-label {
  min-width: 4ch;
  overflow: hidden;
  align-items: center;
}
