:root {
  --font-table-column-manager-text: {
    @apply --font-text-large;
  }
}

.po-table-column-manager-header {
  border-bottom: 1px solid var(--color-table-column-manager-border-color);
  display: table;
  height: 44px;
  width: 100%;
}

.po-table-column-manager-header-title,
.po-table-column-manager-header-close {
  display: table-cell;
  vertical-align: middle;
}

.po-table-column-manager-header-title {
  color: var(--color-table-column-manager-header-title);
  padding: 0 16px;
}

.po-table-column-manager-header-title,
.po-table-column-manager-footer {
  @apply --font-table-column-manager-text;
}

.po-table-column-manager-header-close-button {
  background-color: transparent;
  border: none;
  color: var(--color-table-column-manager-close-button-color);
  font-size: 16px;
  margin: 4px 2px;
  padding: 6px;
}

.po-table-column-manager-header-close-button:focus {
  border-radius: 1px;
  outline: dashed 2px var(--color-table-column-manager-outline-color-focus);
}

.po-table-column-manager-body {
  overflow-y: auto;
  display: grid;
}

.po-table-column-manager-footer {
  border-top: 1px solid var(--color-table-column-manager-border-color);
  height: 56px;
  position: relative;
}

.po-table-column-manager-footer-restore {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.po-table-column-manager-footer-restore .po-button:focus {
  border-radius: 1px;
  outline: dashed 2px var(--color-table-column-manager-outline-color-focus);
}

.po-container-arrows-columns-manager {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.po-container-icons-arrows-columns-manager {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.po-table-list-manager-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.po-table-list-manager-container {
  list-style-type: none;
}

.po-table-list-manager-item .po-checkbox-outline {
  padding: 6px 0;
  margin: 4px 0;
}

.po-container-icons-arrows-columns-manager .po-button {
  margin: 0;
  padding: 0;
}

.po-checkbox-group-column-manager .po-checkbox-group-item {
  padding: 0 2rem 2rem 0 !important;
}
