<article>
  <section>
    <div class="po-row">
      <div class="po-md-6">
        <ul class="po-timeline po-timeline-compact">
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-primary"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Timeline Compact</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-right">
            <div class="po-timeline-badge po-color-secondary"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-warning"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien mi, commodo sit amet purus at.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="po-md-6">
        <ul class="po-timeline po-timeline-full">
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-primary"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Timeline Full</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-right">
            <div class="po-timeline-badge po-color-secondary"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-warning"></div>
            <div class="po-timeline-panel">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien mi, commodo sit amet purus at.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="po-row">
      <div class="po-md-6">
        <ul class="po-timeline po-timeline-compact">
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-primary">
              <i class="po-icon po-icon po-icon po-icon-bar-code"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Timeline Compact</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-right">
            <div class="po-timeline-badge po-color-secondary">
              <i class="po-icon po-icon po-icon-basket"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-warning">
              <i class="po-icon po-icon-camera"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien mi, commodo sit amet purus at.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="po-md-6">
        <ul class="po-timeline po-timeline-full">
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-primary">
              <i class="po-icon po-icon po-icon po-icon-bar-code"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Timeline Full</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-right">
            <div class="po-timeline-badge po-color-secondary">
              <i class="po-icon po-icon po-icon-basket"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui quis diam tempor pharetra.
                  Maecenas porta vulputate elit quis ornare. Aenean non augue ut nulla ultricies ultricies id id nibh.
                  Quisque diam purus, pretium dignissim elit eget, aliquet rhoncus enim. Proin at vehicula metus. Nam
                  congue nunc purus, quis mollis purus pellentesque eu. Nulla facilisi. Nullam suscipit metus non orci
                  cursus, quis mollis nisi fringilla. Nulla ac sodales nibh, quis pulvinar nunc.
                </p>
              </div>
            </div>
          </li>
          <li class="po-timeline-left">
            <div class="po-timeline-badge po-color-warning">
              <i class="po-icon po-icon-camera"></i>
            </div>
            <div class="po-timeline-panel po-timeline-panel-clickable">
              <div class="po-timeline-heading">
                <h4 class="po-font-text-large-bold">Title</h4>
              </div>
              <div class="po-timeline-body po-font-text-small">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien mi, commodo sit amet purus at.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>
