.po-color-01 {
  background-color: var(--color-01);
  fill: var(--color-01);
}

.po-color-02 {
  background-color: var(--color-02);
  fill: var(--color-02);
}

.po-color-03 {
  background-color: var(--color-03);
  fill: var(--color-03);
}

.po-color-04 {
  background-color: var(--color-04);
  fill: var(--color-04);
}

.po-color-05 {
  background-color: var(--color-05);
  fill: var(--color-05);
}

.po-color-06 {
  background-color: var(--color-06);
  fill: var(--color-06);
}

.po-color-07 {
  background-color: var(--color-07);
  fill: var(--color-07);
}

.po-color-08 {
  background-color: var(--color-08);
  fill: var(--color-08);
}

.po-color-09 {
  background-color: var(--color-09);
  fill: var(--color-09);
}

.po-color-10 {
  background-color: var(--color-10);
  fill: var(--color-10);
}

.po-color-11 {
  background-color: var(--color-11);
  fill: var(--color-11);
}

.po-color-12 {
  background-color: var(--color-12);
  fill: var(--color-12);
}

.po-text-color-01 {
  color: var(--color-01) !important;
}

.po-text-color-02 {
  color: var(--color-02) !important;
}

.po-text-color-03 {
  color: var(--color-03) !important;
}

.po-text-color-04 {
  color: var(--color-04) !important;
}

.po-text-color-05 {
  color: var(--color-05) !important;
}

.po-text-color-06 {
  color: var(--color-06) !important;
}

.po-text-color-07 {
  color: var(--color-07) !important;
}

.po-text-color-08 {
  color: var(--color-08) !important;
}

.po-text-color-09 {
  color: var(--color-09) !important;
}

.po-text-color-10 {
  color: var(--color-10) !important;
}

.po-text-color-11 {
  color: var(--color-11) !important;
}

.po-text-color-12 {
  color: var(--color-12) !important;
}

.po-border-color-01 {
  border-color: var(--color-01);
  stroke: var(--color-01);
}

.po-border-color-02 {
  border-color: var(--color-02);
  stroke: var(--color-02);
}

.po-border-color-03 {
  border-color: var(--color-03);
  stroke: var(--color-03);
}

.po-border-color-04 {
  border-color: var(--color-04);
  stroke: var(--color-04);
}

.po-border-color-05 {
  border-color: var(--color-05);
  stroke: var(--color-05);
}

.po-border-color-06 {
  border-color: var(--color-06);
  stroke: var(--color-06);
}

.po-border-color-07 {
  border-color: var(--color-07);
  stroke: var(--color-07);
}

.po-border-color-08 {
  border-color: var(--color-08);
  stroke: var(--color-08);
}

.po-border-color-09 {
  border-color: var(--color-09);
  stroke: var(--color-09);
}

.po-border-color-10 {
  border-color: var(--color-10);
  stroke: var(--color-10);
}

.po-border-color-11 {
  border-color: var(--color-11);
  stroke: var(--color-11);
}

.po-border-color-12 {
  border-color: var(--color-12);
  stroke: var(--color-12);
}
