.po-menu-filter-container {
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
  position: relative;
}

.po-menu-filter-icon {
  color: var(--color-icon-read);
  cursor: default;
  text-align: center;
  text-decoration: none;
}

.po-menu-filter-icon > i {
  line-height: 33px;
}

.po-menu-filter-search-icon-container {
  left: 16px;
  width: 2.75em;
  height: 2.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-menu-filter-search-icon-container .po-loading-icon {
  height: 16px;
  left: 0px;
  width: 16px;
}

.po-menu-filter-search-icon-container .po-loading-icon-container svg {
  color: var(--color-icon-read);
}

.po-menu-filter {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  border-color: var(--color);
  border-radius: var(--border-radius);
  background-color: var(--background);

  font-weight: var(--font-weight-normal);
  border-width: var(--border-width-sm);
  border-style: solid;
  min-height: 2.75em;

  padding: 0 44px;
  width: 100%;
}

.po-menu-filter::placeholder {
  color: var(--color-input-text-placeholder, var(--text-color-placeholder));
}

/* Desabilita o clean field e o reveal do IE 10+ */
.po-menu-filter::-ms-clear,
.po-menu-filter::-ms-reveal {
  display: none;
}

.po-menu-filter:focus {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-menu-filter:hover {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-menu-filter-close-icon-container {
  right: 16px;
  width: 2.75em;
  height: 2.75em;
  display: flex;
  justify-content: center;
  align-items: center;

  i.po-field-icon {
    color: var(--color-clear);
  }
}

.po-menu-filter-close-icon-container,
.po-menu-filter-search-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .po-icon {
    font-size: 1.5rem;
  }
}

.po-menu-filter-search-icon-container .po-loading-icon-container {
  transform: translateY(10%);
}

.po-menu-filter-container-hidden {
  padding-inline: var(--spacing-xs);
  visibility: hidden;
}
