:root {
  --font-page-list-link-text: {
    @apply --font-text-bold;
  }

  --font-page-list-link-text-smaller: {
    @apply --font-text-small-bold;
  }

  --filter-content-width: 232px;
  --filter-content-width-smaller: 224px;

  --filter-search-width: 80px;
  --filter-search-width-smaller: 72px;

  --filter-container-padding: 16px;
  --filter-container-padding-smaller: 8px;

  --filter-container: calc(var(--filter-content-width) + var(--filter-search-width) + var(--filter-container-padding));
  --filter-container-smaller: calc(
    var(--filter-content-width-smaller) + var(--filter-search-width-smaller) + var(--filter-container-padding-smaller)
  );

  --filter-input-variable-size: calc(100% - (var(--filter-search-width)));
  --filter-input-variable-size-smaller: calc(100% - (var(--filter-search-width-smaller)));
}

.po-page-list-actions {
  width: 100%;
  z-index: 1;
  padding-top: 8px;
}

.po-page-list-actions .po-button,
.po-page-list-actions .po-dropdown {
  margin-right: 4px;
}

.po-page-list-filter-wrapper {
  display: inline-flex;
  float: right;
  margin-top: -44px;
}

.po-page-filter-content {
  padding: 0px;
}

.po-page-list-filter-search {
  height: 44px;
  line-height: 0;
  max-width: var(--filter-search-width);
  padding-left: 14px;
  position: relative;
  width: var(--filter-search-width);
}

.po-page-list-filter-search-link {
  @apply --font-page-list-link-text;
  color: var(--color-page-list-color-link-text);
  cursor: pointer;
  text-decoration: none;
}

.po-page-list-disclaimer-group {
  display: block;
  margin-top: 8px;
}

.po-page-filter-content {
  display: inline-block;
  width: var(--filter-content-width);
}

.po-page-filter-input-variable-size {
  width: var(--filter-input-variable-size);
}

.po-page-filter-input-variable-size-wo-adv-search {
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .po-page-list-actions.po-page-list-actions-padding,
  .po-page-list-header-padding .po-page-header-title {
    width: calc(100% - (var(--filter-container-smaller)));
  }

  .po-page-list-header-padding .po-page-header-title {
    display: block;
  }

  .po-page-filter-content {
    width: var(--filter-content-width-smaller);
  }

  .po-page-filter-input-variable-size {
    width: var(--filter-input-variable-size-smaller);
  }

  .po-page-filter-input-variable-size-wo-adv-search {
    width: 100%;
  }

  .po-page-list-filter-wrapper {
    margin-top: -32px;
  }

  .po-page-list-actions .po-button,
  .po-page-list-actions .po-dropdown {
    margin-right: -2px;
  }

  .po-page-list-filter-search {
    height: 32px;
    line-height: 0;
    max-width: var(--filter-search-width-smaller);
    padding-left: 6px;
    width: var(--filter-search-width-smaller);
  }

  .po-page-list-filter-search-link {
    @apply --font-page-list-link-text-smaller;
    max-height: 32px;
  }
}

@media (max-width: 480px) {
  .po-page-list-actions,
  .po-page-list-actions .po-button,
  .po-page-list-actions .po-dropdown,
  .po-page-list-actions.po-page-list-actions-padding,
  .po-page-list-filter-wrapper,
  .po-page-list-header-padding .po-page-header-title,
  .po-page-list-operations {
    width: 100%;
  }

  .po-page-list-actions {
    margin-bottom: 40px;
  }

  .po-page-list-disclaimer-group {
    margin-top: 48px;
  }

  .po-page-filter-content {
    width: calc(100% - (var(--filter-search-width-smaller) + var(--filter-container-padding-smaller)));
  }

  .po-page-filter-input-variable-size {
    width: 100%;
  }

  .po-page-filter-input-variable-size-wo-adv-search {
    width: 100%;
  }
}
