:root {
  --font-table-text: {
    @apply --font-text;
  }

  --font-table-text-bold: {
    @apply --font-text-bold;
  }

  --text-table-text-smaller: {
    @apply --font-text-smaller;
  }

  --font-table-text-subtitle-footer: {
    @apply --font-text-small;
  }
}

.po-table,
.po-table-master-detail {
  border-collapse: separate;
  border-color: transparent;
  border-spacing: 0;
  width: 100%;
  position: relative;
}

.po-table > thead.po-table-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table {
  width: 100%;
}

.po-table thead tr th,
.po-table .po-table-master-detail thead tr th {
  background-color: var(--background-color-headline);
  color: var(--color-table-color-header, var(--color));
}

.po-table thead tr th,
.po-table-master-detail thead tr th {
  font-family: var(--font-family);
  font-weight: var(--font-weight-headline);

  line-height: var(--line-height-md);
  font-size: var(--font-size-default);

  padding-block: 0.75rem;
  padding-inline: var(--spacing-sm);

  white-space: nowrap;
  overflow: hidden;
}

.po-table thead tr th.po-table-header-sorted {
  background-color: var(--background-color-selected);
}

.po-table.po-table-interactive thead tr th:hover {
  background-color: var(--background-color-hover);
  color: var(--color-hover);
}

.po-table-master-detail thead tr th {
  padding-block: var(--spacing-xs);
}

.po-table tbody:not(:last-child) tr td,
.po-table .po-table-master-detail tbody tr:not(:last-child) td {
  border-bottom: solid;
  border-bottom-color: var(--color-table-border-rows, var(--color-line));
  border-bottom-width: var(--border-width-sm);
}

.po-table.po-table-striped tbody tr td,
.po-table.po-table-striped .po-table-master-detail tbody tr td {
  border-bottom: none;
}

.po-table tbody tr td {
  background-color: var(--background-color);
}

.po-table tbody tr td {
  font-family: var(--font-family);

  padding-inline: var(--spacing-sm);

  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  font-size: var(--font-size-default);

  color: var(--color-table-color-text, var(--color));
  white-space: nowrap;

  overflow: hidden;
}

.po-table tbody tr td.po-table-column-detail {
  padding: 0;
}

.po-table tbody tr td.po-table-no-data span {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: center;
}

.po-table-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-block: var(--spacing-xs);
  gap: var(--spacing-xs);
  width: 100%;
}

.po-table-actions-center {
  align-items: center;
  justify-content: center;
}

.po-table-actions-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.po-table-actions:empty {
  padding: 0;
}

.po-table-actions-batch-actions {
  align-items: center;
  display: flex;
  gap: var(--spacing-2xl);
  margin-right: auto;
}

.po-table-actions-batch-actions po-button .po-icon,
.po-table-actions-column-manager po-button .po-icon {
  font-size: 1.5rem;
}

.po-table-selectable thead tr th:hover {
  background-color: var(--background-color-selected);
}

.po-table-main-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.po-table-container-relative {
  position: relative;
}

.po-table-overlay {
  background-color: var(--color-table-background-color-overlay, var(--color-overlay));
  border-radius: 3px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.po-table-search {
  width: 256px;
}

.po-table-overlay-content {
  background-color: var(--color-table-background-color-overlay-content);
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 var(--color-table-box-shadow-overlay-content);
  height: 90%;
  left: 50%;
  max-height: 104px;
  max-width: 200px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.po-table-overlay-content .po-loading {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}

.po-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.po-table-container-fixed-inner {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.po-table .po-table-row-active td {
  background-color: var(--color-table-background-color-selected, var(--background-color-selected));
}

.po-table .po-table-row-active td {
  color: var(--color-actived);
}

.po-table.po-table-striped > tbody:nth-child(odd) tr:first-child:not(.po-table-row-active) td,
.po-table.po-table-striped .po-table-master-detail > tbody tr:nth-child(odd):not(.po-table-row-active) td {
  background-color: var(--color-table-background-color-row-strip, var(--background-striped-color));
}

.po-table .po-table-column-right {
  text-align: right;
}

.po-table .po-table-column-center {
  text-align: center;
}

.po-table .po-table-column-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.po-table-header-single-action {
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}

.po-table .po-table-column-single-action {
  text-align: center;
  word-break: break-all;
}

.po-table .po-table-single-action {
  color: var(--color-table-color-actions, var(--color));
  text-decoration: underline;
  font-weight: bold;
}

.po-table .po-table-single-action:not(.po-table-action-disabled):hover {
  color: var(--color-table-color-single-action-hover);
  text-decoration: none;
}

.po-table .po-table-action-disabled,
.po-table .po-table-icon-disabled {
  color: var(--color-table-color-disabled, var(--color-disabled));
  cursor: not-allowed !important;
}

.po-table-column-actions {
  color: var(--color-table-color-header, var(--color));
  cursor: default;
  max-width: 56px;
  min-width: 56px;
  position: relative;
  text-align: center;
  width: 56px;
}

.po-table-column-actions .po-icon.po-icon-more {
  color: var(--color-table-color-header, var(--color));
  display: block;
  font-size: 1.5rem;
}

.po-table-column-icons {
  min-width: 56px;
  width: 56px;
}

.po-table-column-icons po-table-column-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

.po-table-column-icons .po-icon,
.po-table-column-icons .po-fonts-icon,
.po-table-icon-content > :first-child:not(.po-fonts-icon):not(.po-icon) {
  font-size: 1.5rem;
}

.po-table-icon-content > :first-child:not(.po-fonts-icon):not(.po-icon) {
  line-height: 1.6;
}

.po-table-footer {
  @apply --font-table-text;
  border-top: 2px solid var(--color-table-box-shadow-footer, var(--color-line));
}

.po-table-subtitle-footer-container {
  display: block;
  height: 42px;
  max-height: 42px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.po-container .po-table-group-row:last-child .po-table-row + tr:not(.po-table-row) .po-table-column-detail {
  border-bottom: none;
  border-top: 1px solid var(--color-table-border-rows);
}

.po-container .po-table .po-table-group-row:last-child .po-table-row {
  border-bottom: none;
}

.po-table-footer-show-subtitle {
  background-color: var(--color-table-background-color-footer-show-subtitle);
  border-left: solid 1px var(--color-table-border-footer-show-subtitle);
  cursor: pointer;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
  width: 188px;
}

.po-table-footer-show-subtitle-container {
  text-align: center;
}

.po-table-show-subtitle {
  @apply --font-table-text-bold;
  color: var(--color-table-color-footer-show-subtitle);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 188px;
}

.po-table-footer-show-more {
  padding: 16px 0;
}

.po-table-column-subtitle {
  text-align: center;
}

.po-table-subtitle-circle,
.po-table-column-label {
  @apply --text-table-text-smaller;
  color: var(--color-table-color-subtitle-text);
  height: 20px;
  line-height: 16px;
}

.po-table-subtitle-circle {
  border-radius: 14px;
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 20px;
}

.po-table-column-label {
  border-radius: 3px;
  color: var(--color-white);
  display: inline-block;
  min-width: 20px;
  overflow-y: hidden;
  padding: 2px 8px;
  text-align: left;
  vertical-align: middle;
  width: auto;
}

.po-table-subtitle-text {
  padding-left: 8px;
}

.po-table-header-subtitle {
  max-width: 80px;
  min-width: 80px;
  width: 80px;
}

.po-table-subtitle-footer,
.po-table-subtitle-footer-modal {
  @apply --font-table-text-subtitle-footer;
  display: inline-table;
  margin-top: 12px;
}

.po-table-subtitle-footer {
  padding: 0 8px 0 16px;
}

.po-table-subtitle-footer-modal:first-child {
  margin-top: 0;
}

/* table sort icons */
.po-table-icon-header {
  background-size: 16px 16px;
  display: inline-flex;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 16px;
}

.po-table-header-ellipsis {
  overflow: hidden;
}

.po-table-header-ellipsis,
.po-table-body-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.po-table-body-ellipsis {
  max-width: 100%;
}

.po-table-header-flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.po-table-header-flex-right {
  justify-content: flex-end;
}

.po-table-header-flex-center {
  justify-content: center;
}

.po-table-header-icon-ascending,
.po-table-header-icon-descending,
.po-table-header-icon-unselected {
  display: inline-flex;
}

.po-table-header-icon-ascending svg path,
.po-table-header-icon-descending svg path,
.po-table-header-icon-unselected svg path {
  fill: var(--color);
}

.po-table.po-table-interactive thead tr th:hover .po-table-header-icon-ascending svg path,
.po-table.po-table-interactive thead tr th:hover .po-table-header-icon-descending svg path,
.po-table.po-table-interactive thead tr th:hover .po-table-header-icon-unselected svg path {
  fill: var(--color-hover);
}

.po-table .po-table-column-selectable {
  max-width: 56px;
  min-width: 56px;
  width: 56px;

  line-height: 0;
}

.po-table-striped,
.po-table-striped .po-table-master-detail .po-table-detail-row:nth-child(even) tr td {
  background-color: var(--color-table-background-color-row-strip, var(--background-striped-color));
}

.po-table-column-master-detail-space-checkbox {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
}

.po-table-column-detail-toggle {
  text-align: center;
}

.po-table-header-master-detail,
.po-table-column-detail-toggle {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
}

.po-table-header-master-detail {
  pointer-events: none;
}

.po-table-column-detail-toggle .po-icon-arrow-down,
.po-table-column-detail-toggle .po-icon-arrow-up {
  color: var(--color-table-color-header, var(--color));
  display: block;
  font-size: 1.5rem;
}

.po-table-header-column-manager,
.po-table-header-single-action {
  text-align: center;
  pointer-events: none;
}

.po-table-header-column-manager div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.po-table-header-column-manager,
.po-table-header-actions {
  pointer-events: none;
  max-width: 56px;
  min-width: 56px;
  width: 56px;
}

.po-table-header-column-manager-button {
  background-color: transparent;
  border: none;
  color: var(--color-table-color-header, var(--color));
  font-size: 1.5rem;
}

.po-table-header-column-manager-button:enabled:active {
  outline: none;
}

.po-table-header-column-manager-button:focus {
  border-radius: 1px;
  outline: dashed 2px var(--color-table-column-manager-outline-color-focus);
}

.po-table-header-column-manager-fixed-inner {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
}

.po-table-header-column-manager-border {
  border-left: 1px solid var(--color-table-column-manager-border-color);
}

.po-table-subtitle-footer {
  margin-top: 0;
  padding: 6px 8px;
}

.po-table-footer-show-subtitle,
.po-table-subtitle-footer-container {
  height: 30px;
}

.po-table-subtitle-footer-container {
  max-height: 30px;
}

.po-table-show-subtitle,
.po-table-footer-show-subtitle {
  width: 172px;
}

.po-table-footer-show-more {
  padding: 8px 0;
}

.po-table-column-drag-box svg.cdk-drag-handle,
svg.po-svg-table-fixed {
  min-width: 24px;
}

.po-table-column-drag-box svg.cdk-drag-handle {
  cursor: move;
  min-width: 24px;
}

span.po-table-header-icon-unselected svg,
span.po-table-header-icon-descending svg,
span.po-table-header-icon-ascending svg {
  cursor: pointer;
}

.po-table-column-drag-box svg circle,
.po-table-column-fixed svg path {
  fill: var(--color);
}

.po-table-column-drag-box:hover {
  background-color: var(--color-brand-01-lighter);
}

.po-table-column-drag-box:hover svg circle,
.po-table-column-fixed:hover svg path {
  fill: var(--color-hover);
}

.po-table-column-drag-box.cdk-drag-preview {
  padding-block: 0.75rem;
  padding-inline: var(--spacing-sm);
  font-family: var(--font-family);
  font-weight: var(--font-weight-headline);
  line-height: var(--line-height-md);
  font-size: var(--font-size-default);
  background-color: var(--color-brand-01-lighter);
}

.po-table-column-drag.cdk-drag-placeholder {
  opacity: 0;
}

.po-table-column-drag-box.cdk-drag-animating {
  background-color: var(--color-brand-01-lighter);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.po-table-column-drag.cdk-drop-list-dragging .po-table-column-drag-box:not(.po-table-column-drag.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.po-table-column-fixed {
  position: sticky;
  box-shadow: rgba(29, 36, 38, 0.25) 3px 0px 2.6px;
}

.po-table[p-spacing='small'] tbody tr td:not(.po-table-column-detail) {
  padding-block: var(--spacing-xs);
}

.po-table[p-spacing='medium'] tbody tr td:not(.po-table-column-detail) {
  padding-block: 0.75rem;
}

.po-table[p-spacing='large'] tbody tr td:not(.po-table-column-detail) {
  padding-block: var(--spacing-sm);
}

@media print {
  .po-table-container {
    height: 100% !important;
  }

  .po-table-footer-show-subtitle {
    display: none;
  }

  .po-table-subtitle-footer-container {
    height: 100%;
    max-height: 100%;
  }

  .po-table-subtitle-circle,
  .po-table-column-label {
    print-color-adjust: exact;
  }
}
