.po-widget,
.po-widget-primary {
  font-family: var(--font-family);

  background-size: cover;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-style: solid;
  display: inline-block;
  width: 100%;

  &:focus-visible {
    outline-color: var(--outline-color-focused);
    outline-width: var(--outline-width);
    outline-style: solid;
    outline-offset: 2px;
    border-color: var(--color-focused);
  }
}

.po-widget {
  background-color: var(--background);
}

.po-widget-primary {
  background-color: var(--color-widget-primary-background-color);
}

.po-widget-no-shadow {
  box-shadow: none;
}

.po-widget-sm {
  width: 25%;
}

.po-widget-md {
  width: 50%;
}

.po-widget-lg {
  width: 75%;
}

.po-widget-xl {
  width: 100%;
}

.po-widget-header,
.po-widget-primary .po-widget-header {
  height: auto;
  font-weight: var(--font-weight, var(--font-weight-bold));
  text-align: left;
}

.po-widget-header,
.po-widget-body {
  color: var(--color-widget-color-default, var(--font-color));
}

.po-widget-header {
  padding: var(
    --padding-header,
    var(--padding, var(--spacing-sm) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm))
  );
}

.po-widget-body {
  font-size: var(--font-size);
}

[data-default-size='small'][data-a11y='AA'] .po-widget-body {
  font-size: var(--font-size, var(--font-size-sm));
}

.po-widget-primary .po-widget-header,
.po-widget-primary .po-widget-body,
.po-widget-primary .po-widget-action {
  color: var(--color-widget-color-widget-primary);
}

.po-widget-title-action {
  cursor: pointer;
}

.po-widget .po-widget-title-action {
  color: var(--color-widget-color-title-action);
}

.po-widget-primary .po-widget-title-action {
  text-decoration: underline;
}

.po-widget-footer {
  display: inline-flex;
  height: auto;
  text-align: center;
  width: 100%;
  gap: var(--spacing-xs);
  align-items: end;
  padding: var(
    --padding-footer,
    var(--padding, var(--spacing-xs) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm))
  );
}

.po-widget-container-space-top {
  padding-top: var(--spacing-sm);
}

.po-widget-container-space-bottom {
  padding-bottom: var(--spacing-sm);
}

.po-widget:not(.po-widget-disabled).po-clickable:hover,
.po-widget-primary:not(.po-widget-disabled).po-clickable:hover {
  border-color: var(--border-color-hover);
}

.po-widget:not(.po-widget-disabled):not(.po-widget-primary).po-clickable:hover {
  background-color: var(--color-neutral-light-00);
}

.po-widget:not(.po-widget-disabled).po-clickable:not(.po-widget-no-shadow):hover,
.po-widget-primary:not(.po-widget-disabled).po-clickable:not(.po-widget-no-shadow):hover {
  box-shadow: var(--shadow-hover);
}

.po-widget.po-clickable:not(.po-widget-primary):not(.po-widget-no-shadow) {
  background-color: var(--color-neutral-light-00);
}

.po-widget.po-clickable:not(.po-widget-no-shadow),
.po-widget-primary.po-clickable:not(.po-widget-no-shadow) {
  box-shadow: var(--shadow);
  border-color: var(--color-neutral-light-20);
}

.po-widget:not(.po-widget-disabled):not(.po-widget-primary).po-clickable:active {
  background-color: var(--color-brand-01-lightest);
  border-color: var(--border-color-selected);
}

.po-widget-action-container {
  display: inline-flex;
  text-align: center;
}

.po-widget .po-widget-action,
.po-widget-primary .po-widget-action {
  display: block;
  padding: var(--padding);
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.po-widget .po-widget-action {
  color: var(--color-widget-color-action);

  &:hover {
    color: var(--color-widget-color-action-hover);
  }

  &:active {
    color: var(--color-widget-color-action-active);
  }
}

.po-widget-disabled {
  background-color: var(--color-widget-background-color-disabled) !important;
}

.po-widget-disabled,
.po-widget-disabled .po-widget-header,
.po-widget-disabled .po-widget-body,
.po-widget-disabled .po-widget-action,
.po-widget-disabled .po-widget-action:hover,
.po-widget-disabled .po-clickable,
.po-widget-disabled .po-widget-title-action,
.po-widget-disabled .po-widget-primary {
  color: var(--color-widget-color-disabled) !important;
  cursor: not-allowed !important;
}

.po-widget-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  flex-shrink: 1;
  font-size: var(--font-size, var(--font-size-default));
}

.po-widget-wrapper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
}

.po-widget-wrapper-info > div:last-child {
  align-self: flex-start;
}

.po-widget-wrapper-tag {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  flex: 1;
  min-width: 0;
  justify-content: space-between;
}

.po-widget-button-wrapper {
  display: flex;
  align-items: self-start;
}

.po-widget-actions,
.po-widget-actions > .po-button {
  width: 100%;
}

.po-header-content-fallback {
  visibility: hidden;
}

po-widget .po-container-content:not(.po-widget-body .po-container-content):first-of-type {
  padding: var(--padding-body, var(--padding, var(--spacing-xs) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm)));
}
