.po-search {
  align-items: center;
  display: inline-flex;
  position: relative;
  width: 100%;
}

.po-search .po-search-icon {
  padding-inline: var(--spacing-xs);
  color: var(--color-icon-read);
  align-items: center;
  align-self: stretch;
  display: flex;
  font-size: var(--font-size-lg);
  height: 100%;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-icon {
  font-size: var(--font-size-default);
}

.po-search .po-search-input {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  color: var(--text-color);
  border-color: var(--color);
  border-radius: var(--border-radius);
  background-color: var(--background);

  font-weight: var(--font-weight-normal);
  border-width: var(--border-width-sm);
  border-style: solid;

  min-height: var(--target-size-aaa);

  align-self: stretch;
  appearance: none;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding-left: var(--target-size-aaa);
  padding-right: var(--spacing-xs);
  text-overflow: ellipsis;
  width: 100%;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}

.po-search.po-search-locate .po-search-input {
  min-width: 15rem;
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-input {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
  padding-left: calc(var(--focus-aa) + var(--target-size-aa));
}

.po-search .po-search-input.po-search-input-clean {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aaa));
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-input.po-search-input-clean {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aa));
}

.po-search .po-search-input.po-search-input-trigger {
  padding-left: var(--spacing-xs);
  padding-right: calc(var(--spacing-xs) + var(--target-size-aaa));
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-input.po-search-input-trigger {
  padding-left: var(--spacing-xs);
  padding-right: calc(var(--spacing-xs) + var(--target-size-aa));
}

.po-search
  .po-search-input.po-search-input-trigger:focus
  ~ .po-search-buttons
  .po-search-button.po-search-button-trigger {
  border-left-color: var(--color-focused);
}

.po-search
  .po-search-input.po-search-input-trigger:hover
  ~ .po-search-buttons
  .po-search-button.po-search-button-trigger {
  border-left-color: var(--color-hover);
}

.po-search .po-search-input.po-search-input-clean.po-search-input-trigger {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aaa) * 2);
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-input.po-search-input-clean.po-search-input-trigger {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aa) * 2);
}

.po-search .po-search-input:disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);

  color: var(--text-color);
  cursor: not-allowed;

  overflow: hidden;
  pointer-events: none;
}

.po-search-container-disabled {
  cursor: not-allowed;
}

.po-search .po-search-input:is(:focus, :focus-visible) {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-search .po-search-input:is(:focus-visible) {
  outline-width: var(--outline-width-focus-visible);
}

.po-search .po-search-input:not(:disabled):hover {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-search .po-search-input::placeholder {
  color: var(--text-color-placeholder);
}

.po-search .po-search-buttons {
  display: flex;
  position: absolute;
  inset: var(--border-width-sm);
  left: auto;
}

.po-search .po-search-button {
  background-color: transparent;
  min-width: var(--target-size-aaa);

  padding-inline: var(--spacing-xs);

  align-items: center;
  align-self: stretch;
  appearance: none;
  border: none;
  display: flex;
  font-size: var(--font-size-lg);
  height: 100%;
  justify-content: center;
}

.po-search-filter-locate .po-search-input {
  padding-right: var(--spacing-sm);
}

.po-search-filter-locate .po-search-button-clean {
  margin-left: var(--spacing-xs);
}

[data-a11y='AA'] .po-search.po-search-filter-locate[p-size='small'] .po-search-button-clean {
  margin-left: var(--spacing-xs);
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-button {
  min-width: var(--target-size-aa);
  font-size: var(--font-size-default);
}

.po-search .po-search-button:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;

  z-index: 1;
}

.po-search .po-search-button:focus-visible {
  outline-width: var(--outline-width-focus-visible);
}

.po-search .po-search-button:hover {
  background-color: var(--background-hover);
  cursor: pointer;

  color: var(--color-hover);
}

.po-search .po-search-button po-clean.po-icon-input i.po-field-icon,
.po-search-buttons .po-search-button.po-search-button-clean po-icon {
  color: var(--color-clear);
}

.po-search .po-search-button:hover po-clean.po-icon-input i.po-field-icon {
  color: var(--color-hover);
}

.po-search:not([p-search-type='locate']) .po-search-button:last-child,
.po-search[p-search-type='locate'] .po-search-locate-controls .po-search-button:last-of-type {
  border-bottom-right-radius: calc(var(--border-radius) - var(--border-width-sm));
  border-top-right-radius: calc(var(--border-radius) - var(--border-width-sm));
}

.po-search .po-search-button.po-search-button-trigger {
  background-color: var(--background);
  border-left-color: var(--color);
  border-left-style: solid;
  border-left-width: var(--border-width-sm);
  color: var(--color-icon);
}

.po-search .po-search-button.po-search-button-trigger:hover {
  background-color: var(--background-hover);
  border-left-color: var(--color);
}

.po-search.po-search-disabled,
.po-search.po-search-loading {
  cursor: not-allowed;
}

.po-search.po-search-disabled *,
.po-search.po-search-loading * {
  pointer-events: none;
}

.po-search.po-search-disabled .po-search-icon *,
.po-search.po-search-disabled .po-search-buttons * {
  background-color: var(--background-disabled);
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

.po-search po-icon {
  display: inline-flex;
}

.po-search-listbox-container {
  height: auto;
  position: fixed;
  z-index: 1000;
}

.po-search .po-search-select {
  display: flex;
  position: absolute;
  inset: var(--border-width-sm);
  right: auto;
}
.po-search .po-search-select + .po-search-input {
  padding-left: calc(var(--spacing-xs) + 7.5rem);
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-select + .po-search-input {
  padding-left: calc(var(--spacing-xs) + 7.5rem);
}

.po-search .po-search-select + .po-search-icon {
  padding-inline-start: calc(var(--spacing-xs) + 7.5rem);
  pointer-events: none;
}

.po-search .po-search-select + .po-search-icon + .po-search-input {
  padding-inline-start: calc(7.5rem + var(--target-size-aaa));
}

[data-a11y='AA'] .po-search[p-size='small'] .po-search-select + .po-search-icon + .po-search-input {
  padding-inline-start: calc(7.5rem + var(--target-size-aa));
}

.po-search-filter-locate .po-search-divider {
  margin: var(--spacing-xs);
  border-width: var(--border-width-sm);
  border-style: solid;
  border-color: var(--color-neutral-mid-40);
  width: 100%;
}

.po-search-filter-locate .po-search-locate-controls {
  display: flex;
}

.po-search-locate-controls po-icon {
  color: var(--color-controls);
}

.po-search-filter-locate .po-search .po-search-input.po-search-input-clean {
  padding-right: 0;
}

.po-search-filter-locate .po-search-locate-counter {
  font-size: var(--font-size, var(--font-size-default));
  color: var(--color-neutral-mid-60);
  display: flex;
  align-items: center;
}

[data-a11y='AA'] .po-search.po-search-filter-locate[p-size='small'] .po-search-locate-counter {
  font-size: var(--font-size, var(--font-size-sm));
}

po-search po-dropdown {
  --background: var(--background-select);
  --background-hover: var(--background-select-hover);
  --background-disabled: var(--background-select-disabled);
}

po-search po-dropdown .po-dropdown {
  width: 7.5rem;
  height: 100%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
}

po-search po-dropdown .po-dropdown .po-dropdown-button-disabled {
  background-color: var(--background-disabled);
}

po-search po-dropdown .po-dropdown-button:not(.po-dropdown-button-disabled) {
  color: var(--text-color-empty);
}
po-search po-dropdown .po-dropdown-button.po-dropdown-button-disabled {
  border-right-color: var(--color-neutral-light-30);
}
po-search po-dropdown .po-dropdown-button {
  border: none;
  height: 100%;
  border-right: var(--border-width-sm) solid var(--color-neutral-light-10);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
po-search po-dropdown .po-dropdown-button > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  align-content: center;
  font-weight: var(--font-weight-normal);
}
po-search po-dropdown .po-dropdown-button:hover {
  border: none;
  background-color: var(--background-hover);
  border-right: var(--border-width-sm) solid var(--color-neutral-light-10);
}

po-search .po-search-button .po-loading-icon-container {
  display: flex;
}

.po-search.po-search-disabled.po-search-loading .po-search-icon *,
.po-search.po-search-disabled.po-search-loading .po-search-buttons * {
  color: unset;
}

.po-search.po-search-loading .po-search-button.po-search-button-trigger {
  background-color: var(--background-disabled);
  border-left-color: var(--color-disabled);
  color: var(--color-disabled);
}

.po-search.po-search-loading .po-search-icon po-icon,
.po-search.po-search-disabled.po-search-loading .po-search-icon po-icon {
  color: var(--color-disabled);
}

.po-search.po-search-loading .po-search-buttons .po-search-button-loading po-loading-icon {
  color: var(--color-action-default);
}
