.po-color-primary-light-95 {
  background-color: var(--color-primary-light-95);
}

.po-color-primary-light-80 {
  background-color: var(--color-primary-light-80);
}

.po-color-primary-alpha-50 {
  background-color: var(--color-primary-alpha-50);
}

.po-color-primary {
  background-color: var(--color-brand-02-base);
}

.po-color-primary-dark-20 {
  background-color: var(--color-primary-dark-20);
}

.po-color-primary-dark-40 {
  background-color: var(--color-primary-dark-40);
}

.po-color-secondary {
  background-color: var(--color-action-default);
}

.po-color-secondary-dark-60-alpha-70 {
  background-color: var(--color-secondary-dark-60-alpha-70);
}

.po-color-secondary-dark-60 {
  background-color: var(--color-secondary-dark-60);
}

.po-color-tertiary-light-90 {
  background-color: var(--color-tertiary-light-90);
}

.po-color-tertiary {
  background-color: var(--color-brand-03-base);
}

.po-color-white {
  background-color: var(--color-neutral-light-00);
}

.po-color-white-alpha-30 {
  background-color: var(--color-white-alpha-30);
}

.po-color-neutral-light-98 {
  background-color: var(--color-neutral-light-05);
}

.po-color-neutral-light-90 {
  background-color: var(--color-neutral-light-10);
}

.po-color-neutral-light-80 {
  background-color: var(--color-neutral-light-20);
}

.po-color-neutral-light-60 {
  background-color: var(--color-neutral-light-30);
}

.po-color-neutral-light-40 {
  background-color: var(--color-neutral-mid-40);
}

.po-color-neutral-alpha-45 {
  background-color: var(--color-neutral-alpha-45);
}

.po-color-neutral {
  background-color: var(--color-neutral-dark-70);
}

.po-color-neutral-dark-40 {
  background-color: var(--color-neutral-dark-80);
}

.po-color-neutral-dark-60 {
  background-color: var(--color-neutral-dark-90);
}

.po-color-black-alpha-10 {
  background-color: var(--color-black-alpha-10);
}

.po-color-black-alpha-15 {
  background-color: var(--color-black-alpha-15);
}

.po-color-black-alpha-30 {
  background-color: var(--color-black-alpha-30);
}

.po-color-black {
  background-color: var(--color-black);
}

.po-color-success {
  background-color: var(--color-success);
}

.po-color-warning {
  background-color: var(--color-warning);
}

.po-color-danger {
  background-color: var(--color-feedback-negative-base);
}

.po-color-transparent {
  background-color: var(--color-transparent);
}

.po-text-color-primary-light-95 {
  color: var(--color-primary-light-95) !important;
}

.po-text-color-primary-light-80 {
  color: var(--color-primary-light-80) !important;
}

.po-text-color-primary-alpha-50 {
  color: var(--color-primary-alpha-50) !important;
}

.po-text-color-primary {
  color: var(--color-brand-02-base) !important;
}

.po-text-color-primary-dark-20 {
  color: var(--color-primary-dark-20) !important;
}

.po-text-color-primary-dark-40 {
  color: var(--color-primary-dark-40) !important;
}

.po-text-color-secondary {
  color: var(--color-action-default) !important;
}

.po-text-color-secondary-dark-20 {
  color: var(--color-brand-01-dark) !important;
}

.po-text-color-secondary-dark-40 {
  color: var(--color-brand-01-darker) !important;
}

.po-text-color-secondary-dark-60-alpha-70 {
  color: var(--color-secondary-dark-60-alpha-70) !important;
}

.po-text-color-secondary-dark-60 {
  color: var(--color-secondary-dark-60) !important;
}

.po-text-color-tertiary-light-90 {
  color: var(--color-tertiary-light-90) !important;
}

.po-text-color-tertiary {
  color: var(--color-brand-03-base) !important;
}

.po-text-color-tertiary-dark-5 {
  color: var(--color-tertiary-dark-5) !important;
}

.po-text-color-tertiary-dark-40 {
  color: var(--color-tertiary-dark-40) !important;
}

.po-text-color-tertiary-dark-60 {
  color: var(--color-tertiary-dark-60) !important;
}

.po-text-color-white {
  color: var(--color-neutral-light-00) !important;
}

.po-text-color-white-alpha-30 {
  color: var(--color-white-alpha-30) !important;
}

.po-text-color-neutral-light-98 {
  color: var(--color-neutral-light-05) !important;
}

.po-text-color-neutral-light-90 {
  color: var(--color-neutral-light-10) !important;
}

.po-text-color-neutral-light-80 {
  color: var(--color-neutral-light-20) !important;
}

.po-text-color-neutral-light-60 {
  color: var(--color-neutral-light-30) !important;
}

.po-text-color-neutral-light-40 {
  color: var(--color-neutral-mid-40) !important;
}

.po-text-color-neutral-alpha-45 {
  color: var(--color-neutral-alpha-45) !important;
}

.po-text-color-neutral {
  color: var(--color-neutral-dark-70) !important;
}

.po-text-color-neutral-dark-40 {
  color: var(--color-neutral-dark-80) !important;
}

.po-text-color-neutral-dark-60 {
  color: var(--color-neutral-dark-90) !important;
}

.po-text-color-black-alpha-10 {
  color: var(--color-black-alpha-10) !important;
}

.po-text-color-black-alpha-15 {
  color: var(--color-black-alpha-15) !important;
}

.po-text-color-black-alpha-30 {
  color: var(--color-black-alpha-30) !important;
}

.po-text-color-black {
  color: var(--color-black) !important;
}

.po-text-color-success {
  color: var(--color-success) !important;
}

.po-text-color-warning {
  color: var(--color-warning) !important;
}

.po-text-color-danger-light-40 {
  color: var(--color-feedback-negative-light) !important;
}

.po-text-color-danger {
  color: var(--color-feedback-negative-base) !important;
}

.po-text-color-danger-dark-5 {
  color: var(--color-feedback-negative-dark) !important;
}

.po-text-color-danger-dark-20 {
  color: var(--color-danger-dark-20) !important;
}

.po-text-color-danger-dark-40 {
  color: var(--color-feedback-negative-darkest) !important;
}

.po-text-color-transparent {
  color: var(--color-transparent) !important;
}
