:root {
  --font-lookup-text: {
    @apply --font-text-large;
  }

  --font-lookup-link-text: {
    @apply --font-text-bold;
  }

  --advanced-search-link-width: 80px;

  --filter-content-width: 232px;
}

.po-lookup-header {
  line-height: normal;
  margin-bottom: 16px;
}

.po-lookup-loading {
  margin: auto;
}

.po-lookup-modal .po-table-wrapper {
  margin-bottom: 4px;
}

.po-lookup-container-table {
  max-width: 90vw;
  overflow: hidden;
}

.po-lookup-container-table[data-multiple='true'] {
  margin-block: var(--spacing-sm);
}

.po-lookup-filter-content {
  padding: 8px 0;
  margin-right: 6px;
  position: relative;
  display: inline-block;
  width: var(--filter-content-width);
}

.po-lookup-filter-content .po-field-icon-container-right {
  top: 50%;
}

.po-lookup-advanced-search {
  display: inline-block;
  height: 44px;
  line-height: 0;
  max-width: var(--advanced-search-link-width);
  padding-left: 16px;
  position: relative;
  top: 12px;
  width: var(--advanced-search-link-width);
}

.po-lookup-advanced-search-link {
  @apply --font-lookup-link-text;
  color: var(--color-lookup-advanced-search-link-color-text);
  cursor: pointer;
  text-decoration: none;
}

.po-lookup-input-auto {
  min-height: 44px;
  height: unset;
}

.po-lookup-input-static {
  overflow-y: hidden;
}

.po-lookup-input.po-lookup-input-auto {
  padding: 6px 44px 6px 4px;
}

.po-lookup-input-auto .po-lookup-input-disclaimer {
  display: inline-block;
  padding: 2px 4px;
}

.po-lookup-input.po-lookup-input-static {
  padding: 4px 44px 4px 4px;
}

.po-lookup-input-static .po-lookup-input-disclaimer {
  display: inline-block;
  padding: 4px;
}

.po-lookup-input-static .po-lookup-input-placeholder {
  padding: 5px 8px;
}

.po-lookup-input-disabled,
.po-lookup-input-disabled:hover {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  color: var(--text-color-disabled);
  cursor: not-allowed;
}

.po-lookup-input-disabled:focus {
  outline: none;
}
