:root {
  --font-lookup-link-text: {
    @apply --font-text-bold;
  }

  --advanced-search-link-width: 80px;
  --filter-content-width: 232px;
}

.po-lookup {
  width: 100%;
  position: relative;
  align-items: center;
  display: inline-table;
}

.po-lookup .po-search-container-wrapper {
  position: relative;
}

.po-lookup .po-lookup-input,
[data-a11y='AAA'] .po-lookup .po-lookup-input-aa {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-default));
  color: var(--text-color);
  border-color: var(--color);
  border-radius: var(--border-radius);
  background-color: var(--background);
  font-weight: var(--font-weight-normal);
  border-width: var(--border-width-sm);
  border-style: solid;
  min-height: var(--target-size-aaa);
  align-self: stretch;
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  text-overflow: ellipsis;
  width: 100%;
}

.po-lookup .po-lookup-input-aa {
  font-size: var(--font-size, var(--font-size-sm));
  min-height: var(--target-size-aa);
}

.po-lookup .po-lookup-buttons {
  display: flex;
  position: absolute;
  inset: 1px 1px 1px auto;
  transform: translateY(0);
}

.po-lookup .po-lookup-button,
[data-a11y='AAA'] .po-lookup .po-lookup-button-aa {
  background-color: var(--background);
  min-width: var(--target-size-aaa);
  padding-inline: var(--spacing-xs);
  color: var(--color-clear);
  align-items: center;
  align-self: stretch;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  display: flex;
  font-size: var(--font-size-lg);
  height: 100%;
  justify-content: center;
}

.po-lookup .po-lookup-button-aa {
  min-width: var(--target-size-aa);
  font-size: var(--font-size-default);
}

.po-lookup .po-lookup-button .po-field-icon {
  line-height: 24px;
}

.po-lookup.po-lookup-disabled,
.po-lookup.po-lookup-loading {
  cursor: not-allowed;
}

.po-lookup.po-lookup-disabled *,
.po-lookup.po-lookup-loading * {
  pointer-events: none;
}

.po-lookup .po-lookup-input.po-lookup-input-trigger,
[data-a11y='AAA'] .po-lookup .po-lookup-input.po-lookup-input-trigger-aa {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aaa));
}

.po-lookup .po-lookup-input.po-lookup-input-trigger-aa {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aa));
}

.po-lookup .po-lookup-input.po-lookup-input-trigger.po-input-double-icon-right,
[data-a11y='AAA'] .po-lookup .po-lookup-input.po-lookup-input-trigger.po-input-double-icon-right-aa {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aaa) * 2);
}

.po-lookup .po-lookup-input.po-lookup-input-trigger.po-input-double-icon-right-aa {
  padding-right: calc(var(--spacing-xs) + var(--target-size-aa) * 2);
}

.po-lookup .po-lookup-button.po-lookup-button-trigger {
  background-color: var(--background);
  border-left: none;
  color: var(--color-icon);
}

.po-lookup-button-clean,
.po-lookup-button-trigger {
  position: relative;
}

.po-lookup-button-trigger::before {
  content: '';
  position: absolute;
  height: 100%;
  width: var(--border-width-sm);
  background-color: var(--color);
  left: 0;
}

.po-lookup .po-lookup-buttons .po-lookup-button.po-lookup-button-clean:is(:focus, :focus-visible),
.po-lookup .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger:is(:focus, :focus-visible),
.po-lookup .po-lookup-input:is(:focus, :focus-visible) {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: 2px;
}

.po-lookup .po-lookup-buttons .po-lookup-button.po-lookup-button-clean:is(:focus, :focus-visible),
.po-lookup .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger:is(:focus, :focus-visible),
.po-lookup .po-lookup-input:is(:focus-visible) {
  outline-width: var(--outline-width-focus-visible);
  z-index: 1;
}

.po-lookup .po-lookup-input:not(:disabled)::placeholder {
  color: var(--text-color-placeholder);
}

.po-lookup .po-lookup-input:disabled::placeholder {
  color: var(--text-color-disabled);
}

.po-lookup .po-lookup-input:not(:disabled):hover {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
}

.po-lookup .po-lookup-input:focus ~ .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger::before {
  background-color: var(--color-focused);
}

.po-lookup .po-lookup-input:hover ~ .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger::before {
  background-color: var(--color-hover);
}

.po-lookup-buttons .po-lookup-button.po-lookup-button-clean:hover,
.po-lookup-buttons .po-lookup-button.po-lookup-button-trigger:hover {
  background-color: var(--background-hover);
  color: var(--color-hover);
  cursor: pointer;
}

.po-lookup .po-lookup-button po-clean.po-icon-input i.po-field-icon {
  color: var(--color-clear);
}

.po-lookup .po-lookup-button:hover po-clean.po-icon-input i.po-field-icon {
  color: var(--color-hover);
}

.po-lookup .po-lookup-button:last-child {
  border-bottom-right-radius: calc(var(--border-radius) - var(--border-width-sm));
  border-top-right-radius: calc(var(--border-radius) - var(--border-width-sm));
}

.po-lookup-header {
  line-height: normal;
  margin-block: var(--default-spacing-0, var(--spacing-xs) var(--spacing-sm));
}

.po-lookup-loading {
  margin: auto;
}

.po-lookup-modal .po-table-wrapper {
  margin-bottom: 4px;
}

.po-lookup-container-table {
  max-width: 90vw;
}

.po-lookup-container-table[data-multiple='true'] {
  margin-block: var(--spacing-sm);
}

.po-lookup-filter-content {
  margin-bottom: var(--spacing-xs);
  margin-right: 6px;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--filter-content-width);
}

.po-lookup-advanced-search {
  display: inline-block;
  vertical-align: middle;
  max-width: var(--advanced-search-link-width);
  padding-left: 16px;
  position: relative;
  width: var(--advanced-search-link-width);
}

.po-lookup-advanced-search-link {
  color: var(--color-lookup-advanced-search-link-color-text);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
  line-height: 1;
}

.po-lookup-input-auto {
  min-height: 44px;
  height: unset;
}

.po-lookup-input-static {
  overflow-y: hidden;
}

.po-lookup-input.po-lookup-input-auto,
.po-lookup-input.po-lookup-input-static,
[data-a11y='AAA'] .po-lookup-input.po-lookup-input-auto-aa,
[data-a11y='AAA'] .po-lookup-input.po-lookup-input-static-aa {
  padding: 4px 44px 4px 4px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.po-lookup-input.po-lookup-input-auto-aa,
.po-lookup-input.po-lookup-input-static-aa {
  padding: 0.5px 32px 0.5px 4px;
}

.po-lookup-input-auto .po-lookup-input-disclaimer {
  display: inline-block;
  padding: 2px 4px;
}

.po-lookup-input-static .po-lookup-input-disclaimer {
  display: inline-block;
  padding: 4px;
}

.po-lookup-input-static .po-lookup-input-placeholder {
  padding: 5px 8px;
}

.po-lookup-input.po-lookup-input-padding-button-clean,
[data-a11y='AAA'] .po-lookup-input.po-lookup-input-padding-button-clean-aa {
  padding-right: 88px;
}

.po-lookup-input.po-lookup-input-padding-button-clean-aa {
  padding-right: calc(var(--target-size-aa) * 2);
}

.po-lookup .po-lookup-input:disabled,
.po-lookup-input-disabled,
.po-lookup-input-disabled:hover {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);

  color: var(--text-color-disabled);
  cursor: not-allowed;

  overflow: hidden;
  pointer-events: none;
}

.po-lookup-input-disabled:focus {
  outline: none;
}

po-lookup.ng-invalid.ng-dirty .po-lookup-input:disabled,
.po-lookup .po-lookup-input:disabled ~ .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger,
.po-lookup.po-lookup-disabled .po-lookup-input-disabled,
.po-lookup.po-lookup-disabled .po-lookup-input-disabled:hover,
.po-lookup.po-lookup-disabled .po-lookup-icon *,
.po-lookup.po-lookup-disabled .po-lookup-buttons * {
  background-color: var(--background-disabled);
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

po-lookup.ng-invalid.ng-dirty
  .po-lookup-input:disabled
  ~ .po-lookup-buttons
  .po-lookup-button.po-lookup-button-trigger::before,
po-lookup .po-lookup-input:disabled ~ .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger::before {
  background-color: var(--color-disabled);
}

po-lookup.ng-invalid.ng-dirty:hover .po-lookup-input:hover {
  background-color: var(--background-error);
  border-color: var(--color-error);
  color: var(--color-error);
}
po-lookup.ng-invalid.ng-dirty:hover
  .po-lookup-input:hover
  ~ .po-lookup-buttons
  .po-lookup-button.po-lookup-button-trigger,
po-lookup.ng-invalid.ng-dirty .po-lookup-button-trigger:hover,
po-lookup.ng-invalid.ng-dirty .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger {
  border-left-color: var(--color-error);
  color: var(--color-error);
}

po-lookup.ng-invalid.ng-dirty .po-lookup-input,
po-lookup.ng-invalid.ng-dirty:hover .po-lookup-input:not(:disabled),
po-lookup.ng-invalid.ng-dirty .po-lookup-input:focus,
po-lookup.ng-invalid.ng-dirty .po-lookup-input:hover {
  border-color: var(--color-error);
}

po-lookup.ng-invalid.ng-dirty
  .po-lookup-input:not(:disabled)
  ~ .po-lookup-buttons
  .po-lookup-button.po-lookup-button-trigger::before,
po-lookup.ng-invalid.ng-dirty:hover
  .po-lookup-input:not(:disabled)
  ~ .po-lookup-buttons
  .po-lookup-button.po-lookup-button-trigger::before {
  background-color: var(--color-error);
}

po-lookup.ng-invalid.ng-dirty .po-lookup-button,
po-lookup.ng-invalid.ng-dirty .po-lookup-input:hover,
po-lookup.ng-invalid.ng-dirty:hover .po-lookup-buttons .po-lookup-button.po-lookup-button-trigger {
  border-left-color: var(--color-error);
  color: var(--color-error);
}

po-lookup.ng-invalid.ng-dirty .po-lookup-input:focus ~ .po-lookup-buttons .po-lookup-button-trigger {
  border-left-color: var(--color-error);
}

po-lookup.ng-invalid.ng-dirty.po-lookup-loading {
  background-color: var(--background-disabled);
  border-color: var(--color-disabled);
  color: var(--text-color-disabled);
}

po-lookup.ng-invalid.ng-dirty.po-lookup-loading .po-lookup-button-loading .po-loading-icon-container .po-loading-icon,
po-lookup.ng-invalid.ng-dirty.po-lookup-loading .po-lookup-button-loading .po-loading-icon-container svg {
  color: var(--color-action-default);
}

po-lookup[p-loading='true'].ng-invalid.ng-dirty .po-field-icon {
  color: var(--text-color-disabled) !important;
}

.po-lookup-field-wrapper,
.po-lookup-flex-item {
  display: contents;
}

.po-lookup-field-wrapper._active {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-xs);
  flex-wrap: nowrap;
  min-width: 0;
  padding-right: var(--spacing-xs);
}

.po-lookup-field-wrapper._active .po-lookup-flex-item {
  display: block;
  flex: 1 1 0;
  min-width: 0;
}

.po-lookup-field-wrapper._active .po-field-container-content {
  display: block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.po-lookup-field-wrapper._active .po-lookup-input {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.po-lookup-field-wrapper._active po-helper {
  flex: 0 0 auto;
  position: relative;
  top: 5px;
}

.po-lookup-field-wrapper._active:has(po-disclaimer) po-helper {
  top: 6px;
}

.po-lookup-field-wrapper._active po-helper:has(.po-helper-container[p-size='small']) {
  top: 3px;
}

[data-a11y='AA']
  .po-lookup-field-wrapper._active:has(.po-lookup-input-auto-aa.po-lookup-input-auto-dynamic-height)
  po-helper:has(.po-helper-container[p-size='small']) {
  top: 5px;
}

.po-lookup-field-wrapper._active:has(.po-lookup-input-auto.po-lookup-input-auto-dynamic-height po-disclaimer)
  po-helper {
  top: 9px;
}

.po-lookup-button-trigger.po-field-icon-disabled > po-icon {
  display: flex;
}

.po-lookup-button-loading .po-loading-icon-container {
  display: flex;
}

.po-lookup-button-loading .po-loading-icon-container .po-loading-icon,
.po-lookup-button-loading .po-loading-icon-container svg {
  color: var(--color-action-default);
}

.po-lookup.po-lookup-loading .po-lookup-input:not(:disabled),
.po-lookup.po-lookup-loading .po-lookup-input-auto,
.po-lookup.po-lookup-loading .po-lookup-input-static {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  color: var(--text-color-disabled);
  cursor: not-allowed;
}

po-lookup[p-loading='true'] .po-disclaimer {
  background-color: var(--background-disabled);
  border-color: var(--color-disabled);
  color: var(--text-color-disabled);
}

.po-lookup.po-lookup-disabled.po-lookup-loading .po-lookup-button-loading,
.po-lookup.po-lookup-disabled.po-lookup-loading .po-lookup-button-loading * {
  color: unset;
}

.po-lookup.po-lookup-loading .po-lookup-button-loading .po-loading-icon-container .po-loading-icon,
.po-lookup.po-lookup-loading .po-lookup-button-loading .po-loading-icon-container svg {
  color: var(--color-action-default);
}

.po-lookup.po-lookup-loading .po-lookup-button-loading,
.po-lookup.po-lookup-loading .po-lookup-button-trigger {
  background-color: var(--background-disabled);
  color: var(--color-disabled);
  cursor: not-allowed;
}

.po-lookup.po-lookup-loading .po-lookup-button-trigger .po-field-icon,
.po-lookup.po-lookup-loading .po-lookup-button-trigger .po-icon,
.po-lookup.po-lookup-loading .po-lookup-button-trigger::before {
  color: var(--color-disabled);
  background-color: var(--color-disabled);
}

.po-lookup .po-lookup-button-loading {
  padding-inline: 0;
  min-width: var(--target-size-aaa);
}

[p-size='small'] .po-lookup .po-lookup-button-loading {
  min-width: var(--target-size-aa);
}
