:root {
  --shadow-checkbox-group-box-shadow-input: var(--shadow-input);
}

.po-checkbox-group-item {
  padding: 0 var(--spacing-md) 0 0;
  position: relative;
}

.po-checkbox-group-item .po-checkbox-group-input {
  height: 0;
  width: 0;
}

ul.po-list-checkbox-group {
  list-style: none;
}

li.po-checkbox-group-item {
  list-style: none;
}

po-checkbox-group.ng-invalid.ng-dirty .po-checkbox:not([aria-disabled='true']) {
  border: solid 2px var(--color-checkbox-group-border-input-invalid);
}

.po-checkbox-group-content ul {
  padding: var(--spacing-xs) 0;
  row-gap: var(--spacing-md);
  width: 100%;
}
