<style>
  .container {
    margin-top: 10px;
  }

  .table-sample-po-checkbox-group td,
  .table-sample-po-checkbox-group th {
    padding: 0 10px;
    text-align: left;
  }
</style>

<article>
  <section>
    <div class="container">
      <h4>Estados do po-checkbox-group</h4>

      <table class="table-sample-po-checkbox-group">
        <tr>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span tabindex="0" aria-checked="false" aria-disabled="false" class="po-checkbox" role="checkbox">
                  </span>

                  <label class="po-checkbox-label"> False Enabled</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span tabindex="0" aria-checked="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label"> True Enabled</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span aria-checked="true" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1"> True Disabled</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <po-checkbox-group class="ng-invalid ng-dirty">
              <div class="po-field-container-content po-checkbox-group-content">
                <div class="po-checkbox-group-item">
                  <div class="container-po-checkbox">
                    <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                    </span>

                    <label class="po-checkbox-label"> Enabled Required</label>
                  </div>
                </div>
              </div>
            </po-checkbox-group>
          </td>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1"> False Disabled</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span aria-checked="mixed" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1"> Indeterminate Disabled</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="po-field-container-content po-checkbox-group-content">
              <div class="po-checkbox-group-item">
                <div class="container-po-checkbox">
                  <span aria-checked="mixed" aria-disabled="false" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1"> Indeterminate Enabled</label>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="container">
      <h4>Utilizando o po-field-container</h4>
      <div class="po-field-container">
        <div class="po-field-container-title">
          <span class="po-field-title">Campo de texto com apoio</span>
        </div>
        <div class="po-field-help">Texto de ajuda</div>
        <div class="po-field-container-content po-checkbox-group-content">
          <div class="po-row po-pt-1 po-pb-1">
            <div class="po-checkbox-group-item po-md-6">
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="true" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                <label class="po-checkbox-label" tabindex="-1"> Opção 1</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="true" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 2</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="mixed" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 3</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 4</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                <label class="po-checkbox-label" tabindex="-1"> Opção 5</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="mixed" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 6</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="mixed" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 7</label>
              </div>
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="true" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                <label class="po-checkbox-label" tabindex="-1"> Opção 8</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Utilizando o po-checkbox-group com opção de desabilitar todos e opcional</h4>
      <div class="po-field-container">
        <div class="po-field-container-title">
          <span class="po-field-title">Campo de texto com apoio</span>
          <span class="po-field-optional">(Opcional)</span>
        </div>
        <div class="po-field-help">Texto de ajuda</div>

        <div class="po-field-container-content po-checkbox-group-content">
          <div class="po-row po-pt-1 po-pb-1">
            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label" tabindex="-1"> Opção 1</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label" tabindex="-1"> Opção 2</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label" tabindex="-1"> Opção 3</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label" tabindex="-1"> Opção 4</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Utilizando o po-checkbox-group sem label e sem help</h4>
      <div class="po-field-container">
        <div class="po-field-container-title"></div>

        <div class="po-field-container-content po-checkbox-group-content">
          <div class="po-row po-pt-1 po-pb-1">
            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label"> Opção 1</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label"> Opção 2</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label"> Opção 3</label>
            </div>

            <div class="container-po-checkbox po-pb-3 po-md-6">
              <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox"> </span>

              <label class="po-checkbox-label"> Opção 4</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Utilizando o po-checkbox-group sem label, sem help e inválido</h4>
      <po-checkbox-group class="ng-invalid ng-dirty">
        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content po-checkbox-group-content">
            <div class="po-row po-pt-1 po-pb-1">
              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 1</label>
              </div>

              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 2</label>
              </div>

              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 3</label>
              </div>

              <div class="container-po-checkbox po-pb-3 po-md-6">
                <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                </span>

                <label class="po-checkbox-label"> Opção 4</label>
              </div>
            </div>
          </div>
        </div>
      </po-checkbox-group>
    </div>

    <div class="container">
      <h4>Utilizando o po-checkbox-group com label muito grande</h4>
      <po-checkbox-group>
        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content po-checkbox-group-content">
            <div class="po-row po-pt-1 po-pb-1">
              <div class="po-checkbox-group-item po-md-6">
                <div class="container-po-checkbox po-pb-3 po-md-6">
                  <span aria-checked="false" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat."</label
                  >
                </div>
              </div>

              <div class="po-checkbox-group-item po-md-6">
                <div class="container-po-checkbox po-pb-3 po-md-6">
                  <span aria-checked="false" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                  </span>

                  <label class="po-checkbox-label">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat."</label
                  >
                </div>
              </div>

              <div class="po-checkbox-group-item po-md-6">
                <div class="container-po-checkbox po-pb-3 po-md-6">
                  <span aria-checked="true" tabindex="0" aria-disabled="false" class="po-checkbox" role="checkbox">
                  </span>

                  <label class="po-checkbox-label">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</label
                  >
                </div>
              </div>

              <div class="po-checkbox-group-item po-md-6">
                <div class="container-po-checkbox po-pb-3 po-md-6">
                  <span aria-checked="true" aria-disabled="true" class="po-checkbox" role="checkbox"> </span>

                  <label class="po-checkbox-label" tabindex="-1">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat."</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </po-checkbox-group>
    </div>
  </section>
</article>
