:root {
  --menu-size: 290px;
}

.po-menu {
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  background-color: var(--color-menu-background-color-menu, var(--background-color));

  border-width: var(--border-width-sm);
  border-style: solid;

  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  width: var(--menu-size);
}

.po-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.po-menu-body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.po-menu-outer {
  height: 100%;
  overflow: hidden;
}

.po-menu-inner {
  box-sizing: content-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.po-menu-list {
  list-style: none;
}

.po-menu-list-item {
  display: block;
}

.po-collapsed-menu .po-menu-header-container-logo {
  padding-inline: var(--spacing-xs);
}

.po-collapsed-menu .po-menu {
  width: 56px;
}

.po-menu-header-container-logo {
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);

  position: relative;
  width: 100%;

  min-height: 2.75em;
  display: flex;
  align-items: center;
}

.po-menu-logo,
.po-menu-short-logo {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.po-menu-mobile {
  display: none;
}

.po-menu-header-template {
  display: inline-block;
  width: 100%;

  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
}

/* Menu Footer */
.po-menu-footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--color-menu-border-top-collapse-button, var(--border-color));

  max-height: 2.75em;
}

.po-menu-collapse-button-icon {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  border-radius: var(--border-radius);
  color: var(--color-menu-color-menu-item-text, var(--color));

  letter-spacing: var(--letter-spacing-auto);
  min-height: 2.75em;

  font-weight: var(--font-weight-lvl0);

  padding-inline: var(--spacing-sm);

  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: space-between;
  position: relative;
  word-break: break-all;

  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}

.po-menu-collapse-button-icon:is(:focus, :focus-visible) {
  outline-color: var(--outline-color-focused);

  outline-width: var(--outline-width);
  outline-style: solid;
  outline-offset: -4px;
}

.po-menu-collapse-button-icon .po-icon {
  font-size: 1.5rem;
}

.po-menu-collapse-button-icon po-icon {
  display: flex;
}

.po-menu-collapse-button {
  font-size: 1.5rem;
  text-align: right;
}

.po-collapsed-menu .po-menu-collapse-button-icon {
  padding-inline: var(--spacing-xs);
}

.po-collapsed-menu .po-menu-collapse-button-icon po-icon {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .po-menu {
    margin-left: calc(var(--menu-size) * -1);
    position: fixed;
    top: 0;
    transition: margin-left 0.2s ease-in-out;
    z-index: 9999;
  }

  .po-menu-animation {
    margin-left: 0px;
  }

  .po-menu-mobile {
    color: var(--color-menu-color-menu-responsive, var(--color));
    display: block;
    font-size: 28px;
    height: 40px;
    left: 16px;
    padding: 2px 0;
    position: relative;
    top: 0;
    width: 30px;
  }

  .po-menu-overlay {
    background-color: var(--color-menu-background-color-menu-responsive-overlay);
    bottom: 0;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0.7;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}

@media screen and (max-width: 1024px) {
  .po-menu-mobile {
    left: 8px;
  }
}
