.po-upload {
  position: relative;
}

.po-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-top: 10px;
  pointer-events: none;
  opacity: 0.01;
}

.po-upload-progress-container {
  padding-top: 16px;
}

.po-upload-progress-container .po-container-content {
  overflow-y: initial;
}

.po-upload-send-button {
  display: block;
  padding: 8px 0;
}
